<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="keywords" content="ORIX Capital keywords">
    <meta name="description" content="ORIX Capital description">

    <meta property="og:locale" content="ko_KR" />
    <meta property="og:type" content="website" />

    <title>고객센터 > 금융계산기 > 대출계산기</title>

    <link href="../../resources/css/lib/default.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/lib/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/ui/ui_common.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/lib/img.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/ui/media-query.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="../../resources/js/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/ui_common.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/ui_plugin.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/default.js"></script>

</head>
<body>
    <!-- S: skipnavi -->
    <div id="skipnavi">
        <script>
            $(document).ready(function(){
                $("#skipnavi").load("../INCLUDE/inc_skipnavi.html");
            });
        </script>
    </div>
    <!-- E: skipnavi -->
    <div class="wrap">
        <!-- s:header -->
        <div id="headerWrap">
            <script>
                $(document).ready(function(){
                    $("#headerWrap").load("../INCLUDE/inc_header.html");
                });
            </script>
        </div>
        <!-- //e:header -->
         <!-- s:contentWrap -->
        <div id="contentWrap" class="sub-content">
            <!-- s:subvisual-wrap -->
            <div class="subvisual-wrap">
                <div class="breadcrumb-wrap">
                    <ul>
                        <li class="home"><a href="javascript:void(0);">홈</a></li>
                        <li><a href="javascript:void(0);">고객센터</a></li>
                        <li><a href="javascript:void(0);">금융계산기</a></li>
                    </ul>
                </div>
                <div class="text-wrap">
                    <h2>금융계산기</h2>
                    <p class="sub-tit">생활을 <span class="blue">편리하게!</span></br>
                        일상 생활에서, 할부나 대출을 신청하실 때 <span class="blue">간편히!</span> 미래 계산해 보세요</p>
                </div>
            </div>
            <!-- //e:subvisual-wrap -->
            <!-- s:contents -->
            <div class="contents">
                <div class="tabs-wrap">
                    <div class="tabs">
                        <ul class="tab-item">
                            <li class="on" data-tab="tab-cont01"><a href="#none">대출계산기</a></li>
                            <li data-tab="tab-cont02" class=""><a href="#none">할부계산기 </a></li>
                        </ul>
                        <div class="tab-content-area">

                            <div id="tab-cont01" class="tab-content">
                                <form>
                                    <div class="table-type">
                                        <div class="col">
                                            <dl>
                                                <dt>상환방법</dt>
                                                <dd class="form-group">
                                                    <div class="select-box">
                                                        <div class="se-select ei-w160" data-stove="select">
                                                            <select class="" title="메뉴구분">
                                                                <option value="" disabled="" selected="" hidden="">원리금균등상환</option><!-- [D] : default - 셀렉트의 placeholder 기능-->
                                                                <option value="0">option 00</option>
                                                                <option value="1">option 01</option>
                                                                <option value="2">option 02</option>
                                                                <option value="3">option 03</option>
                                                                <option value="4">option 04</option>
                                                                <option value="5">option 05</option>
                                                                <option value="6">option 06</option>
                                                            </select>
                                                            <div class="e-select-dim"></div>
                                                        </div>
                                                    </div>
                                                </dd>
                                                <dt>대출금액</dt>
                                                <dd class="form-group">
                                                    <div class="col-1">
                                                        <input id="" title="금액" type="amount" class="form-control amount-num" placeholder="금액을 입력해주세요"
                                                            inputmode="numeric"><!-- [D] inputmode="numeric" : 세자리 수마다 콤마 적용  -->
                                                        <span class="amount-txt">원</span>
                                                    </div>
                                                </dd>
                                            </dl>
                                            <dl>
                                                <dt>대출기간</dt>
                                                <dd class="form-group">
                                                    <div class="col-1">
                                                        <input id="" title="개월" type="amount" class="form-control amount-num" placeholder="기간을 입력해주세요">
                                                        <span class="amount-txt">개월</span>
                                                    </div>
                                                </dd>
                                                <dt>예상금리</dt>
                                                <dd class="form-group">
                                                    <div class="col-1">
                                                        <input id="" title="금리" type="amount" class="form-control amount-num" placeholder="예상금리를 입력해주세요">
                                                        <span class="amount-txt">%</span>
                                                    </div>
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                </form>
                                <div class="btn-wrap bottom">
                                    <button type="button" name="button" class="btn btn-secondary">초기화</button>
                                    <button type="button" name="button" class="btn btn-primary">계산하기</button>
                                </div>
                                <div class="sub-text-wrap style2">
                                    <h4>상환스케줄</h4>
                                </div>
                                <div class="grid-wrap list-card-wrap repay">
                                    <div class="list-card-group">
                                        <p class="tit">총 납부액</p>
                                        <p class="txt"><span class="blue">40,000,000,000,000</span> 원</p>
                                    </div>
                                    <div class="list-card-group">
                                        <p class="tit">이자 합계</p>
                                        <p class="txt"><span>20,000,000,000,000</span> 원</p>
                                    </div>
                                    <div class="list-card-group">
                                        <p class="tit">원금</p>
                                        <p class="txt"><span>20,000,000,000,000</span> 원</p>
                                    </div>
                                </div>
                                <div class="table-wrap">
                                    <p class="caption3">(단원 : 원)</p>
                                    <div class="table-type ta-c table-row">
                                        <table aria-role="table">
                                            <caption>기간,실적금액에 대한 리스,렌터카,합계 테이블</caption>
                                            <colgroup>
                                                <col width="5%">
                                                <col width="*%">
                                                <col width="*%">
                                                <col width="*%">
                                                <col width="*%">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th>회차</th>
                                                    <th>상환원리금</th>
                                                    <th>이자(월)</th>
                                                    <th>원금상환액(월)</th>
                                                    <th>대출잔액</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>20,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>40,000,000,000,000 원</td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>20,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>40,000,000,000,000 원</td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>20,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>40,000,000,000,000 원</td>
                                                </tr>
                                                <tr>
                                                    <td>4</td>
                                                    <td>20,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>40,000,000,000,000 원</td>
                                                </tr>
                                                <tr>
                                                    <td>5</td>
                                                    <td>20,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>40,000,000,000,000 원</td>
                                                </tr>
                                                <tr>
                                                    <td>6</td>
                                                    <td>20,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>40,000,000,000,000 원</td>
                                                </tr>
                                                <tr>
                                                    <td>7</td>
                                                    <td>20,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>40,000,000,000,000 원</td>
                                                </tr>
                                                <tr>
                                                    <td>8</td>
                                                    <td>20,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>40,000,000,000,000 원</td>
                                                </tr>
                                                <tr>
                                                    <td>9</td>
                                                    <td>20,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>40,000,000,000,000 원</td>
                                                </tr>
                                                <tr>
                                                    <td>10</td>
                                                    <td>20,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>40,000,000,000,000 원</td>
                                                </tr>
                                                <tr>
                                                    <td>11</td>
                                                    <td>20,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>40,000,000,000,000 원</td>
                                                </tr>
                                                <tr>
                                                    <td>12</td>
                                                    <td>20,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>40,000,000,000,000 원</td>
                                                </tr>
                                                <tr>
                                                    <td>13</td>
                                                    <td>20,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>40,000,000,000,000 원</td>
                                                </tr>
                                                <tr>
                                                    <td>14</td>
                                                    <td>20,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>40,000,000,000,000 원</td>
                                                </tr>
                                                <tr>
                                                    <td>15</td>
                                                    <td>20,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>40,000,000,000,000 원</td>
                                                </tr>
                                                <tr>
                                                    <td>16</td>
                                                    <td>20,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>40,000,000,000,000 원</td>
                                                </tr>
                                                <tr>
                                                    <td>17</td>
                                                    <td>20,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>40,000,000,000,000 원</td>
                                                </tr>
                                                <tr>
                                                    <td>18</td>
                                                    <td>20,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>40,000,000,000,000 원</td>
                                                </tr>
                                                <tr>
                                                    <td>19</td>
                                                    <td>20,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>40,000,000,000,000 원</td>
                                                </tr>
                                                <tr>
                                                    <td>20</td>
                                                    <td>20,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>40,000,000,000,000 원</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td>합계</td>
                                                    <td>20,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>10,000,000,000,000 원</td>
                                                    <td>40,000,000,000,000 원</td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- //e:contents -->
            <!--s: scrollTop-->
            <button class="btn btn-top" type="button"><span class="ir">탑버튼</span></button>
            <!--//e: scrollTop-->
        </div>
        <!-- //e:contentWrap -->
        <!-- s:footer -->
        <div id="footerWrap">
            <script>
                $(document).ready(function(){
                    $("#footerWrap").load("../INCLUDE/inc_footer.html");
                });
            </script>
        </div>
        <!-- //e:footer -->
    </div>
</body>

</html>