<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/lib/renewal.css">
    <link rel="stylesheet" href="../../resources/css/lib/default.css">

    <script type="text/javascript" src="../../resources/js/lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/default.js"></script>
    
</head>

<body class="scrollX">
    <div class="wrap">
        <!-- //header -->
        <header id="lnb">
            <script>
                $(document).ready(function(){
                    document.charset="euc-kr";
                    $("#lnb").load("../include/inc_header_sub.html");
                });
            </script>
        </header>
        <!-- header// -->
        <!-- s:menuWrap -->
        <div id="menuWrap">
            <script>
            $(document).ready(function(){
                document.charset="euc-kr";
                $("#menuWrap").load("./include/inc_menu.html");
            });
            </script>
        </div>
        <!-- e:menuWrap -->
        <form>
            <div class="contents-wrap">
                
                <section class="com-text-wrap">
                    <div class="text-wrap">
                        <div class="top_text">
                            Real Estate Platform<br/>
                            to Make a Better Life.
                        </div>
                        <p class="tit">
                            We’ll show you all the kinds of houses you’re looking for.
                        </p>
                        <div class="txt">
                            <p>Have you ever thought about where you would live out of all the houses? With the 필다방, you don’t need these concerns.</p>
                            <p>필다방 is an accurate and convenient integrated residential platform that organically connects tenants, renters, and real estate agents.</p>
                            <p>We strive to create a real estate platform that satisfies everyone by providing transparent and honest information to our customers.</p>
                            <p>If you are looking for a home to share your life with now, join us. The 필다방 will always bring the best into your life.</p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="top-com-img">
                        <img src="../../resources/images/common/company_bg.png" alt="회사소개 배경">
                        <div class="top_text">
                            <a href="#none">
                                <p class="tit">Look around Philwapp</p>
                                <p class="txt">What kind of house  are you looking for?</p>
                            </a>
                        </div>
                    </div>
                </section>
            </div>
        </form>
    </div>
</body>





</html>