/* color */ 
$primary1:#1C69D4;
$primary2: #1F263E;
$orange: #f57f5b;
$pink: #f55b8a;
/* layout */
#guide-header{
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 60px;
    background-color: $primary2;
    z-index: 10;
    .logo{
        float: left;
        width: 250px;
        padding-left: 30px;
        font-size: 22px;
        line-height: 60px;
        color: #fff;
        a{
            //padding-left: 30px;
            color: #fff;
            text-decoration: none;            
            //background: url('/static/images/ma/logo_splash.png') no-repeat 0 50% / auto 60%;
        }
    }
    .nav {
        padding-right: 30px;
        text-align: right;
        li {
            display: inline-block;
            text-align: right;
            padding: 0 15px;
            a {
                line-height: 60px;
                color: #a3a7ae;
                text-decoration: none;
            }
            &.active a {color: #fff;}
        }
    }
}
#guide-aside{
    position: fixed;
    width: 250px;
    overflow: hidden;
    top: 60px;
    left: 0;
    bottom: 0;
    border-right: 1px solid #eee;
    background-color: #fff;
    nav {
        height: 100%;
        display: flex;
        flex-direction: column;
        h2 {
            flex: 0 0 auto;
            padding: 25px 30px 17px;
            font-weight: normal;
            font-size: 18px;
        }
        > ul {
            flex: 1;
            overflow-y: auto;
            > li {
                > a, > strong {
                    display: block;
                    padding: 10px 30px;
                    color: #222;
                    text-decoration: none;
                }
                +li {
                    margin-top: 5px;
                }     
                &.active {
                    > a, > strong {
                        position: relative;
                        font-weight: bold;
                        background-color: #f2f2f2;
                        &::after{
                            content: '';
                            position: absolute;
                            right: 20px;
                            top: 50%;
                            margin-top: -4px;
                            display: inline-block;
                            width: 8px;
                            height: 8px;
                            border-top: 1px solid #000;
                            border-right: 1px solid #000;
                            transform: rotate(45deg);
                        }
                    }
                    ul {
                        display: block;
                    }
                }
            }
            //2depth
            ul {
                display: none;
                margin-top: 10px;
                li {
                    a {
                        position: relative;
                        display: block;
                        padding: 5px 0 5px 30px;
                        font-weight: 350;
                        font-size: 13px;
                        text-decoration: none;
                        color: #a8a8a8;
                    }
                    &.active a {
                        font-size: 14px;
                        color: #222;
                    }
                }
            }
        }   
    }    
}
#guide-content {
    padding-top: 60px;
    padding-left: 250px;
}
.g-content {
    .content-tl {
        padding: 20px 40px;
        font-size: 24px;
        border-bottom: 1px solid #eee;
    }
    section {
        padding: 30px 40px;
        background-color: #fff;
        +section {
            padding-top: 0;
        }
    }
    .section-tl {
        margin-bottom: 15px;
        font-size: 18px;
    }
    h4+.list {margin-left: 0;}
    .list {
        margin: 0 0 15px 15px;
        li {
            position: relative;
            padding-left: 10px;
            &::before {
                content: '';
                position: absolute;
                left: 2px;
                top: 10px;
                display: inline-block;
                width: 2px;
                height: 2px;
                border-radius: 50%;
                background-color: #000;
            }
        }    
    }
    h5 {
        margin-bottom: 5px;
        font-size: 14px;
        &::before {
            content: '';
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 5px;
            border-radius: 0 4px;
            border: 3px solid $primary1;
        }
    }
    h5+* {
        margin-bottom: 15px;
    }
    *+h5 {
        margin-top: 20px;
    }
}
//table
.guide-wrap .table {
    width:100%;
    border-top: 2px solid #414042;
    border-bottom: 1px solid #414042;
    caption {
        text-align: left;
        margin: 7px 0;
    }
    thead th {
        background-color: #fdfdfd;
    }
    th, td {
        padding: 5px 10px;
        font-size: 12px;
        border-right:1px solid #ddd;
        border-top:1px solid #ddd;
        &:last-child{border-right:0;}
    }
    tbody {
        border-top:1px solid #000;
        th {
            background-color: #fdfdfd;
        }
        td {
            font-size: 12px;
        }
        + tbody {
            tr:first-child td{
                border-top: 1px solid #414042;
            }
        }
    }
    +.table {
        margin-top: 30px;
    }
}
/* ia */
.guide-wrap .ia {
    padding: 80px 20px 30px;
    background-color: #fff;
    .col-no,.col-date,.col-status,.col-worker,.col-type{text-align: center;}
    .col-sort,.col-1depth{font-weight:bold;}
    //작업완료
    .tr-done{
        background-color: #edf2f7;
    }
    //검수완료 및 배포
    .tr-fine{
        background-color: #f0f7ed;
    }
    .tr-delete{
        color: #bbb;
        background-color: #eee;
        .col-url a {
            color: #bbb;
            text-decoration: none;
        }
    }
    // 공통
    .tr-common {
        background-color: #eee;
    }
    .table{
        thead th{
            padding-top: 5px;
            padding-bottom: 5px;
            color: #fff;
            background-color: #414142;
            border-bottom: 1px solid #414042;
        }
    }
    .col-memo {
        //width: 30%;
    }
    .guide-note{
        margin-bottom: 40px;
        padding: 10px;
        font-size: 13px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        li{
            +li{margin-top: 7px;}
        }
    }
}    
.header-btn-group {
    position: relative;
    top: calc(50% - 14px);
    float: right;
}
.btn-guide{
    margin-right: 20px;
    padding: 5px 10px;
    font-size: 12px;
    color: #fff;
    border-radius: 2px;
    background-color: $primary1;
    cursor: pointer;
    &.orange  {
        background-color: $orange;
    }
    &.pink  {
        background-color: $pink;
    }
}
.work-status{
    margin-bottom: 7px;
    text-align: right;
    em + em {
        color: $primary1;
    }
}
code {
    font-family: 'consolas';
}

@media (max-width: 414px) {
    .guide-wrap {
        thead,.col-no,.col-sort,.col-1depth,.col-2depth,.col-3depth,.col-4depth,.col-5depth,.col-device,.col-type,.col-worker,.col-memo {
            display: none;
        }
    }
}
.guide-wrap2 {
    padding-top: 60px;
    .ia {
        padding: 0 20px 20px;
    }
    .guide-note{
        display: none;
        @media(min-width: 414px) {
            display: block;
            padding-top: 50px;
            h2 {
                margin-bottom: 15px;
            }
            ul {
                margin-bottom: 40px;
                padding: 10px;
                font-size: 13px;
                border-top: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                li{
                    +li{margin-top: 7px;}
                }
            }
        }
    }
    .table {
        .table-header {
            display: none;
        }
        .table-body {
            margin: 0;
            border: 0;
            padding: 0;
            li {
                .col-memo {  
                    color: #777;
                }
            }
        }
        li {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            +.table-body {
                margin-top: 20px;
            }
            span {
                display: block;
                word-break: break-all;
            }
            .col-no {
                display: none;
            }
            .col-sort {
                display: none;
            }
            .col-1depth {
                flex: 0 0 100%;
                padding-top: 15px;
                font-size: 16px;
                font-weight: 500;
                &:empty {
                    padding-top: 0;
                }
            }
            .col-2depth {
                flex: 0 0 100%;
                font-size: 14px;
                background-color: #e8e2f7;
            }
            .col-3depth {
                flex: 0 0 100%;
                font-size: 12px;
                background-color: #e8e8e8;
            }
            .col-4depth {
                flex: 0 0 100%;
                font-size: 12px;
                background-color: #e8e8e8;
            }
            .col-5depth {
                flex: 0 0 100%;
                font-size: 12px;
                background-color: #e8e8e8;
            }
            .col-device {
                
            }
            .col-pattern, .col-type {
                display: none;
            }
            .col-url {
                &:before,&::before {
                    content: '| ';
                }
                a {text-decoration: underline;}
            }
            .col-date {
                margin-left: auto;
            }
            .col-worker {
                display: none;
            }
            .col-status {
                display: none;
            }
            .col-memo {
                flex: 0 0 100%;
            }
        }
        .tr-delete {
            //display: none;
            > span:nth-child(n+6):not(.col-worker) {
                color: #ccc;
                text-decoration: line-through;
                a {color: #ccc;}
            }
        }
    }
}
@media(min-width: 414px) {
    .guide-wrap2 {
        .sort,.depth1,.depth2 {
            display: none;
        }
        .table {
            margin: 0;
            border-bottom: 1px solid #000;
            li{
                display: table;
                width:100%;
                &.table-header {
                    display: table;
                    color: #fff;
                    background-color: $primary2;
                    span {
                        font-weight: normal;
                        text-align: center;
                        vertical-align: middle;
                    }
                }
                &.table-body {
                    margin: 0 !important;
                    padding: 0;
                    border-top: 1px solid #000;
                    border-bottom: 0;
                }
                &.table-section {
                    margin: 0 !important;
                    padding: 0;
                    border-top: 1px solid #ccc;
                    border-bottom: 0;
                }
                >span {
                    display: table-cell !important;
                    padding: 5px 7px;
                    font-size: 12px !important;
                    border-left: 1px solid #ddd;
                    border-top: 1px solid #ddd;
                    box-sizing: border-box;
                    &:first-child {
                        border-left: 0;
                    }
                }
                .col-no {
                    width: 45px;
                    text-align: center;
                }
                .col-sort {
                    width: 5%;
                    font-weight: bold;
                }
                .col-1depth {
                    width: 7%;
                    background: transparent;
                    padding-top: 0;
                }
                .col-2depth {
                    width: 7%;
                    background: transparent;
                }
                .col-3depth {
                    width: 10%;
                    background: transparent;
                }
                .col-4depth {
                    width: 8%;
                    background: transparent;
                }
                .col-5depth {
                    width: 8%;
                    background: transparent;
                }
                .col-device {
                    width: 90px;
                    text-align: center;
                }
                .col-pattern, .col-type {
                    width: 40px;
                    text-align: center;
                }
                .col-url {
                    width: 8%;
                    &:before,&::before {
                        display: none;
                    }
                }
                .col-id {
                    width: 6%;
                }
                .col-date {
                    width: 75px;
                    text-align: center;
                }
                .col-worker {
                    width: 5%;
                    text-align: center;
                }
                .col-status {
                    width: 80px;
                    text-align: center;
                }
            }
            //작업완료
            .tr-done{
                background-color: #edf2f7;
            }
            //검수완료 및 배포
            .tr-fine{
                background-color: #f0f7ed;
            }
            .tr-delete{
                display: table;
                color: #bbb;
                background-color: #eee;
            }
            // 공통
            .tr-common {
                background-color: #eee;
            }
        }
    }
}

// 태블릿에서 비고 숨김
@media(min-width: 415px) and (max-width: 1300px){
    .guide-wrap2 {
        .table {
            li{
                >.col-memo {
                    display: none !important;
                }
            }
        }
    }
}

