
<head>
    <title>@@@page_title - Aegis</title>
    <meta charset="UTF-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=3.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no" />

    <!-- TODO: search engine info -->
    <meta name="robots" content="Aegis" />
    <meta name="keywords" content="Aegis" />
    <meta name="title" content="Aegis" />
    <meta name="description" content="Aegis" />

    <!-- TODO: social url link image -->
    <meta property="og:url" content="">
    <meta property="og:title" content="Aegis">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta property="og:description" content="Aegis 홈페이지입니다.">

    <!-- TODO: favicon -->
    <link rel="icon" href="favicon.ico" type="favicon.ico" />

    <!-- TODO: import -->
     <link rel="stylesheet" href="../../../">
    <link rel="stylesheet" href="../../../assets/css/lib/datatables.css">
    <link rel="stylesheet" href="../../../assets/css/lib/select.dataTables.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">

    <script src="../../../assets/js/lib/jquery-1.12.4.min.js?v=${version}"></script>
    <script src="../../../assets/js/lib/echarts.js"></script>
    <script src="../../../assets/js/lib/jquery.nice-select.js"></script>
    <script src="../../../assets/js/lib/select.dataTables.js"></script>
    <script src="../../../assets/js/lib/datatables.js"></script>
    <script src="../../../assets/js/scripts.js"></script>
</head>