<article class="top_cont">
    <div class="location">
        <ul>
            <li>Home</li>
            <li>@@@title</li>
        </ul>
        <h2>@@@text</h2>
    </div>
    <div class="user_box">
        <div class="user_info">
            <a href="#" class="user_info_link">
                <p class="user">Hello, <span>redcastle</span></p>
            </a>
            <div class="user_info_list">
                <p>Welcome!</p>
                <ul>
                    <li><a href="#">내정보</a></li>
                    <li><a href="#">사용자관리</a></li>
                    <li class="logout"><a href="#">logout</a></li>
                </ul>
            </div>
        </div>
        <div class="top_dashboard">
            <a href="#" class="top_dashboard_link">
                <span class="linktext">사용자 정보 버튼</span>
            </a>
        </div>
        <div class="top_dashboard_list">
            <ul>
                <li><a href="#">저장된 대시보드 보기</a></li>
                <li><a href="#">대시보드 저장</a></li>
                <li><a href="#">대시보드 삭제</a></li>
                <li><a href="#">공용 대시 보드 등록</a></li>
                <li><a href="#">모든 대시보드 보기</a></li>
                <li><a href="#">대시보드 수정</a></li>
            </ul>
        </div>
    </div>
</article>