<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="keywords" content="ORIX Capital keywords">
    <meta name="description" content="ORIX Capital description">

    <meta property="og:locale" content="ko_KR" />
    <meta property="og:type" content="website" />

    <title>견적확정 < 견적 < 현황조회</title>

    <link href="../../resources/css/lib/default.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/lib/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/ui/ui_common.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/lib/img.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/ui/media-query.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="../../resources/js/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/ui_common.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/ui_plugin.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/default.js"></script>

</head>
<body>
    <!-- S: skipnavi -->
    <div id="skipnavi">
        <script>
            $(document).ready(function(){
                $("#skipnavi").load("../INCLUDE/inc_skipnavi.html");
            });
        </script>
    </div>
    <!-- E: skipnavi -->
    <div class="wrap">
        <!-- s:header -->
        <div id="headerWrap">
            <script>
                $(document).ready(function(){
                    $("#headerWrap").load("../INCLUDE/inc_header.html");
                });
            </script>
        </div>
        <!-- //e:header -->
         <!-- s:contentWrap -->
        <div id="contentWrap" class="sub-content">
            <!-- s:subvisual-wrap -->
            <div class="subvisual-wrap">
                <div class="breadcrumb-wrap">
                    <ul>
                        <li class="home"><a href="javascript:void(0);">홈</a></li>
                        <li><a href="javascript:void(0);">현황조회</a></li>
                        <li><a href="javascript:void(0);">견적</a></li>
                        <li><a href="javascript:void(0);">견적확정</a></li>
                    </ul>
                </div>
                <div class="text-wrap">
                    <h2>현황조회</h2>
                </div>
            </div>
            <!-- //e:subvisual-wrap -->
            <!-- s:contents -->
            <div class="contents">
            </div>
            <!-- //e:contents -->
            <!--s: scrollTop-->
            <button class="btn btn-top" type="button"><span class="ir">탑버튼</span></button>
            <!--//e: scrollTop-->
        </div>
        <!-- //e:contentWrap -->
        <!-- s:footer -->
        <div id="footerWrap">
            <script>
                $(document).ready(function(){
                    $("#footerWrap").load("../INCLUDE/inc_footer.html");
                });
            </script>
        </div>
        <!-- //e:footer -->
    </div>
    <!-- 대표자면제 동의요청 -->
    <div id="PopUp19" class="layerpopup laypop on" style="display:block;" tabindex="0">
        <div class="content-wrap">
            <div class="pop-header">
                <h3 class="pop-title">대표자면제 동의요청</h3>
                <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
            </div>
            <div class="ly-con-wrap ly-scroll-con">
                <div class="table-type">
                    <div class="col">
                        <dl>
                            <dt>법인명</dt>
                            <dd class="form-group">
                                <div class="col-1">
                                    <input id="" title="법인명" type="text" name="" class="form-control" placeholder="법인명 입력">
                                </div>
                            </dd>
                            <!-- 유효성 체크 시, 오류 메시지(form-group에 error추가)
                                <p class="info">법인명을 입력해주세요.</p>
                            -->
                        </dl>
                        <dl>
                            <dt>법인등록번호</dt>
                            <dd class="form-group">
                                <div class="col-1">
                                    <input id="" title="법인등록번호" type="text" name="" class="form-control" placeholder="숫자만 입력">
                                </div>
                                <!-- 유효성 체크 시, 오류 메시지(form-group에 error추가)
                                    <p class="info">법인등록번호를 입력해주세요.</p>
                                -->
                            </dd>
                        </dl>
                        <dl>
                            <dt>법인사업자번호</dt>
                            <dd class="form-group">
                                <div class="col-1">
                                    <input id="" title="법인사업자번호" type="text" name="" class="form-control" placeholder="숫자만 입력">
                                </div>
                                <!-- 유효성 체크 시, 오류 메시지(form-group에 error추가)
                                    <p class="info">법인사업자번호를 입력해주세요.</p>
                                -->
                            </dd>
                        </dl>
                        <dl>
                            <dt>사업장명</dt>
                            <dd class="form-group">
                                <div class="col-1">
                                    <input id="" title="사업장명" type="text" name="" class="form-control" placeholder="사업장명 입력">
                                </div>
                                <!-- 유효성 체크 시, 오류 메시지(form-group에 error추가)
                                    <p class="info">사업장명을 입력해주세요.</p>
                                -->
                            </dd>
                        </dl>
                        <dl>
                            <dt>지점담당자</dt>
                            <dd class="form-group">
                                <div class="col-1">
                                    <input id="" title="지점담당자" type="text" name="" class="form-control" placeholder="지점담당자 이름 입력">
                                </div>
                            </dd>
                            <!-- 유효성 체크 시, 오류 메시지(form-group에 error추가)
                                <p class="info">지점담당자를 입력해주세요.</p>
                            -->
                        </dl>
                        <dl>
                            <dt>상담심사</br>요청의견</dt>
                            <dd class="form-group style3">
                                <textarea type="text" title="전달사항" id="ipt02" class="inp" name="" value="" placeholder="한글기준 최대 50자까지 입력 가능" maxlength="50" required=""></textarea>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="popup-text-wrap style3">
                    <h4 class="tit">대표자면제 심사요청에 필요한 서류를 등록해주세요.</h4>
                </div>
                <div class="table-type">
                    <div class="col">
                        <dl>
                            <dt>법인사업자</br>등록증</dt>
                            <dd class="form-group file error">
                                <div class="form-row">
                                    <div class="upload-name" id="" type="file" tabindex="0">파일을 첨부해주세요</div>
                                    <input title="file" type="file" class="form-control plus-file nwcFile" name="" placeholder="내용을 선택해 주세요"><!--[D] [예시] nwcFile 클래스 :: 첨부 파일 선택 시 리스트 뿌려짐 [ 300MB 이하의 JPG, PNG Case ]-->
                                    <button class="btn btn-input active" type="button">찾아보기</button>
                                </div>
                                <ul class="add-file"><!-- [D] : 파일 리스트 - 스크립트 적용되어있음 -->
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>주주명부</dt>
                            <dd class="form-group file">
                                <div class="form-row">
                                    <div class="upload-name" id="" type="file" tabindex="0">파일을 첨부해주세요</div>
                                    <input title="file" type="file" class="form-control plus-file nwcFile" name="" placeholder="내용을 선택해 주세요"><!--[D] [예시] nwcFile 클래스 :: 첨부 파일 선택 시 리스트 뿌려짐 [ 300MB 이하의 JPG, PNG Case ]-->
                                    <button class="btn btn-input active" type="button">찾아보기</button>
                                </div>
                                <p class="caption">최근 3개월 이내</p>
                                <ul class="add-file"><!-- [D] : 파일 리스트 - 스크립트 적용되어있음 -->
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>법인등기부등본</dt>
                            <dd class="form-group file">
                                <div class="form-row">
                                    <div class="upload-name" id="" type="file" tabindex="0">파일을 첨부해주세요</div>
                                    <input title="file" type="file" class="form-control plus-file nwcFile" name="" placeholder="내용을 선택해 주세요"><!--[D] [예시] nwcFile 클래스 :: 첨부 파일 선택 시 리스트 뿌려짐 [ 300MB 이하의 JPG, PNG Case ]-->
                                    <button class="btn btn-input active" type="button">찾아보기</button>
                                </div>
                                <!--S : 첨부하지 않은 경우 form-group에 error 클래스 추가 -->
                                <p class="info">파일을 첨부해주세요.</p>
                                <!--E : 첨부하지 않은 경우 form-group에 error 클래스 추가 -->
                                <ul class="add-file"><!-- [D] : 파일 리스트 - 스크립트 적용되어있음 -->
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>재무제표</dt>
                            <dd class="form-group file">
                                <div class="form-row">
                                    <div class="upload-name" id="" type="file" tabindex="0">파일을 첨부해주세요</div>
                                    <input title="file" type="file" class="form-control plus-file nwcFile" name="" placeholder="내용을 선택해 주세요"><!--[D] [예시] nwcFile 클래스 :: 첨부 파일 선택 시 리스트 뿌려짐 [ 300MB 이하의 JPG, PNG Case ]-->
                                    <button class="btn btn-input active" type="button">찾아보기</button>
                                </div>
                                <p class="caption">발급 최근년도 재무상태표/손익계산서)</p>
                                <!--S : 첨부하지 않은 경우 form-group에 error 클래스 추가 -->
                                <p class="info">파일을 첨부해주세요.</p>
                                <!--E : 첨부하지 않은 경우 form-group에 error 클래스 추가 -->
                                <ul class="add-file"><!-- [D] : 파일 리스트 - 스크립트 적용되어있음 -->
                                </ul>
                            </dd>
                        </dl>
                        <dl>
                            <dt>기타서류</dt>
                            <dd class="form-group file">
                                <div class="form-row">
                                    <div class="upload-name" id="" type="file" tabindex="0">파일을 첨부해주세요</div>
                                    <input title="file" type="file" class="form-control plus-file nwcFile" name="" placeholder="내용을 선택해 주세요"><!--[D] [예시] nwcFile 클래스 :: 첨부 파일 선택 시 리스트 뿌려짐 [ 300MB 이하의 JPG, PNG Case ]-->
                                    <button class="btn btn-input active" type="button">찾아보기</button>
                                </div>
                                <!--S : 첨부하지 않은 경우 form-group에 error 클래스 추가 -->
                                <p class="info">파일을 첨부해주세요.</p>
                                <!--E : 첨부하지 않은 경우 form-group에 error 클래스 추가 -->
                                <ul class="add-file"><!-- [D] : 파일 리스트 - 스크립트 적용되어있음 -->
                                </ul>
                            </dd>
                        </dl>
                    </div>
                    <p class="caption">서류등록파일은 jpg, gif, png, pdf만 가능합니다.</p>
                    <p class="caption">고객님께서 제출하신 서류는 금융거래 이외의 다른 목적으로 사용되지 않습니다.</p>
                </div>
            </div>
            <div class="btn-wrap popup">
                <button type="button" name="button" class="btn btn-bottom" >대표자면제 심사요청</button>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../resources/js/lib/swiper-bundle.min.js"></script>
</body>

</html>