<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/lib/renewal.css">
    <link rel="stylesheet" href="../../resources/css/lib/default.css">
    <link rel="stylesheet" href="../../resources/css/lib/swiper-bundle.min.css">
    <!-- <link rel="stylesheet" href="../../resources/css/lib/new_renewal.css"> -->

    <script type="text/javascript" src="../../resources/js/lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/default.js"></script>
    <!--  -->
</head>

<body>
    <div class="wrap">
        <!-- //header -->
        <header id="lnb">
            <script>
                $(document).ready(function(){
                    document.charset="euc-kr";
                    $("#lnb").load("../include/inc_header_sub.html");
                });
            </script>
        </header>
        <!-- header// -->
        <!-- s:menuWrap -->
        <div id="menuWrap">
            <script>
            $(document).ready(function(){
                document.charset="euc-kr";
                $("#menuWrap").load("../include/inc_menu.html");
            });
            </script>
        </div>
        <!-- e:menuWrap -->
        <form>
            <div class="contents-wrap">
                <section>
                    <div class="tab">
                        <ul class="tab-item type2 col02">
                            <li class="on" data-tab="tab-cont01"><a href="javascript:void(0);" title="선택됨">FAQ</a></li>
                            <li data-tab="tab-cont02"><a href="javascript:void(0);">Q&A</a></li>
                        </ul>
                        <div id="tab-cont01" class="tab-content">
                            <div class="accordion-cont-wrap">
                                <div class="accordion-item qna">
                                    <div class="accordion">
                                        <button type="button" class="btn-accordion">I'd like to change my membership information.</button>
                                        <div class="accordion-cont">
                                            You can change your membership information after logging in from Menu > My Page > My Information Management.
                                        </div>
                                    </div>
                                    <div class="accordion">
                                        <button type="button" class="btn-accordion">Where can I withdraw from the
                                            membership?</button>
                                        <div class="accordion-cont">
                                            Membership withdrawal is possible through My Page > My Information Management > Membership withdrawal after logging in.The registered sales information and all membership information will be deleted and cannot be recovered when the membership is withdrawn.
                                        </div>
                                    </div>
                                    <div class="accordion">
                                        <button type="button" class="btn-accordion">I'd like to change my membership information.</button>
                                        <div class="accordion-cont">
                                            You can change your membership information after logging in from Menu > My Page > My Information Management.
                                        </div>
                                    </div>
                                    <div class="accordion">
                                        <button type="button" class="btn-accordion">Where can I withdraw from the 
                                            membership?</button>
                                        <div class="accordion-cont">
                                            Membership withdrawal is possible through My Page > My Information Management > Membership withdrawal after logging in.The registered sales information and all membership information will be deleted and cannot be recovered when the membership is withdrawn.
                                        </div>
                                    </div>
                                    <div class="accordion">
                                        <button type="button" class="btn-accordion">Where can I withdraw from the 
                                            membership?</button>
                                        <div class="accordion-cont">
                                            Membership withdrawal is possible through My Page > My Information Management > Membership withdrawal after logging in.The registered sales information and all membership information will be deleted and cannot be recovered when the membership is withdrawn.
                                        </div>
                                    </div>
                                    <div class="accordion">
                                        <button type="button" class="btn-accordion">I'd like to change my membership information.</button>
                                        <div class="accordion-cont">
                                            You can change your membership information after logging in from Menu > My Page > My Information Management.
                                        </div>
                                    </div>
                                    <div class="accordion">
                                        <button type="button" class="btn-accordion">Where can I withdraw from the 
                                            membership?</button>
                                        <div class="accordion-cont">
                                            Membership withdrawal is possible through My Page > My Information Management > Membership withdrawal after logging in.The registered sales information and all membership information will be deleted and cannot be recovered when the membership is withdrawn.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-cont02" class="tab-content dp-none">
                        </div>
                    </div>
                </section>
            </div>
        </form>
    </div>
</body>
</html>

<!-- <div class="btn-cont-wrap">
    <a href="#none" class="btn btn-primary">심사요청</a>
</div> -->