<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/lib/renewal.css">
    <link rel="stylesheet" href="../../resources/css/lib/default.css">
    <link rel="stylesheet" href="../../resources/css/lib/swiper-bundle.min.css">

    <script type="text/javascript" src="../../resources/js/lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/default.js"></script>
</head>

<body>
    <div class="wrap">
        <!-- //header -->
        <header id="lnb">
            <script>
                $(document).ready(function(){
                    document.charset="euc-kr";
                    $("#lnb").load("../include/inc_header.html");
                });
            </script>
        </header>
        <!-- header// -->
        <!-- s:menuWrap -->
        <div id="menuWrap">
            <script>
            $(document).ready(function(){
                document.charset="euc-kr";
                $("#menuWrap").load("../include/inc_menu.html");
            });
            </script>
        </div>
        <!-- e:menuWrap -->
        <form>
            <div class="contents-wrap">
                <section class="info-img-wrap">
                    <div class="text-wrap">
                        <p class="tit">Philwapp Terms & Conditions</p>
                    </div>
                </section>
                <section>
                    <div class="list-cont-wrap">
                        <div class="list-p-wrap">
                            <div class="p-group">
                                <h4>Introduction</h4>
                                <p class="txt">This page states the terms and conditions under which you may use the website <a href="./../main/FILL-APP-MAN-001.html"></a>www.Philwapp.com, PropCtrl and all related apps and services. Philwapp is owned and operated by HomeFind24 (Pty) Ltd, registration number: 2008/019235/07.</p>
                                <p class="txt"><span>Our physical address is:</span><br>Great Westerford, 240 Main Road, Rondebosch, Cape Town, South Africa, 7725.</p>
                                <p class="txt"><span>Our postal address is:</span><br>P.O. Box 234, Newlands, Cape Town, 7725, South Africa</p>
                            </div>
                            <div class="p-group">
                                <h4>Definitions</h4>
                                <p class="txt">1. The terms "you" and "user" as used herein refer to all individuals and/or entities accessing the website.</p>
                                <p class="txt">2. The term "website" as used herein refers to www.Philwapp.com</p>
                            </div>
                            <div class="p-group">
                                <h4>General</h4>
                                <p class="txt">By using the website, you are indicating your acceptance to be bound by these terms and conditions. The website may revise these terms and conditions at any time by updating this page. You should visit this page periodically to review the terms and conditions, to which you are bound.</p>
                            </div>
                            <div class="p-group">
                                <h4>Terms of Use</h4>
                                <p class="txt">1. Users may not use the website in order to transmit, distribute, store or destroy material:</p>
                                <ul class="txt list-dash">
                                    <li> in violation of any applicable law or regulation;</li>
                                    <li> in a manner that will infringe the copyright, trademark, trade secret or other intellectual property rights of others or violate the privacy, publicity or other personal rights of others;</li>
                                    <li> that is defamatory, obscene, threatening, abusive or hateful.</li>
                                </ul>
                                <p class="txt">2. The following is prohibited with respect to the website:</p>
                                <ul class="txt list-dash">
                                    <li> Using any robot, spider, other automatic device or manual process to monitor or copy any part of the website;</li>
                                    <li> Using any device, software or routine or the like to interfere or attempt to interfere with the proper working of the website.</li>
                                    <li> Taking any action that imposes an unreasonable or disproportionately large load on the website infrastructure;</li>
                                    <li> Copying, reproducing, altering, modifying, creating derivative works, or publicly displaying any content from the website without Philwapp's prior written permission;</li>
                                    <li> Reverse assembling or otherwise attempting to discover any source code relating to the website or any tool therein, except to the extent that such activity is expressly permitted by applicable law notwithstanding this limitation; and</li>
                                    <li> Attempting to access any area of the website to which access is not authorized.</li>
                                </ul>
                            </div>
                            <div class="p-group">
                                <h4>Copyright and Intellectual Property Rights</h4>
                                <p class="txt">1. All content, trademarks and data on this website, including but not limited to, software, databases, text, graphics, icons, hyperlinks, private information, and designs are the property of or licensed to the website.</p>
                                <p class="txt">2. Users of this website are not granted a licence or any other right including without limitation under Copyright, Trade Mark, Patent or Intellectual Property Rights in/or to the content.</p>
                            </div>
                            <div class="p-group">
                                <h4>Privacy Policy</h4>
                                <p class="txt">Please refer to our <a href="./FILL-APP-CSC-006.html">Privacy Policy</a> for further information.</p>
                            </div>
                            <div class="p-group">
                                <h4>Security</h4>
                                <p class="txt">1. Users are prohibited from violating or attempting to violate the security of the Website, including, but without limitation:</p>
                                <ul class="txt list-dash">
                                    <li> accessing data not intended for such user or logging into a server or account which the user is not authorized to access;</li>
                                    <li> attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization;</li>
                                    <li> attempting to interfere with service to any user, host or network, including, without limitation, via means of submitting a virus to the website, overloading, "flooding", "spamming", "mail bombing" or "crashing";</li>
                                    <li> sending unsolicited email, including promotions and/or advertising of products or services;</li>
                                    <li> forging any TCP/IP packet header or any part of the header information in any email or newsgroup posting;</li>
                                    <li> deleting or revising any material posted by any other person or entity;</li>
                                    <li> using any device, software or routine to interfere or attempt to interfere with the proper working of this website or any activity being conducted on this site.</li>
                                </ul>
                                <p class="txt">2. Violations of system or network security may result in civil or criminal liability. Philwapp will investigate occurrences, which may involve such violations and may involve, and cooperate with, law enforcement authorities in prosecuting users who are involved in such violations.</p>
                            </div>
                            <div class="p-group">
                                <h4>Disclaimer</h4>
                                <p class="txt">1. The website carries property advertisements, news, reviews and other content independently published by third parties on the website. The website is not involved in the buying, selling or development of the property process and must not be considered to be an agent, buyer and/or a developer with respect to the use of the website.</p>
                                <p class="txt">2. Philwapp shall not be responsible for any user entering into agreements or making decision whatever nature in connection with the posting of property ads, property information, personal owned property information, use of financial calculators and/or the contents thereof and/or any other information obtained on the website.</p>
                                <p class="txt">3. Whilst Philwapp has taken reasonable measures to ensure the integrity of the website and its contents, no warranty, whether express or implied, is given that the website will operate error-free or that any files, downloads or applications available via the website are free of viruses, trojans, bombs, time-locks or any other data, code or harmful mechanisms which has the ability to corrupt or affect the operation of your system.</p>
                                <p class="txt">4. In no event shall Philwapp, and/or any third party contributors of material to the website be liable for any costs, expenses, losses and damages of any nature (whether direct, indirect, punitive, incidental, special or consequential) arising out of or in any way connected with your use of the website, your inability to use the website and/or the operational failure of the website, and whether or not such costs, expenses, losses and damages are based on contract, delict, strict liability or otherwise.</p>
                                <p class="txt">5. Insofar as the website contains links to any other internet websites, you acknowledge and agree that Philwapp does not have control over any such website and Philwapp shall therefore not be liable in any way for the contents of any such linked website, nor for any costs, expenses, losses or damages of any nature whatsoever arising from your access and/or use of any such website.</p>
                            </div>
                            <div class="p-group">
                                <h4>Severability</h4>
                                <p class="txt">1.These Terms & Conditions constitute the entire agreement between Philwapp and you. Any failure by Philwapp to exercise or enforce any right or provision of these Terms & Conditions shall in no way constitute a waiver of such right or provision.</p>
                                <p class="txt">2. In the event that any term or condition is not fully enforceable or valid for any reason, such term(s) or condition(s) shall be severable from the remaining terms and conditions. The remaining terms and conditions shall not be affected by such unenforceability or invalidity and shall remain enforceable and applicable.</p>
                            </div>
                            <div class="p-group">
                                <h4>Applicable Law</h4>
                                <p class="txt">This website is hosted, controlled and managed in the Republic of South Africa, and thus, South African law and jurisdiction govern the use or inability to use this website, or any other matter related to this website.</p>
                            </div>
                            <div class="p-group">
                                <h4>Disputes</h4>
                                <p class="txt">All disputes in terms of this agreement or relating to the use or inability to use this web site shall be settled by arbitration conducted in English in terms of the rules of the South African Arbitration Foundation. Such arbitration shall be held in Cape Town, and the unsuccessful party shall pay all costs incurred by the successful party in attending and preparing for such arbitration.</p>
                            </div>
                            <div class="p-group">
                                <h4>Philwapp E-mail Disclaimer</h4>
                                <p class="txt">1. This message and any accompanying attachment(s) may contain confidential and copyrighted information. If you are not the addressee(s) indicated in this message or responsible for delivery of the message to the addressee(s), do not copy or deliver this message or the attachments to any other person including the intended recipient. Please destroy this message and notify Philwapp if this is the case.</p>
                                <p class="txt">2. Any comments and statements contained within this message should be seen as opinions only and not statements of fact. Philwapp will not accept liability for any loss suffered as a result of relying on this message unless the message indicates that the information is subject to an express warranty and has been authenticated by a digital signature capable of verifying the integrity of the message.</p>
                                <p class="txt">3. An e-mail is deemed to have been sent as soon as it is reflected in our service provider's mail server logs and is deemed to be received once we have either sent a delivery receipt or confirmed receipt by way of e-mail.</p>
                                <p class="txt">4. Philwapp takes all reasonable steps to ensure that this e-mail message is free from destructive code (such as viruses) but cannot guarantee the message is free from destructive code and so cannot be held liable for any loss or damage due to destructive code. Please inform us as soon as possible should you become aware of any destructive code that originated from this e-mail.</p>
                                <p class="txt">5. Philwapp may monitor e-mails in an attempt to ensure the quality of communications as well as for purposes of investigating or detecting the unauthorised use of the e-mail system. Please do not communicate via this e-mail system if you do not wish for your communications to be subjected to such scrutiny.</p>
                            </div>
                            <div class="p-group">
                                <h4>Property Listing Service</h4>
                                <p class="txt">1. If you use the Philwapp property listing service (Listing Service) then, in addition to the terms and conditions above, the following terms and conditions apply.</p>
                                <p class="txt">2. In the following, "material" includes any text, photographs, floor plans or other material prepared and submitted by any third party service provider on your behalf.</p>
                                <p class="txt">3. Philwapp is not, and does not hold itself out to be:</p>
                                <ul class="txt list-dash">
                                    <li> an estate agent generally, or an "estate agent" as defined and contemplated in the Estate Agency Affairs Act, 1976, as amended, or any replacement legislation, in particular; or</li>
                                    <li> an attorney, conveyancer, financial or tax advisor, mortgage bond originator, or valuer.</li>
                                </ul>
                                <p class="txt">4. Philwapp has no power as agent or otherwise to negotiate or conclude any agreement on your behalf, and no such power must be inferred. You are liable for all obligations and consequences howsoever arising from your negotiation or conclusion of any agreement pursuant to the use of the Listing Service. You are strongly urged to make detailed enquiries about any party that you intend negotiating or contracting with, and to obtain advice from a qualified professional before concluding any contract.</p>
                                <p class="txt">5. You use the Listing Service at your own risk.</p>
                                <p class="txt">6. When using the Listing Service you may not submit any material that:</p>
                                <ul class="txt list-dash">
                                    <li> is unlawful;</li>
                                    <li> is harmful to minors;</li>
                                    <li> is fraudulent, false or misleading;</li>
                                    <li> infringes any third party intellectual property, personal, confidentiality, or other rights; or</li>
                                    <li> is defamatory or obscene.</li>
                                </ul>
                                <p class="txt">7. You are solely responsible for all material that you submit and any consequences that may result from your submission. Philwapp has the right (but not the obligation), in its sole discretion and without notice, to refuse or to delete any material that Philwapp in its sole discretion considers to be in breach of these terms and conditions.</p>
                                <p class="txt">8. You must submit all material in the format and detail determined by Philwapp from time to time.
                                </p>
                                <p class="txt">9. Philwapp has the right (but not the obligation), without notice:</p>
                                <ul class="txt list-dash">
                                    <li> to monitor and moderate all material submitted on the Listing Service; and</li>
                                    <li> to refuse or to restrict any user's use of the Listing Service, temporarily or permanently.</li>
                                </ul>
                                <p class="txt">10. Philwapp:</p>
                                <ul class="txt list-dash">
                                    <li> is not responsible for the accuracy of any material that is submitted; and</li>
                                    <li> does not endorse any material submitted or product listed, and no such endorsement must be inferred, or claimed by you.</li>
                                </ul>
                                <p class="txt">11. You grant Philwapp a perpetual, royalty-free, transferable right to publish all material submitted by you.</p>
                                <p class="txt">12. You must comply with all applicable laws, including (without limitation) the Consumer Protection Act, 2008 (in particular, sections 29 to 39 of that act) and the Alienation of Land Act, 1981.</p>
                                <p class="txt">13. If you instruct Philwapp to contract with any third party to prepare and submit material on your behalf, Philwapp is not liable to you for any damages or costs howsoever arising as a result of any act or omission on the part of the third party, including (without limitation) any deficiency in the material, or damage or loss incurred at your premises when the third party renders the service; and you indemnify Philwapp accordingly.</p>
                                <p class="txt">14. You agree to pay all fees and other amounts charged by Philwapp for using the Listing Service from time to time. If you fail to pay the fees when due, Philwapp may (without prejudice to any other rights it may have), without notice, suspend your use of the Listing Service temporarily or permanently. Fees are not refundable.</p>
                                <p class="txt">15. OTP Service. Philwapp includes in the Listing Service a service (OTP Service) that enables you to obtain (i) a blank offer to purchase agreement (OTP) for completion, and (ii) the free services of an attorney (OTP Attorney) to help you to complete the OTP. If you use the OTP Service then, in addition to, and without limiting any of the terms and conditions above, the following terms and conditions apply:</p>
                                <ul class="txt list-dash">
                                    <li> As noted above Philwapp is not an attorney, conveyancer or estate agent, and does not purport to be any of those.</li>
                                    <li> Philwapp is not able to, does not, and does not purport to provide any legal services.</li>
                                    <li> The OTP and the information about the OTP Attorney is provided to you for information purposes only.</li>
                                    <li> If you decide to use the OTP and/or the services of the OTP Attorney you do so entirely at your own risk. Philwapp gives no warranties and makes no representations about the OTP or the OTP Attorney.</li>
                                    <li> Philwapp does not endorse the Attorney.</li>
                                    <li> In no event shall Philwapp be liable for any costs, expenses, losses and damages of any nature (whether direct, indirect, punitive, incidental, special or consequential) howsoever arising out of or in any way connected with your use of the OTP Service, and whether or not such costs, expenses, losses and damages are based on contract, delict, strict liability or otherwise. You indemnify Philwapp accordingly.</li>
                                </ul>
                                <p class="txt">16. Philwapp serves both local and international users and strives for a consistent quality browsing experience for all. To achieve this, all our listings are required to be advertised in English.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="fixed-btn-wrap">
                    <div class="fixed-btn-wrap relative">
                        <div class="btn-cont-wrap">
                            <a href="./../main/FILL-APP-MAN-001.html" class="btn btn-primary">Home</a>
                        </div>
                    </div>
                </section>
            </div>
        </form>
    </div>
</body>
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        loop: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        }
    });
</script>

</html>