<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/lib/renewal.css">
    <link rel="stylesheet" href="../../resources/css/lib/default.css">
    <link rel="stylesheet" href="../../resources/css/lib/swiper-bundle.min.css">

    <script type="text/javascript" src="../../resources/js/lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/default.js"></script>
</head>

<body>
    <div class="wrap">
        <!-- //header -->
        <header id="lnb">
            <script>
                $(document).ready(function(){
                    document.charset="euc-kr";
                    $("#lnb").load("../include/inc_header.html");
                });
            </script>
        </header>
        <!-- header// -->
        <!-- s:menuWrap -->
        <div id="menuWrap">
            <script>
            $(document).ready(function(){
                document.charset="euc-kr";
                $("#menuWrap").load("../include/inc_menu.html");
            });
            </script>
        </div>
        <!-- e:menuWrap -->
        <form>
            <div class="contents-wrap">
                <section class="info-img-wrap">
                    <div class="text-wrap">
                        <p class="tit">Philwapp Privacy Policy</p>
                    </div>
                </section>
                <section>
                    <div class="list-cont-wrap">
                        <div class="text-box">
                            <p class="txt">We respect your privacy. Callouts like this are a summary of our privacy policy and contain the most important and relevant points for you. Please read the full privacy policy because it applies to you.</p>
                        </div>
                        <div class="list-p-wrap">
                            <div class="p-group">
                                <h4>1. Introduction</h4>
                                <p class="txt">Welcome to our privacy policy. We respect your privacy and take the protection of personal information very seriously. We understand that your trust is our most important asset.</p>
                                <p class="txt">Philwapp is owned and operated by HomeFind24 (Pty) Ltd.</p>
                                <ul class="txt list-dash">
                                    <li> Company registration number: 2008/019235/07</li>
                                    <li> Registered address: Great Westerford, 240 Main Road, Rondebosch, Cape Town, 7725</li>
                                </ul>
                                <p class="txt">To provide you with our full range of Philwapp products and services we need to collect and process certain information about you.</p>
                                <p class="txt">The purpose of this policy is to describe the way that we collect, store, use, and protect information that can be associated with you or another specific natural or juristic person and can be used to identify you or that person (<span>personal information</span>).</p>
                                <p class="txt">This privacy policy must be read in conjunction with our <a href="./FILL-APP-CSC-005.html">Terms & Conditions</a>.</p>
                                <p class="txt mark">※ The purpose of this policy is to describe the way that we handle your personal information.</p>
                            </div>
                            <div class="p-group">
                                <h4>2. Audience</h4>
                                <p class="txt">This policy applies to you if you are:</p>
                                <ul class="txt list-dash">
                                    <li> a visitor to our website, mobile site, applications ("apps") or</li>
                                    <li> a customer who has ordered a product, or requested a service that we provide, or</li>
                                    <li> an estate agency making use of our services, or</li>
                                    <li> anyone contacting us by phone, SMS, email, in letters and other correspondence, and in person.</li>
                                </ul>
                                <p class="txt mark">※ This policy applies to you under certain circumstances.</p>
                            </div>
                            <div class="p-group">
                                <h4>3. Personal information</h4>
                                <p class="txt">Personal information includes:</p>
                                <ul class="txt list-dash">
                                    <li> certain information that we collect automatically when you visit our website;</li>
                                    <li> certain information collected on registration (see below);</li>
                                    <li> certain information collected on submission; and</li>
                                    <li> optional information that you provide to us voluntarily (see below);</li>
                                </ul>
                                <p class="txt">but excludes:</p>
                                <ul class="txt list-dash">
                                    <li> information that has been made anonymous so that it does not identify a specific person;</li>
                                    <li> permanently de-identified information that does not relate or cannot be traced back to you specifically;</li>
                                    <li> non-personal statistical information collected and compiled by us; and</li>
                                    <li> information that you have provided voluntarily in an open, public environment or forum including any blog, chat room, community, classifieds, or discussion board (because the information has been disclosed in a public forum, it is no longer confidential and does not constitute personal information subject to protection under this policy).</li>
                                </ul>
                                <p class="txt mark">※ Personal information includes information we collect (i) automatically when you visit our website, (ii) on registration, (iii) on submission, and (iv) from you voluntarily. It excludes (i) anonymous, (ii) de-identified, (iii) non-personal statistical, and (iv) public information.</p>
                                <p class="txt ex">3.1 Common examples</p>
                                <p class="txt">Common examples of the types of personal information which we may collect and process include:</p>
                                <ul class="txt list-dash">
                                    <li> <span>identifying information</span>- such as your first name and last name;</li>
                                    <li> <span>contact information</span>- such as your phone number and email address;</li>
                                </ul>
                            </div>
                            <div class="p-group">
                                <h4>4. Acceptance</h4>
                                <p class="txt ex">4.1 Acceptance required</p>
                                <p class="txt">You acknowledge and accept all the terms of this policy when accessing the website to order a product or request our services.</p>
                                <p class="txt ex">4.3 Deemed acceptance</p>
                                <p class="txt">By accepting this policy, you are deemed to have read, understood, accepted, and agreed to be bound by all of its terms.</p>
                                <p class="txt ex">4.4 Your obligations</p>
                                <p class="txt">You may only send us your own personal information, or the information of another data subject where you have their permission to do so.</p>
                            </div>
                            <div class="p-group">
                                <h4>5. Changes</h4>
                                <p class="txt">We reserve the right to change the terms of this policy at any time. All changes to this policy will be posted on the website. Unless otherwise stated, the current version shall supersede and replace all previous versions of this policy.</p>
                                <p class="txt">If you do not agree with the changes, then you must stop using the website and our products or services. If you continue to use the website or our products or services following notification of a change to the terms, the changed terms will apply to you and you will be deemed to have accepted those updated terms.</p>
                            </div>
                            <div class="p-group">
                                <h4>6. Collection</h4>
                                <p class="txt ex">6.1 Purposes for collection</p>
                                <p class="txt">We may use or process any product or services information, or optional information that you provide to us for the purposes indicated in this privacy policy. Processing includes gathering your personal information, disclosing it, and combining it with other personal information. We generally collect and process your personal information for various purposes, including</p>
                                <ul class="txt list-dash">
                                    <li> <span>products or services purposes</span>- such as collecting orders or requests for and providing our products or services;</li>
                                    <li> <span>marketing purposes</span>- such as pursuing lawful related marketing activities;</li>
                                    <li> <span>business purposes</span>- such as business intelligence and analytics, product improvement, internal audit, accounting, business planning, and joint ventures, disposals of business, or other proposed and actual transactions; and</li>
                                    <li> <span>legal purposes</span>- such as handling claims, complying with regulations, or pursuing good governance.</li>
                                </ul>
                                <p class="txt mark">※ We may use any of your personal information that you provide to us for the purposes indicated in this privacy policy.</p>
                                <p class="txt ex">6.2 On registration</p>
                                <p class="txt">Once you register on our website to create an account, you will no longer be anonymous to us. You will need to provide certain personal information when you register on our website.</p>
                                <p class="txt">This personal information will include:</p>
                                <ul class="txt list-dash">
                                    <li> your first name and surname;</li>
                                    <li> your email address;</li>
                                    <li> your telephone number;</li>
                                    <li> your password.</li>
                                </ul>
                                <p class="txt">If you register using your Google account, Facebook account, or Apple ID, we may collect certain personal information subject to your privacy settings. Please refer to the relevant service provider's privacy policy for further information.</p>
                                <p class="txt">We will use this personal information to fulfil your account, provide additional services and information to you as we reasonably think appropriate, and for any other purposes set out in this policy. This includes newsletters and email alerts. If you wish to opt out you can do so by clicking on the unsubscribe link at the bottom of the emails.</p>
                                <p class="txt">If you are an estate agency, you will need to provide the following personal information:</p>
                                <ul class="txt list-dash">
                                    <li> the name of your estate agency</li>
                                    <li> the contact telephone number of your estate agency</li>
                                    <li> the contact email address of your estate agency</li>
                                    <li> the physical address of your estate agency</li>
                                    <li> the first name and surname of all users of your estate agency account;</li>
                                    <li> the email addresses of all such users;</li>
                                    <li> the telephone numbers of such users;</li>
                                    <li> password.</li>
                                </ul>
                                <p class="txt">We will use this information to fulfill your estate agency account, enable you to manage your listings and enable sales leads to be sent to you.</p>
                                <p class="txt mark">※ We collect certain information on registration, when you register on our website.</p>
                                <p class="txt ex">6.3 On product order or service request</p>
                                <p class="txt">When you order a product or request a service from us, you will be asked to provide us with additional personal information on a voluntary basis (<span>product or services information</span>).</p>
                                <p class="txt">- <span>Placing a listing</span></p>
                                <ul class="txt list-dash">
                                    <li> your province, city, suburb</li>
                                    <li> your street address</li>
                                </ul>
                                <p class="txt">We use this information to ensure users can find your listing in our search results. We require your street address to show the location of your property on a map on our listing page, if you requested this service.</p>
                                <p class="txt">We use third party payment providers to manage online card and EFT payment transactions to place listings or buy additional services. Payment information is collected over a secure online payment gateway provided by:</p>
                                <p class="txt">Paygate - processed in accordance with their privacy policy.<br><a href="https://www.paygate.co.za/privacy-policy/">https://www.paygate.co.za/privacy-policy/</a></p>
                                <p class="txt">All payment transactions processed are encrypted. Your payment card information is used solely to process payment for your listing. We retain no record of your payment card details.</p>
                                <p class="txt">To protect the privacy of our customers when they are communicating with potential buyers / tenants via phone, each customer may request a unique call tracking number be allocated to them. The call tracking number enables customers to keep their telephone numbers private by providing them with a substitute telephone number to use in their listings. All calls made to this unique call tracking number are recorded.</p>
                                <p class="txt">Our "Sell Your Property" listing packages include "Offer to Purchase Assistance" by Snymans Attorneys. We may share your personal contact details with Snymans Attorneys so they can contact you and offer you assistance.</p>
                                <p class="txt">To place a rental listing the following additional personal information will be required:</p>
                                <ul class="txt list-dash">
                                    <li> A copy of your identity document</li>
                                    <li> Proof of physical address</li>
                                </ul>
                                <p class="txt">We use this information to verify that you are the owner of the property to be rented.</p>
                                <p class="txt">- <span>Property enquiry service (Contact Estate Agent or Estate Agency)</span></p>
                                <p class="txt">We also provide a service allowing potential buyers / tenants to contact the Estate Agent or Estate Agency about a certain listing. You will need to provide certain personal information such as;.</p>
                                <ul class="txt list-dash">
                                    <li> your first name and surname;</li>
                                    <li> your email address;</li>
                                    <li> your telephone number;</li>
                                </ul>
                                <p class="txt">This will enable the estate agent or estate agency to make contact with you in order to provide you with further information related to the property you inquired about.</p>
                                <p class="txt">In certain circumstances, estate agencies and relevant third parties may subsequently transfer, process and store your personal information for their business and administration purposes in accordance with their own privacy policies. If you have queries or require more information on how these estate agencies or third parties use your personal information, please read their privacy policies or contact them directly.</p>
                                <p class="txt">We may use this personal information to provide additional services and information to you as we reasonably think appropriate, and for any other purposes set out in this policy. This includes newsletters and email alerts. If you wish to opt out, you can do so by clicking on the unsubscribe link at the bottom of the email.</p>
                                <p class="txt">By accepting this policy, you give us permission to share your personal information related to your property enquiry with financial services providers for the purposes of providing you with offers related to home loans, to the extent that applicable data protection laws allow.</p>
                                <p class="txt">- <span>Attorney enquiry service</span></p>
                                <p class="txt">We provide a service allowing buyers to contact a law firm. To utilise this service you will need to provide the following personal information:</p>
                                <ul class="txt list-dash">
                                    <li> your first name and surname;</li>
                                    <li> your email address;</li>
                                    <li> your telephone number.</li>
                                </ul>
                                <p class="txt">This will enable the estate agent or estate agency to make contact with you in order to provide you with further information related to the property you inquired about.</p>
                                <p class="txt">In certain circumstances, estate agencies and relevant third parties may subsequently transfer, process and store your personal information for their business and administration purposes in accordance with their own privacy policies. If you have queries or require more information on how these estate agencies or third parties use your personal information, please read their privacy policies or contact them directly.</p>
                                <p class="txt">We may use this personal information to provide additional services and information to you as we reasonably think appropriate, and for any other purposes set out in this policy. This includes newsletters and email alerts. If you wish to opt out, you can do so by clicking on the unsubscribe link at the bottom of the email.</p>
                                <p class="txt">By accepting this policy, you give us permission to share your personal information related to your property enquiry with financial services providers for the purposes of providing you with offers related to home loans, to the extent that applicable data protection laws allow.</p>
                                <p class="txt">- <span>Attorney enquiry service</span></p>
                                <p class="txt">We provide a service allowing buyers to contact a law firm. To utilise this service you will need to provide the following personal information:</p>
                                <ul class="txt list-dash">
                                    <li> your first name and surname;</li>
                                    <li> your email address;</li>
                                    <li> your telephone number.</li>
                                </ul>
                                <p class="txt">This will enable the law firm to make contact with you in order to provide you with property related services.</p>
                                <p class="txt">- <span>Property Search, Estate Agency Search, Attorney Search Functionality</span></p>
                                <p class="txt">You will need to supply your province, city or suburb in order to use our search functionality. We will use this information to present you listings matching your search criteria.</p>
                                <p class="txt">- <span>Property reports</span</p>
                                <p class="txt">We provide a service to potential buyers to purchase property reports. To utilise this service you will need to provide the following personal information:</p>
                                <ul class="txt list-dash">
                                    <li>your first name and surname;</li>
                                    <li>your email address;</li>
                                </ul>
                                <p class="txt">This will enable us to send the property report to you.</p>
                                <p class="txt">We use third party payment providers to manage online card and EFT payment transactions to buy reports. Payment information is collected over a secure online payment gateway provided by:</p>
                                <p class="txt">Paygate - processed in accordance with their privacy policy.<br><a href="https://www.paygate.co.za/privacy-policy/">https://www.paygate.co.za/privacy-policy/</a>
                                    </p>
                                <p class="txt">All payment transactions processed are encrypted. Your payment card information is used solely to process payment for your listing. We retain no record of your payment card details.</p>
                                <p class="txt">- <span>Home loan applications</span></p>
                                <p class="txt">We provide a service to potential buyers to apply for a home loan. To utilise this service you will need to provide the following personal information:</p>
                                <ul class="txt list-dash">
                                    <li> your first name and surname;</li>
                                    <li> your email address;</li>
                                    <li> your nationality</li>
                                    <li> your employment status</li>
                                    <li> your tax jurisdiction</li>
                                    <li> your financial status</li>
                                </ul>
                                <p class="txt">- <span>Get the best estate agent to help you sell</span></p>
                                <p class="txt">We provide a service to connect sellers with estate agents in their area. You will need to provide certain personal information to use this service such as:</p>
                                <ul class="txt list-dash">
                                    <li> the address of the property you want to sell;</li>
                                    <li> your first name and surname;</li>
                                    <li> your email address;</li>
                                    <li> your telephone number.</li>
                                </ul>
                                <p class="txt">This information will enable us to allocate an Estate Agent to you in your area and verify that you are the owner of the property. Your contact details will enable the allocated Estate Agent to contact you and assist you with selling your property. We use your email address to send you a comprehensive report on the property you want to sell and the local market.</p>
                                <p class="txt">In certain circumstances, Estate Agencies and relevant third parties may subsequently transfer, process and store your personal information for their business and administration purposes in accordance with their own privacy policies. If you have queries or require more information on how these Estate Agencies or third parties use your personal information, please read their privacy policies or contact them directly.</p>
                                <p class="txt ex">6.4 Communicating with us</p>
                                <p class="txt">When you communicate with us through our customer service channel, you may be requested to provide personal information to us such as your name, email address and contact details. We will use this in order to help resolve your query or complaint. All telephone calls to our customer service are recorded.</p>
                                <p class="txt mark">※ We collect certain information when you order a product or request our services from us.</p>
                                <p class="txt">We collect certain information when you order a product or request our services from us.</p>
                                <p class="txt ex">6.5 Messages and updates</p>
                                <p class="txt">We may send administrative messages and email updates to you about the website. We may wish to provide you with information about new products or services in which we think you may be interested. This means that in some cases, we may also send you primarily promotional messages. We may send you one message to ask you for your opt-in to receive promotional messages. We will not send you promotional messages unless you have chosen to opt-into them.</p>
                                <p class="txt mark">※ We may use your information to send you administrative messages and email updates to you regarding the website and for marketing purposes where lawful.</p>
                                <p class="txt ex">6.6. Email alerts and adverts</p>
                                <p class="txt">You are able to subscribe to email alerts for properties based on certain criteria on our website. When you subscribe to such alerts, you consent to the fact that we will be sending you property listings that match those criteria periodically together with associated adverts that may be for third parties. If you no longer wish to receive a particular email alert, you can unsubscribe at any time.</p>
                                <p class="txt ex">6.7 From browser</p>
                                <p class="txt">We automatically receive and record Internet usage information on our server logs from your browser, such as your Internet Protocol address (<span>IP address</span>), browsing activities, click patterns, version of software installed, system type, screen resolutions, colour capabilities, plug-ins, language settings, cookie preferences, search engine keywords, JavaScript enablement, the content and pages that you access on the website, and the dates and times that you visit the website, paths taken, and time spent on sites and pages within the website (<span>usage information</span>). Please note that other websites visited before entering our website might place personal information within your URL during a visit to it, and we have no control over such websites.</p>
                                <p class="txt mark">※ We collect certain information from your web browser, including your Internet usage information when you visit our website.</p>
                                <p class="txt ex">6.8 Optional details</p>
                                <p class="txt">You may also provide additional information to us on a voluntary basis (<span>optional information</span>). This includes content or products that you decide to upload or download from our website, or when you enter competitions, take advantage of promotions, respond to surveys, order additional products or services, or otherwise use the optional features and functionality of our website.</p>
                                <p class="txt mark">※ We collect certain optional information that you provide when you upload or download content from our website or when you enter competitions, take advantage of promotions, respond to surveys or register and subscribe for certain additional products or services.</p>
                                <p class="txt ex">6.9 Recording calls</p>
                                <p class="txt">We may monitor and record any telephone calls that you make to us, unless you specifically request us not to.</p>
                                <p class="txt mark">※ We may use any of your personal information that you provide to us for the purposes indicated in this privacy policy.</p>
                                <p class="txt ex">6.10 Consent to collection</p>
                                <p class="txt">We will request your explicit consent to use your personal information to send you certain information including:</p>
                                <ul class="txt list-dash">
                                    <li> Email alerts</li>
                                    <li> Newsletters</li>
                                </ul>
                                <p class="txt">Where you have given consent to process your personal information, you may withdraw consent at any time by clicking the unsubscribe link in an email alert or newsletter.</p>
                                <p class="txt mark">※ In certain cases, we will get your consent to use your personal information and you may withdraw your consent at any time.</p>
                            </div>
                            <div class="p-group">
                                <h4>7. Disclosure</h4>
                                <p class="txt ex">7.1 Sharing</p>
                                <p class="txt">We may share your personal information with:</p>
                                <ul class="txt list-dash">
                                    <li> other divisions or companies within the group of companies to which we belong so as to provide joint content and services like registration, for transactions and customer support, to help detect and prevent potentially illegal acts and violations of our policies, and to guide decisions about our products, services, and communications (they will only use this information to send you marketing communications if you have requested their products or services);</li>
                                    <li> an affiliate, in which case we will seek to require the affiliates to honour this privacy policy;</li>
                                    <li> our products or services providers under contract who help provide certain products or services or help with parts of our business operations, including fraud prevention, bill collection, payment services, credit checks, marketing, technology services (our contracts dictate that these product or services providers only use your information in connection with the products or services they supply or services they perform for us and not for their own benefit);</li>
                                </ul>
                                <p class="txt mark">※ We may share your personal information with third parties for the purposes of fulfilling our obligations to you among other purposes.</p>
                                <p class="txt ex">7.2 Regulators</p>
                                <p class="txt">We may disclose your personal information as required by law or governmental audit. This will include public authorities, insurance companies, finance companies, automotive advertising companies and/or other agencies. Information shared in this way will not be used for marketing purpose</p>
                                <p class="txt ex">7.3 Law enforcement</p>
                                <p class="txt">For the purposes of the prevention or detection of offences, and/or the apprehension or prosecution of offenders, we may share any information obtained or collected by us with the Police, other public or private sector agencies or representative bodies in accordance with the relevant legislation.</p>
                                <p class="txt">We may disclose personal information if required:</p>
                                <ul class="txt list-dash">
                                    <li> by a subpoena or court order;</li>
                                    <li> to comply with any law;</li>
                                    <li> to protect the safety of any individual or the general public; and</li>
                                    <li> to prevent violation of our customer relationship terms.</li>
                                </ul>
                                <p class="txt mark">※ We may disclose personal information to third parties if required for legal reasons.</p>
                                <p class="txt ex">7.4 Marketing purposes</p>
                                <p class="txt">We may disclose aggregate statistics (information about the customer population in general terms) about the personal information to advertisers or business partners.</p>
                                <p class="txt ex">7.5 Employees</p>
                                <p class="txt">We may need to disclose personal information to our employees that require the personal information to do their jobs. These include our responsible management, human resources, accounting, audit, compliance, information technology, or other personnel.</p>
                                <p class="txt ex">7.6 Change of ownership</p>
                                <p class="txt">If we undergo a change in ownership, or a merger with, acquisition by, or sale of assets to another entity, we may assign our rights to the personal information we process to a successor, purchaser, or separate entity. We will disclose the transfer on the website. If you are concerned about your personal information migrating to a new owner, you may request us to delete your personal information.</p>
                            </div>
                            <div class="p-group">
                                <h4>8. Security</h4>
                                <p class="txt">All the information we receive about you is stored on secure servers and we have implemented technical and organisational measures that are suitable and necessary to protect your personal data. We continually evaluate the security of our network and adequacy of our internal information security program which is designed to (a) help secure your data against accidental or unlawful loss, access or disclosure, (b) identify reasonably foreseeable risks to the security of our network, and (c) minimize security risks, including through risk assessment and regular testing.</p>
                                <p class="txt">Please note, despite the measures we have implemented to protect your data, the transfer of data through the Internet or other open networks is never completely secure and there is a risk that your personal data may be accessed by unauthorised third parties..</p>
                                <p class="txt"><span>We will take all reasonable steps to ensure that your data is treated securely and in accordance with this policy</span></p>
                            </div>
                            <div class="p-group">
                                <h4>9. Accurate and up to date</h4>
                                <p class="txt">We will try to keep the personal information we collect as accurate, complete and up to date as is necessary for the purposes defined in this policy. From time to time, we may request you to update your personal information on the website. You are able to review or update any personal information that we hold on you by accessing your account online, emailing us, or phoning us. Please note that in order to better protect you and safeguard your personal information, we take steps to verify your identity before granting you access to your account or making any corrections to your personal information.</p>
                                <p class="txt mark">※ Please keep your personal information accurate and up to date by accessing your account online, emailing us, by phoning us.</p>
                            </div>
                            <div class="p-group">
                                <h4>10. Retention</h4>
                                <p class="txt">We will only retain your personal information for as long as it is necessary to fulfil the purposes explicitly set out in this policy, unless:</p>
                                <ul class="txt list-dash">
                                    <li> retention of the record is required or authorised by law; or</li>
                                    <li> you have consented to the retention of the record.</li>
                                </ul>
                                <p class="txt">During the period of retention, we will continue to abide by our non-disclosure obligations and will not share or sell your personal information.</p>
                                <p class="txt">We may retain your personal information in physical or electronic records at our discretion.</p>
                                <p class="txt mark">※ We will only retain your personal information for as long as is necessary.</p>
                            </div>
                            <div class="p-group">
                                <h4>11. Transfer to another country</h4>
                                <p class="txt">We may transmit or transfer personal information outside of the country in which it was collected to a foreign country and process it in that country. Personal information may be stored on servers located outside the country in which it was collected in a foreign country whose laws protecting personal information may not be as stringent as the laws in the country in which it was collected. You consent to us processing your personal information in a foreign country whose laws regarding processing of personal information may be less stringent.</p>
                                <p class="txt mark">※ We may transfer your personal information outside the country in which it was collected to a foreign country.</p>
                            </div>
                            <div class="p-group">
                                <h4>12. Removing</h4>
                                <p class="txt">You may choose to remove the personal information you have submitted to us, by clicking the profile menu under your user account on our website or contacting us.</p>
                                <p class="txt">We will request proof of identity before removing your information.</p>
                                <p class="txt mark">※ You may choose to update or remove the personal information you have submitted to us.</p>
                            </div>
                            <div class="p-group">
                                <h4>13.Limitation</h4>
                                <p class="txt">We are not responsible for, give no warranties, nor make any representations in respect of the privacy policies or practices of linked or any third party websites.</p>
                            </div>
                            <div class="p-group">
                                <h4>14.Enquiries</h4>
                                <p class="txt">If you have any questions or concerns arising from this privacy policy or the way in which we handle personal information, please email the <a href="#none">Information Officer.</a></p>
                                <p class="txt">This policy was last updated in November 2022.</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="fixed-btn-wrap">
                    <div class="fixed-btn-wrap relative">
                        <div class="btn-cont-wrap">
                            <a href="./../main/FILL-APP-MAN-001.html" class="btn btn-primary">Home</a>
                        </div>
                    </div>
                </section>
            </div>
        </form>
    </div>
</body>
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        loop: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        }
    });
</script>

</html>