<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/lib/renewal.css">
    <link rel="stylesheet" href="../../resources/css/lib/default.css">
    <link rel="stylesheet" href="../../resources/css/lib/swiper-bundle.min.css">
    <!-- <link rel="stylesheet" href="../../resources/css/lib/new_renewal.css"> -->

    <script type="text/javascript" src="../../resources/js/lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/default.js"></script>
    <!--  -->
</head>

<body>
	<!-- header -->
    <div id="lyPullPop02" class="layerpopup laypop-all" style="display: block;">
        <div class="content-wrap">
            <div class="pop-header">
                <h2 class="pop-title">Bookmarked Listing
                </h2>
                <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
            </div>

            <div class="pop-con-wrap" id="">
                <div class="default-wrap">
                    <section class="list-wrap">
                        <div class="list-group">
                            <ul class="img-list">
                                <li>
                                    <img src="../../resources/images/common/image_1.png" alt="방1">
                                </li>
                                <li>
                                    <img src="../../resources/images/common/image_2.png" alt="방2">
                                </li>
                            </ul>
                            <p class="list-tit">₱7,000,000</p>
                            <a href="#none" class="btn-set like on">찜</a>
                            <div class="list-txt">
                                <div class="list-sub-tit tooltip-wrap">₱140,000 PSM
                                    <div class="info-tooltip">정보</div>
                                    <div class="tooltip-txt">
                                        <p>PSM</p>
                                        <p>means ‘per square meter’</p>
                                        <button type="button" class="tooltip-close">닫기</button>
                                    </div>
                                </div>
                                <span class="ic-room">2</span>
                                <span class="ic-bathtub">2</span>
                            </div>
                        </div>
                        <div class="list-group">
                            <ul class="img-list">
                                <li>
                                    <img src="../../resources/images/common/image_3.png" alt="방1">
                                </li>
                                <li>
                                    <img src="../../resources/images/common/image_4.png" alt="방2">
                                </li>
                            </ul>
                            <p class="list-tit">₱7,000,000</p>
                            <a href="#none" class="btn-set like on">찜</a>
                            <div class="list-txt">
                                <div class="list-sub-tit tooltip-wrap">₱140,000 PSM
                                    <div class="info-tooltip">정보</div>
                                    <div class="tooltip-txt">
                                        <p>PSM</p>
                                        <p>means ‘per square meter’</p>
                                        <button type="button" class="tooltip-close">닫기</button>
                                    </div>
                                </div>
                                <span class="ic-room">2</span>
                                <span class="ic-bathtub">2</span>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
	<!-- footer -->

	<footer>
		<!-- 푸터 타입별 정의 -->
	</footer>
	<!-- //footer -->

</body>
</html>