<header class="headerWrap">
    <div class="main">
        <div class="left-menu">
            <a href="javascript:void(0);" onclick="" class="btn-main-logo">orix logo</a>
        </div>
        <!-- <h1 class="center">텍스트</h1> -->
        <div class="right-menu">
                <div class="tooltip-wrap on"><!--[D]: on 클래스 들어갈 경우 공지 표시 활성화-->
                    <div class="tooltip-txt">
                        <a href="../notice/ORIX-APP-NTC-001.html">새로운 공지가 있습니다.</a>
                    </div>
                    <a href="javascript:void(0)" class="btn-alarm alarm">알람</a>
                </div>
                <a href="javascript:void(0)" class="btn-menu">메뉴</a>
        </div>
    </div>
    <div class="urgency-wrap main">
        <div class="urgency-area">
            <a href="#none">[긴급] 공지 테스트 1번입니다.</a>
            <a href="#none">[긴급] 공지 테스트 2번입니다.</a>
        </div>
    </div>
</header>

