<!-- s:menuWrap -->
<div class="menuWrap">
	<div class="all-menu-wrap">
		<div class="all-menu-info">
			<div class="all-menu-header">
				<div class="left-menu">
					<p>전체메뉴</p>
				</div>
				<div class="right-menu">
					<a onclick="" class="btn-menu-close">닫기</a>
				</div>
			</div>

			<!-- <div class="all-menu-header log-in">
				<a  href="#none"><span><b>김고려</b>님</span> 반가워요!</a>
				<div>
					<a onclick="" class="btn-mypage">마이페이지</a>
					<a onclick="" class="btn-home">홈으로</a>
					<a onclick="" class="btn-option">설정</a>
					<a onclick="" class="btn-menu-close">닫기</a>
				</div>
			</div> -->
			<div class="login-wrap menu login">
				<div class="login-tit user-m-img">
					<p class="tit"><strong>안녕하세요,홍길동님!</strong></p>
					<p class="text">리스크관리팀</p>
				</div>
				<div class="btn-cont-wrap">
					<a href="#none" class="btn logout-text">로그아웃</a>
				</div>
			</div>
		</div>
		<div class="top-menu">
			<ul class="top-icon">
				<li class="alarm"><a href="#none"><em class="alarm-flag"></em><span>알림(<span>0</span>)</a></li><!--D:count-flag 알림 있을 경우-->
				<!-- <li class="alarm"><a href="#none" onclick="openPopup('customer-view');"><span>알림(<span>0</span>)</a></li> -->
				<li class="loanProgress"><a href="#none" onclick="openPopup('security-view');">대출진행현황</a></li>
				<li class="doorSales"><a href="#none" onclick="openPopup('accident-view');">방문판매안내</a></li>
				<li class="settlement"><a href="#none">영업결제</a></li>
			</ul>
		</div>
		<!-- <div class="quick-menu" >
			<ul>
				<dt><button type="button" class="btn-allopen" onclick="openPopup('all-menu-view');">메뉴펼쳐보기</button></dt>
				<li>
					<a href="#none">심사결과조회</a>
					<a href="#none">대출진행현황</a>
					<a href="#none">팀실적조회</a>
					<a href="#none">송금요청</a>
				</li>
			</ul>
		</div> -->
		<div class="tab-slidemenu bg-bor">
			<!-- <div>#최근 사용한 메뉴</div> -->
			<ul>
				<li><a href="#none">심사결과조회</a></li>
				<li><a href="#none">대출진행현황</a></li>
				<li><a href="#none">팀실적조회</a></li>
				<li><a href="#none">송금요청</a></li>
				<!-- <li><a href="#myBanking" data-focus="myBanking">마이뱅킹</a></li>
				<li><a href="#lone" data-focus="lone">대출</a></li>
				<li><a href="#deposit" data-focus="deposit">예적금</a></li>
				<li><a href="#quickSev" data-focus="quickSev">빠른 서비스</a></li>
				<li><a href="#setting" data-focus="setting">설정</a></li>
				<li><a href="#customer" data-focus="customer">고객센터</a></li>
				<li><a href="#certification" data-focus="certification">인증/보안</a></li>
				<li><a href="#accident" data-focus="accident">사고신고</a></li> -->
			</ul>
		</div>
		<div class="all-menu-area">
			<div class="scroll-left-wrap">
				<ul class="menuArea">
					<li class="on"><a href="#none" data-focus="1" >최근 사용한 메뉴</a></li>
					<li><a href="#none" data-focus="2" >중고차</a></li>
					<li><a href="#none" data-focus="3">재고금융</a></li>
					<li><a href="#none"  data-focus="4">신차</a></li>
					<li><a href="#none"  data-focus="5">일반설비</a></li>
					<li><a href="#none"  data-focus="6">건설기계/상용</a></li>
					<li><a href="#none"  data-focus="7">취급실적조회</a></li>
					<li><a href="#none"  data-focus="8">마이페이지</a></li>
					<li><a href="#none"  data-focus="9">공지사항</a></li>
					<li><a href="#none"  data-focus="10">push 알림</a></li>
					<li><a href="#none"  data-focus="11">금융계산기</a></li>
				</ul>
			</div>
			<div class="scroll-wrap">
				<ul class="listArea">
					<li class="1">
						<dl class="depth">
							<dt><a href="#">최근 사용한 메뉴</a></dt>
							<dd><a href="#">가가가</a></dd>
							<dd><a href="#">가가가</a></dd>
							<dd><a href="#">가가가</a></dd>
							<dd><a href="#">가가가</a></dd>
							<dd><a href="#">가가가</a></dd>
							<dd><a href="#">가가가</a></dd>
							<dd><a href="#">가가가</a></dd>
							<dd><a href="#">가가가</a></dd>
							<dd><a href="#">가가가</a></dd>
							<dd><a href="#">가가가</a></dd>
							<dd><a href="#">가가가</a></dd>
							<dd><a href="#">가가가</a></dd>
							<dd><a href="#">가가가</a></dd>
							<dd><a href="#">가가가</a></dd>
                        </dl>
					</li>
					<li class="2">
						<dl class="depth">
							<dt><a href="#">중고차</a></dt>
							<dd><a href="#">나나나나</a></dd>
							<dd><a href="#">나나나나</a></dd>
							<dd><a href="#">나나나나</a></dd>
							<dd><a href="#">나나나나</a></dd>
							<dd><a href="#">나나나나</a></dd>
							<dd><a href="#">나나나나</a></dd>
							<dd><a href="#">나나나나</a></dd>
							<dd><a href="#">신용조회동의 dd청</a></dd>
							<dd><a href="#">시세조회 및 심dd요청</a></dd>
							<dd><a href="#">서류제출 및 판dd사정보입력</a></dd>
							<dd><a href="#">송금요청</a></dd>
						</dl>
					</li>
					<li class="3">
						<dl class="depth">
							<dt><a href="#">재고금융</a></dt>
							<dd><a href="#">간편한도조회</a></dd>
							<dd><a href="#">간편한도조회</a></dd>
							<dd><a href="#">간편한도조회</a></dd>
							<dd><a href="#">간편한도조회</a></dd>
							<dd><a href="#">간편한도조회</a></dd>
							<dd><a href="#">간편한도조회</a></dd>
							<dd><a href="#">간편한도조회</a></dd>
							<dd><a href="#">간편한도조회</a></dd>
							<dd><a href="#">간편한도조회</a></dd>
							<dd><a href="#">간편한도조회</a></dd>
							<dd><a href="#">간편한도조회</a></dd>
							<dd><a href="#">간편한도조회</a></dd>
							<dd><a href="#">온라인바로대출</a><dd>
							<dd><a href="#">이어서 대출신청</a></dd>
							<dd><a href="#">일반대출신청</a></dd>
							<dd><a href="#">담보대출신청</a></dd>
						</dl>
					</li>
					<li class="4">
						<dl class="depth">
							<dt><a href="#">신차</a></dt>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
						</dl>
					
					</li>
                    <li class="5">
						<dl class="depth">
							<dt><a href="#">일반설비</a></dt>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
						</dl>
					</li>
                    <li class="6">
						<dl class="depth">
							<dt><a href="#">건설기계/상용</a></dt>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
						</dl>
					</li>
                    <li class="7">
						<dl class="depth">
							<dt><a href="#">취급실적조회</a></dt>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
						</dl>
					</li>
                    <li class="8">
						<dl class="depth">
							<dt><a href="#">마이페이지</a></dt>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
						</dl>
					</li>
                    <li class="9">
						<dl class="depth">
							<dt><a href="#">공지사항</a></dt>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
						</dl>
					</li>
                    <li class="10">
						<dl class="depth">
							<dt><a href="#">push알림</a></dt>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
						</dl>
					</li>
                    <li class="11">
						<dl class="depth">
							<dt><a href="#">금융계산기</a></dt>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
							<dd><a href="#">비대면계좌개설</a></dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div id="all-menu-view" class="layerpopup laypop-all" tabindex="0" data-focus-prev="btn-menu-close" >
		<!-- s: contents -->
		<div class="pop-header none-bor">
			<h2 class="pop-title">전체메뉴</h2>
			<a class="btn-back" onclick="backKeyAction();"><span class="blind">이전페이지 이동하기</span></a>
			<button type="button" name="button" class="btn-layer-close" onclick="closePopup('lyPullPop')">닫기</button>
		</div>
		<div class="pop-con-wrap">
			<div class="default-wrap"><!-- [D] default-wrap - 좌우 여백 용도로 space(ex. mt0) 외의 다른 클래스와 중복 사용 X -->
				<!-- s: 검색 영역 -->
				<div class="search-area">
					<div class="form-wrap">
						<div class="input">
							<input type="search" title="" id="test1" class="" name="" value="" placeholder="검색어를 입력하세요." required="">
						</div>
						<button type="button" class="btn-search">검색</button>
						<button type="button" class="btn-delete">검색어 삭제</button>
					</div>
				</div>
				<div class="tab-slidemenu">
					<ul>
						<li><a href="#myBanking" data-focus="myBanking">마이뱅킹</a></li>
						<li><a href="#lone" data-focus="lone">대출</a></li>
						<li><a href="#deposit" data-focus="deposit">예적금</a></li>
						<li><a href="#quickSev" data-focus="quickSev">빠른 서비스</a></li>
						<li><a href="#setting" data-focus="setting">설정</a></li>
						<li><a href="#customer" data-focus="customer">고객센터</a></li>
						<li><a href="#certification" data-focus="certification">인증/보안</a></li>
						<li><a href="#accident" data-focus="accident">사고신고</a></li>
					</ul>
				
				</div>
				<div class="listmenu-box all">
					<ul id="myBanking">
						<li class="tit">마이뱅킹</li>
						<li><a href="#none">전계좌 조회</a></li>
						<li><a href="#none">이체</a></li>
						<li><a href="#none">이체결과조회</a></li>
						<li><a href="#none">자동이체</a></li>
						<li><a href="#none">자동이체관리</a></li>
					</ul>
					<ul id="lone">
						<li class="tit">마이뱅킹2</li>
						<li><a href="#none">전계좌 조회</a></li>
						<li><a href="#none">이체</a></li>
						<li><a href="#none">이체결과조회</a></li>
						<li><a href="#none">자동이체</a></li>
						<li><a href="#none">자동이체관리</a></li>
					</ul>
					<ul id="deposit">
						<li class="tit">마이뱅킹3</li>
						<li><a href="#none">전계좌 조회</a></li>
						<li><a href="#none">이체</a></li>
						<li><a href="#none">이체결과조회</a></li>
						<li><a href="#none">자동이체</a></li>
						<li><a href="#none">자동이체관리</a></li>
					</ul>
					<ul id="quickSev">
						<li class="tit">마이뱅킹4</li>
						<li><a href="#none">전계좌 조회</a></li>
						<li><a href="#none">이체</a></li>
						<li><a href="#none">이체결과조회</a></li>
						<li><a href="#none">자동이체</a></li>
						<li><a href="#none">자동이체관리</a></li>
					</ul>
					<ul id="setting">
						<li class="tit">마이뱅킹5</li>
						<li><a href="#none">전계좌 조회</a></li>
						<li><a href="#none">이체</a></li>
						<li><a href="#none">이체결과조회</a></li>
						<li><a href="#none">자동이체</a></li>
						<li><a href="#none">자동이체관리</a></li>
					</ul>
					<ul id="customer">
						<li class="tit">마이뱅킹6</li>
						<li><a href="#none">전계좌 조회</a></li>
						<li><a href="#none">이체</a></li>
						<li><a href="#none">이체결과조회</a></li>
						<li><a href="#none">자동이체</a></li>
						<li><a href="#none">자동이체관리</a></li>
					</ul>
					<ul id="certification">
						<li class="tit">마이뱅킹7</li>
						<li><a href="#none">전계좌 조회</a></li>
						<li><a href="#none">이체</a></li>
						<li><a href="#none">이체결과조회</a></li>
						<li><a href="#none">자동이체</a></li>
						<li><a href="#none">자동이체관리</a></li>
					</ul>
					<ul id="accident">
						<li class="tit">마이뱅킹8</li>
						<li><a href="#none">전계좌 조회</a></li>
						<li><a href="#none">이체</a></li>
						<li><a href="#none">이체결과조회</a></li>
						<li><a href="#none">자동이체</a></li>
						<li><a href="#none">자동이체관리</a></li>
					</ul>
				
				</div>
				
			</div>
				<!-- //e: 검색 결과 영역 -->
		</div>
	</div>

	<div id="customer-view" class="layerpopup laypop-all" tabindex="0" data-focus-prev="btn-menu-close">
		<!-- s: contents -->
		<div class="pop-header none-bor">
			<h2 class="pop-title">고객센터</h2>
			<a class="btn-back" onclick="backKeyAction();"><span class="blind">이전페이지 이동하기</span></a>
			<button type="button" name="button" class="btn-layer-close" onclick="closePopup('lyPullPop')">닫기</button>
		</div>
		<div class="pop-con-wrap">
			<div class="default-wrap mt40"><!-- [D] default-wrap - 좌우 여백 용도로 space(ex. mt0) 외의 다른 클래스와 중복 사용 X -->
				<p class="gnb-tit">고객님 무엇을 도와드릴까요?</p>
				<div class="listmenu-box">
					<ul>
						<li><a href="#none">공지사항</a></li>
						<li><a href="#none">자주묻는 질문</a></li>
						<li><a href="#none">전자민원신청</a></li>
						<li><a href="#none">영업점 안내</a></li>
					</ul>

					<ul>
						<li class="tit">이용자 유의사항</li>
						<li><a href="#none">전자금융거래이용자 유의사항</a></li>
						<li><a href="#none">스마트폰 금융거래 유의사항</a></li>
						<li><a href="#none">보이스피싱 피해예방 유의사항</a></li>
					</ul>

					<ul>
						<li class="tit">이용안내</li>
						<li><a href="#none">이용시간 안내</a></li>
						<li><a href="#none">상담원 연결</a></li>
					</ul>

					<ul>
						<li class="tit">금융소비자보호</li>
						<li><a href="#none">이용약관</a></li>
						<li><a href="#none">전자금융이용약관</a></li>
						<li><a href="#none">개인정보처리방침</a></li>
						<li><a href="#none">위법계약해지권</a></li>
					</ul>

					<ul>
						<li><a href="#none">증명서발급신청</a></li>
					</ul>

				
				</div>
				
			</div>
				<!-- //e: 검색 결과 영역 -->
		</div>
	</div>

	<div id="security-view" class="layerpopup laypop-all" tabindex="0" data-focus-prev="btn-menu-close">
		<!-- s: contents -->
		<div class="pop-header none-bor">
			<h2 class="pop-title">인증/보안</h2>
			<a class="btn-back" onclick="backKeyAction();"><span class="blind">이전페이지 이동하기</span></a>
			<button type="button" name="button" class="btn-layer-close" onclick="closePopup('lyPullPop')">닫기</button>
		</div>
		<div class="pop-con-wrap">
			<div class="default-wrap mt40"><!-- [D] default-wrap - 좌우 여백 용도로 space(ex. mt0) 외의 다른 클래스와 중복 사용 X -->
				<p class="gnb-tit">고객님의 정보를 확실히 보호할게요</p>
				<div class="listmenu-box">
					<ul>
						<li><a href="#none">공동인증서안내</a></li>
					</ul>

					<ul>
						<li class="tit">공동인증서</li>
						<li><a href="#none">공동인증서 가져오기</a></li>
						<li><a href="#none">공동인증서 내보내기</a></li>
						<li><a href="#none">공동인증서 관리</a></li>
					</ul>

					<ul>
						<li class="tit">타기관 인증서</li>
						<li><a href="#none">타기관 인증서 등록</a></li>
						<li><a href="#none">타기관 인증서 해제</a></li>
					</ul>

					<ul>
						<li class="tit">전자금융사기예방서비스</li>
						<li><a href="#none">단말기지정서비스 가입</a></li>
						<li><a href="#none">단말기지정서비스 조회/해지</a></li>
						<li><a href="#none">추가인증서비스 가입</a></li>
						<li><a href="#none">추가인증서비스 변경</a></li>
						<li><a href="#none">인증 예외서비스 등록</a></li>
					</ul>

					<ul>
						<li class="tit">간편비밀번호</li>
						<li><a href="#none">등록/재등록</a></li>
						<li><a href="#none">해지</a></li>
					</ul>

					<ul>
						<li class="tit">패턴인증</li>
						<li><a href="#none">등록/재등록</a></li>
						<li><a href="#none">해지</a></li>
					</ul>

					<ul>
						<li class="tit">바이오인증</li>
						<li><a href="#none">등록/재등록</a></li>
						<li><a href="#none">해지</a></li>
					</ul>

					<ul>
						<li><a href="#none">mOTP 설정/재설정</a></li>
					</ul>

					<ul>
						<li><a href="#none">타기관 OTP 등록/변경</a></li>
					</ul>

					<ul>
						<li><a href="#none">OTP 보정</a></li>
					</ul>
				</div>
				
			</div>
				<!-- //e: 검색 결과 영역 -->
		</div>
	</div>

	<div id="accident-view" class="layerpopup laypop-all" tabindex="0" data-focus-prev="btn-menu-close">
		<!-- s: contents -->
		<div class="pop-header none-bor">
			<h2 class="pop-title">사고신고</h2>
			<a class="btn-back" onclick="backKeyAction();"><span class="blind">이전페이지 이동하기</span></a>
			<button type="button" name="button" class="btn-layer-close" onclick="closePopup('lyPullPop')">닫기</button>
		</div>
		<div class="pop-con-wrap">
			<div class="default-wrap mt40"><!-- [D] default-wrap - 좌우 여백 용도로 space(ex. mt0) 외의 다른 클래스와 중복 사용 X -->
				<p class="gnb-tit">신고하실 항목을 선택하세요</p>
				<div class="listmenu-box">
					<ul>
						<li><a href="#none">통장/인감 사고신고</a></li>
					</ul>

					<ul>
						<li><a href="#none">보안카드/OTP사고신고</a></li>
					</ul>

					<ul>
						<li class="tit">현금카드 사고신고</li>
						<li><a href="#none">사고신고</a></li>
						<li><a href="#none">내역조회</a></li>
					</ul>

					<ul>
						<li><a href="#none">OTP사고회복</a></li>
					</ul>
				</div>
				
			</div>
				<!-- //e: 검색 결과 영역 -->
		</div>
	</div>
	
</div>
<!-- e:menuWrap -->

<script>
		
/** 전체 메뉴 **/

$(".menuArea > li > a").on("click", function () {
    var target = $(this).attr("data-focus");
    var $targetElement = $(".listArea > li." + target + " .depth dt");

    // Remove 'on' class from all menu items
    $(".menuArea > li").removeClass("on");

    // Add 'on' class to the clicked menu item
    $(this).parent("li").addClass("on");

    if ($targetElement.length) {
        // Scroll to the target element
        $(".scroll-wrap").animate({
            scrollTop: $targetElement.offset().top - $(".scroll-wrap").offset().top + $(".scroll-wrap").scrollTop()
        }, 500);
    }
});


// Function to check if element is in viewport
// function isElementInViewport(el) {
//     var rect = el.getBoundingClientRect();
//     return (
//         rect.top >= 0 &&
//         rect.left >= 0 &&
//         rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
//         rect.right <= (window.innerWidth || document.documentElement.clientWidth)
//     );
// }


// menu open, close
$(document).ready(function() {
  $('.btn-menu').on('click', function() {
    $('#menuWrap').addClass('menu-open');
	$('body').addClass('no-scroll');
	  
  });

  $('.btn-menu-close').on('click', function() {
      $('#menuWrap').removeClass('menu-open');
	  $('body').removeClass('no-scroll');
  });
});




</script>
<style>
    .listArea > li { display:block; }
    .listArea > li.on { display: block; }
	.listArea li + li { margin-top:30px; }
	.scroll-wrap dl dt a { padding:20px 0; color:#000000; font-size:1rem; font-weight:700; }
    .scroll-wrap dl dd { border-bottom:1px solid #EAEAEA; }
</style>
