<footer id="footerWrap" class="footer-wrap">
    <div class="footer">
        <div class="btn-wrap policy-link">
            <a href="javascript:void(0);" class="btn btn-text">고객확인의무제도</a>
            <a href="javascript:void(0);" class="btn btn-text">고객정보취급방침</a>
            <a href="javascript:fGoMpage(29);" class="btn btn-text" title="새창열기">본인정보이용제공동의</a>
            <a href="javascript:void(0);" class="btn btn-text">금융소비자보호헌장 및 체계</a>
        </div>
        <div class="list-wrap">
            <ul class="address">
                <li>06210 서울시 강남구 테헤란로 306(역삼동) 카이트타워 13층</li>
                <li>
                    <span>대표이사 : 정성윤</span>
                    <span>사업자등록번호 : 120-86-63282</span>
                </li>
            </ul>
            <p class="Copyright">Copyright© ALL Right Reserved.</p>
        </div>
        <div class="form-group style2">
            <div class="form-row">
                <div class="select-box">
                    <div class="se-select ei-w160" data-stove="select">
                        <select class="" title="메뉴구분">
                            <option value="" disabled="" selected="" hidden="">Family Site</option>
                            <option value="0">option 00</option>
                            <option value="1">option 01</option>
                            <option value="2">option 02</option>
                        </select>
                        <div class="e-select-dim"></div>
                    </div>
                </div>
                <button class="btn btn-input" type="button">확인</button>
            </div>
        </div>
    </div>
</footer>