
<div class="logo_box">
	<a href="/" class="logo_link">
		<div class="logo_hidden_box">
			<img src="assets/images/logo.png" />
		</div>
	</a>
</div>
<nav>
	<ul class="lnb">
		<li>
			<a menu-id="dashboard" href="#" class="menu01">
				<span>대시보드</span>
			</a>
		</li>
		<li >
			<a menu-id="alertList" href="#" class="menu02">
				<span>이벤트 모니터링</span>
			</a>
		</li>
		<li>
			<a href="#" class="menu03">
				<span>이벤트 조회</span>
			</a>
			<ul class="depth2">
				<li><a menu-id="firewallEvent" href="#"><span>방화벽</span></a></li>
				<li><a menu-id="ipsEvent" href="#"><span>침입방지시스템</span></a></li>
				<li><a menu-id="malwareEvent" href="#"><span>멀웨어 스캔</span></a></li>
				<li><a menu-id="fileIntEvent" href="#"><span>파일 무결성</span></a></li>
				<li><a menu-id="fileCtlEvent" href="#"><span>실행 파일 통제</span></a></li>
				<li><a menu-id="pamAclEvent" href="#"><span>서비스 제어</span></a></li>
			</ul>
		</li>
		<li>
			<a href="#" class="menu04"> 
				<span>멀웨어</span>
			</a>
			<ul class="depth2">
				<li><a menu-id="cloudScan" href="#"><span>멀웨어 통합 검사</span></a></li>
				<li><a menu-id="malwareScan" href="#"><span>멀웨어 수동 검사</span></a></li>
				<li><a menu-id="malwareExcept" href="#"><span>멀웨어 예외 설정</span></a></li>				
			</ul>
		</li>
		<li>
			<a href="#" class="menu06">
				<span>정책 관리</span>
			</a>
			<ul class="depth2">
				<li><a menu-id="securityPolicy" href="#"><span>탐지 룰 관리</span></a></li>
				<li><a menu-id="cloudManager" href="#"><span>자산 관리</span></a></li>		
				<li><a menu-id="userConfig" href="#"><span>사용자 관리</span></a></li>
				<li><a menu-id="auditList" href="#"><span>감사 로그</span></a></li>
			</ul>
		</li>
		<li>
			<a href="#" class="menu05">
				<span>환경 설정</span>
			</a>
			<ul class="depth2">				
				<li><a menu-id="authConfig" href="#"><span>메뉴 권한 설정</span></a></li>
				<li><a menu-id="siteConfig" href="#"><span>사이트 이용 설정</span></a></li>				
			</ul>
		</li>		
	</ul>
</nav>

<script src="./js/layout/mainSideBar.js"></script>
