
<div class="location" id="location">	
	
</div>
<!-- 
<article class="top_cont">
    <div class="location">
        <ul>
            <li>Home</li>
            <li>Configuration</li>
            <li>사용자 관리</li>
        </ul>
        <h2>사용자 관리</h2>
    </div>    
</article>
 -->
<div class="user_box">
	<div></div>
	<div class="user_info">		
		<a href="#" class="user_info_link">
			<p class="user">
				Hello, <span id="currentUserId">redcastle</span>
			</p>
		</a>
		<div class="user_info_list">
			<p>Welcome!</p>
			<ul id="currentUserMenu">
			</ul>
		</div>
	</div>
	<div id="topCont" class="top_dashboard">
		<a href="#" class="top_dashboard_link"> <span class="linktext">사용자
				정보 버튼</span>
		</a>
	</div>
	<div class="top_dashboard_list">
		<ul id="topContList">
		</ul>
	</div>
</div>

<script src="./js/layout/mainTopBar.js"></script>
<script src="./js/common/top_common.js"></script>
