<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/lib/renewal.css">
    <link rel="stylesheet" href="../../resources/css/lib/default.css">

    <script type="text/javascript" src="../../resources/js/lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/default.js"></script>
</head>
<body>
    <div class="wrap">
        <!-- //header -->
        <header id="lnb">
            <script>
                $(document).ready(function(){
                    document.charset="euc-kr";
                    $("#lnb").load("../include/inc_header.html");
                });
            </script>
        </header>
        <!-- header// -->
        <form>
            <div class="contents-wrap">
                <section class="steps-container">
                    <div class="steps-wrap">
                        <div class="step-item active"></div>
                        <div class="step-item active"></div>
                        <div class="step-item active"></div>
                        <div class="step-item active"></div>
                        <div class="step-item active"></div>
                        <div class="step-item active"></div>
                        <div class="step-item active"></div>
                        <div class="step-item active"></div>
                        <div class="step-item active"></div>
                        <div class="step-item"></div>
                    </div>
                </section>
                <section>
                    <div class="info-img-group">
                        <div class="info-img info10"></div>
                        <p>Write property introduce</p>
                    </div>
                </section>
                <section>
                    <div class="text-area line-none">
                        <textarea type="text" title="성명" id="ipt02" class="inp" name="" value="" placeholder="content" maxlength="" required=""></textarea>
                    </div>
                </section>
                <section class="fixed-btn-wrap">
                    <div class="fixed-btn-wrap relative">
                        <div class="btn-wrap">
                            <a href="FILL-APP-PR-008.html" class="btn btn-canpr">Prev</a>
                            <a href="FILL-APP-PR-010.html" class="btn btn-primary">Next</a>
                        </div>
                    </div>
                </section>
            </div>
        </form>
    </div>
</body>
</html>