<!DOCTYPE html>
<html lang="ko">
    <head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>ORIX Capital</title>
		<meta charset="UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="Content-Script-Type" content="text/javascript">
		<meta http-equiv="Content-Style-Type" content="text/css">
		<meta name="keywords" content="ORIX Capital keywords" />
		<meta name="description" content="ORIX Capital description" />
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
		<!-- 
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
		-->
		<meta name="apple-mobile-web-app-status-bar-style" content="white" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta http-equiv="Expires" content="-1">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="No-Cache">
	
		<link rel="shortcut icon" type="image/x-icon" href="../resources/favicon.png" />
		<link rel="icon" type="image/x-icon" href="../resources/favicon.png" />
	
		<link rel="stylesheet" href="../resources/css/lib/renewal.css">
		<link rel="stylesheet" href="../resources/css/lib/default.css">
        <link rel="stylesheet" href="../resources/css/ui/jquery-ui.css">
        <link rel="stylesheet" href="../resources/css/ui/datepicker.css">
		
		<script type="text/javascript" src="../resources/js/ui/swiper-bundle.min.js"></script>
		<script type="text/javascript" src="../resources/js/ui/jquery-1.12.4.min.js"></script>
		<script  type="text/javascript" src="../resources/js/ui/jquery-ui-1.12.1.js"></script>
	
		<script type="text/javascript" src="../resources/js/lib/default.js"></script>
		<script type="text/javascript" src="../resources/js/lib/datepicker.js"></script>
	</head>

<body>
    <div class="wrap">
        <!-- //header -->
        <div id="headerWrap">
			<script>
			$(document).ready(function(){
				document.charset="euc-kr";
				$("#headerWrap").load("./include/inc_header.html");
			});
			</script>
        </div>
        <form>
            <div class="contents-wrap">
                <section>
                    <div class="txt-list-wrap">
                        <p class="test-tit">리스트 - 가능 여부 박스 있을 경우</p>
                        <div class="txt-detail-area result">
                            <div class="txt-detail-header">
                                <p><span class="tit">123가 4567</span></p>
                                <span class="flag style2">신규</span>
                            </div>
                            <div class="txt-detail-header no-line">
                                <p>현대 제네시스 GV80 가솔린 3.5 터보<br>
                                    2022년형</p>
                            </div>
                            <div class="table-type table-col table-scroll">
                                <table>
                                    <caption>신용조회 동의 완료 고객 선택 테이블</caption>
                                    <colgroup>
                                        <col width="40%">
                                        <col width="*">
                                    </colgroup>
                                
                                    <tbody>
                                        <tr>
                                            <th scope="col">당월만기</th>
                                            <td class="tit">(연장가능) <span class="yes">Y</span></td>
                                        </tr>
                                        <tr>
                                            <th scope="col">연체여부</th>
                                            <td class="no">N</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ul class="txt-list">
                                <li>
                                    <span class="tit">대출금액</span>
                                    <span class="txt">3,000만원</span>
                                </li>
                                <li>
                                    <span class="tit">적용금리</span>
                                    <span class="txt">6.0%</span>
                                </li>
                                <li>
                                    <span class="tit">납부회차</span>
                                    <span class="txt">2회차 / 3개월</span>
                                </li>
                            </ul>
                        </div>

                        <p class="test-tit">리스트 - 이름/flag style2</p>
                        <div class="txt-detail-area">
                            <div class="txt-detail-header">
                                <p><span class="tit">김현대</span><span class="small-tit"> 고객님</span></p>
                                <span class="flag style2">발송 예정</span>
                            </div>
                            <ul class="txt-list">
                                <li>
                                    <span class="tit">전화번호</span>
                                    <span class="txt">010-1234-5678</span>
                                </li>
                                <li>
                                    <span class="tit">방문예쩡일자</span>
                                    <span class="txt">YYYY.MM.DD HH:MM</span>
                                </li>
                                <li>
                                    <span class="tit">방문자</span>
                                    <span class="txt">오토영업2팀 홍길동</span>
                                </li>
                            </ul>
                            <div class="btn-cont-wrap">
                                <a href="#none" class="btn view style3">상세보기</a>
                            </div>
                        </div>

                        <p class="test-tit">리스트 - 이름/번호/flag style1</p>
                        <div class="txt-detail-area">
                            <div class="txt-detail-header">
                                <p><span class="tit">장기아(120-**-*1234)</span></p>
                                <span class="flag style1">발송 완료</span>
                            </div>
                            <div class="txt-detail-header no-line">
                                <p>가가가가가가 고객님</p>
                            </div>
                            <ul class="txt-list">
                                <li>
                                    <span class="tit">전화번호</span>
                                    <span class="txt">010-1234-5678</span>
                                </li>
                                <li>
                                    <span class="tit">방문예쩡일자</span>
                                    <span class="txt">YYYY.MM.DD HH:MM</span>
                                </li>
                                <li>
                                    <span class="tit">방문자</span>
                                    <span class="txt">오토영업2팀 홍길동</span>
                                </li>
                            </ul>
                        </div>

                        <p class="test-tit">리스트 - 이름/text/하단text/yes/no</p>
                        <div class="txt-detail-area">
                            <div class="txt-detail-header">
                                <p><span class="tit">김현대</span><span class="small-tit"> 고객님</span></p>
                                <span class="txt">개인</span>
                            </div>
                            <div class="txt-detail-header no-line">
                                <p>가나다라</p>
                            </div>
                            <ul class="txt-list">
                                <li>
                                    <span class="tit">전화번호</span>
                                    <span class="txt">010-1234-5678</span>
                                </li>
                                <li>
                                    <span class="tit">방문예쩡일자</span>
                                    <span class="txt">YYYY.MM.DD HH:MM</span>
                                </li>
                                <li>
                                    <span class="tit">방문자</span>
                                    <span class="txt">오토영업2팀 홍길동</span>
                                </li>
                                <li>
                                    <span class="tit">방문자</span>
                                    <span class="txt yes">오토영업2팀 홍길동</span><!--[D]: 가능-->
                                </li>
                                <li>
                                    <span class="tit">방문자</span>
                                    <span class="txt no">오토영업2팀 홍길동</span><!--[D]: 불가능-->
                                </li>
                            </ul>
                            <div class="btn-cont-wrap">
                                <a href="#none" class="btn view style3">상세보기</a>
                            </div>
                        </div>

                        <p class="test-tit">리스트 - flag style3</p>
                        <div class="txt-detail-area">
                            <div class="txt-detail-header">
                                <p><span class="tit">김현대</span><span class="small-tit"> 고객님</span></p>
                                <span class="flag style3">할부</span><!--[D: 할부일 경우 ]-->
                            </div>
                            <ul class="txt-list">
                                <li>
                                    <span class="tit">전화번호</span>
                                    <span class="txt">010-1234-5678</span>
                                </li>
                                <li>
                                    <span class="tit">방문예쩡일자</span>
                                    <span class="txt">YYYY.MM.DD HH:MM</span>
                                </li>
                                <li>
                                    <span class="tit">방문자</span>
                                    <span class="txt">오토영업2팀 홍길동</span>
                                </li>
                            </ul>
                            <div class="btn-cont-wrap">
                                <a href="#none" class="btn view style3">상세보기</a>
                            </div>
                        </div>

                        <p class="test-tit">리스트 - flag style4</p>
                        <div class="txt-detail-area">
                            <div class="txt-detail-header">
                                <p><span class="tit">김현대</span><span class="small-tit"> 고객님</span></p>
                                <span class="flag style4">대출</span><!--[D]: 대출일 경우 -->
                            </div>
                            <ul class="txt-list">
                                <li>
                                    <span class="tit">전화번호</span>
                                    <span class="txt">010-1234-5678</span>
                                </li>
                                <li>
                                    <span class="tit">방문예쩡일자</span>
                                    <span class="txt">YYYY.MM.DD HH:MM</span>
                                </li>
                                <li>
                                    <span class="tit">방문자</span>
                                    <span class="txt">오토영업2팀 홍길동</span>
                                </li>
                            </ul>
                            <div class="btn-cont-wrap">
                                <a href="#none" class="btn view style3">상세보기</a>
                            </div>
                        </div>

                        <p class="test-tit">리스트 - border</p>
                        <div class="txt-detail-area style2 result">
                            <div class="txt-detail-header">
                                <p>가가가가가가 고객님</p>
                            </div>
                            <ul class="txt-list">
                                <li>
                                    <span class="tit">전화번호</span>
                                    <span class="txt">010-1234-5678</span>
                                </li>
                                <li>
                                    <span class="tit">방문예쩡일자</span>
                                    <span class="txt">YYYY.MM.DD HH:MM</span>
                                </li>
                                <li>
                                    <span class="tit">방문자</span>
                                    <span class="txt">오토영업2팀 홍길동</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <p class="test-tit">리스트 - 아코디언</p>
                    <div class="accordion-item">
                        <div class="accordion">
                            <button type="button" class="btn-accordion">· 차량결과</button>
                            <div class="accordion-cont form-wrap on">

                                <div class="txt-detail-area"><!--[D]: 조회 안됐을 경우-->
                                    <div class="txt-detail-header no-line">
                                        <p class="tit">차량조회를 진행해 주세요</p>
                                    </div>
                                </div>

                                <div class="txt-detail-area result"><!--[D]: 조회 됐을 경우-->
                                    <div class="txt-detail-header no-line">
                                        <p class="tit">현대 제네시스 GV80 가솔린 3.5 터보<br/>
                                            2022년식 / 456바 7891</p>
                                    </div>
                                    <ul class="txt-list">
                                        <li>
                                            <span class="tit">중고시세</span>
                                            <span class="txt">70,000,000 원</span>
                                        </li>
                                        <li>
                                            <span class="tit">최대 취급가능 대출기간</span>
                                            <span class="txt">72 개월</span>
                                        </li>
                                        <li>
                                            <span class="tit">취급 가능여부</span>
                                            <span class="txt">취급가능차량</span>
                                        </li>
                                    </ul>
                                </div>

                                <div class="btn-cont-wrap">
                                    <a href="#none" class="btn btn-primary disabled">사고이력 보기</a>
                                </div>

                                <div class="btn-cont-wrap">
                                    <a href="#none" class="btn view style3">사고이력 보기</a><!--[D]:활성화 됐을 경우-->
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <p class="test-tit">금융계산기 결과</p>
                    <div class="txt-detail-area pd-top">
                        <p class="form-tit">· 상환예정금액</p>
                        <div class="visaul-info-box">
                            <span>상환 예정 금액은<br>매월 약 <sapn class="txt">450,450원</sapn> 입니다</span>
                        </div>
                        <!-- <div class="txt-detail-tit">
                            <span class="tit"><strong>상환예정금액</strong></span>
                        </div>
                        <ul class="txt-list">
                            <li>
                                <span class="tit">상환원금</span>
                                <span class="txt">387,017원</span>
                            </li>
                            <li>
                                <span class="tit">이자금액</span>
                                <span class="txt">63,333원</span>
                            </li>
                            <li>
                                <span class="tit">월납부금</span>
                                <span class="txt">540,540원</span>
                            </li>
                        </ul> -->
                    </div>
                </section>
                <section class="fixed-btn-wrap">
                    <div class="btn-wrap">
                        <button type="button" class="btn btn-close">그만하기</button>
                        <button type="button" class="btn btn-primary">다음</button>
                    </div>
                </section>
            </div>
        </form>
    </div>
</body>
<style>
    .test-tit.red { background:#dddddd; border-radius:10px; color:#555555; padding:20px; }
    .test-tit.red:before { content:none; }
    .test-tit { position:relative; margin-top:40px; margin-bottom:20px; padding-left:20px; font-size:0.89rem; }
    .test-tit:before { content:""; position:absolute; top:50%; left:0; transform:translateY(-50%); width:10px; height:10px; border-radius:50%;  background-color: #267DC5;  }
</style>
</html>