<html lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ORIX Capital</title>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="keywords" content="ORIX Capital keywords" />
    <meta name="description" content="ORIX Capital description" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">

    <link rel="shortcut icon" type="image/x-icon" href="../resources/favicon.png" />
    <link rel="icon" type="image/x-icon" href="../resources/favicon.png" />
    
    <link rel="stylesheet" href="../resources/css/lib/swiper-bundle.min.css">
    <link rel="stylesheet" href="../resources/css/lib/renewal.css">
    <link rel="stylesheet" href="../resources/css/lib/default.css">
    <link rel="stylesheet" href="../resources/css/ui/jquery-ui.css">
    <link rel="stylesheet" href="../resources/css/ui/datepicker.css">
    
    <script type="text/javascript" src="../resources/js/ui/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="../resources/js/ui/jquery-1.12.4.min.js"></script>
    <script  type="text/javascript" src="../resources/js/ui/jquery-ui-1.12.1.js"></script>

    <script type="text/javascript" src="../resources/js/lib/default.js"></script>
    <script type="text/javascript" src="../resources/js/lib/datepicker.js"></script>
</head>
<style>
	
</style>

<body>
    <!--//wrap-->
    <div class="wrap main">
        <!-- //headerWrap -->
		<div id="headerWrap">
			<script>
			$(document).ready(function(){
				document.charset="euc-kr";
				$("#headerWrap").load("./include/inc_main_header.html");
			});
			</script>
        </div>
        <!-- headerWrap// -->
        <!-- //menuWrap -->
        <div id="menuWrap">
            <script>
            $(document).ready(function(){
                document.charset="euc-kr";
                $("#menuWrap").load("./include/inc_all_menu.html");
            });
            </script>
        </div>
	    <!-- menuWrap// -->
        <form>
            <!--//contents-wrap-->
            <div class="contents-wrap main">
				<section class="tabs-wrap">
					<div class="tabs">
						<ul class="tab-item">
							<li data-tab="tab-cont01" class="on"><a href="#none" title="선택됨">중고차</a></li>
							<li data-tab="tab-cont02" class=""><a href="#none">마이페이지</a></li>
						</ul>
						<div class="tab-content-area">
							<div id="tab-cont01" class="tab-content">
								<div class="main-cont-wrap car bg-wrap">
									<p class="text">안녕하세요 <span class="name">오릭스님!</span></p>
									<p class="tit">오늘의 업무 요청을<br/> 확인해보세요</p>
									<!-- <span class="main-obj car"><img src="../resources/images/common/main_car.png" alt="car"></span> -->
								</div>

								<div class="main-bg-wrap">
									<div class="quick-service-area">
										<div class="arrow-button-wrap">
											<ul class="arrow-button-list list-icon">
												<li class="audit"><a href="#none">심사조회요청 </a></li>
												<li class="documents"><a href="#none">신용조회 결과 </a></li>
												<li class="examination"><a href="#none">심사결과 조회 </a></li>
												<li class="contract"><a href="#none">약정체결 </a></li>
												<li class="remittance"><a href="#none">송금요청 </a></li>
											</ul>
										</div>
									</div>
								</div>

							</div>

							<div id="tab-cont02" class="tab-content dp-none">

								<div class="main-cont-wrap graph">
									<p class="text">안녕하세요 <span class="name">오릭스님!</span></p>
									<p class="tit">나의 업무를 확인하고<br/> 처리해보세요</p>
								</div>

								<div class="main-bg-wrap">
									<div class="quick-service-area">
										<div class="arrow-button-wrap">
											<ul class="arrow-button-list list-icon">
												<li class="progress"><a href="#none">여신진행현황</a></li>
												<li class="document-sub"><a href="#none">서류제출 </a></li>
												<li class="password-change"><a href="#none">비밀번호 변경 </a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
            </div>
            <!--contents-wrap//-->
        </form>
    </div>
    <!--wrap//-->
</body>
</html>