<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <title>form</title>
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"
    />
    <!-- 기존 css -->
    <link rel="stylesheet" type="text/css" href="../../css/common.css" />
    <link rel="stylesheet" type="text/css" href="../../css/font.css" />

    <!-- 추가 css -->
    <link rel="stylesheet" href="../../css/jquery.scrollbar.css" />
    <link rel="stylesheet" href="../../assets/css/index.css" />

    <!-- jQuery 라이브러리 -->
    <script type="text/javascript" src="../../js/jquery-3.4.1.min.js"></script>
    <!-- jQuery UI 라이브러리 -->
    <script type="text/javascript" src="../../js/jquery-ui.js"></script>
    <!-- js -->
    <script
      type="text/javascript"
      charset="utf-8"
      src="../../js/common.js"
    ></script>

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="http://test.co.kr/respond.min.js"></script>
    <![endif]-->
    <!--[if (gte IE 7)&(lte IE 8)]>
      <script
        type="text/javascript"
        src="http://test.co.kr/respond.min.js"
      ></script>
    <![endif]-->
    <style>
      .info_text { margin-top:10px; padding:10px; border-radius:14px; background:#ffd582; }
      .info_text li { margin-bottom:5px; }
      .info_text li:last-child { margin-bottom:0; }
      h2 { font-size:30px; border-bottom:2px solid #222222; }
      .tit { display:block; margin:20px 0; padding:10px 5px; font-size:16px; background-color:#6ebda8; color:#fff; }
      .check-wrap > div {
        display: inline-block;
        margin-right: 10px;
      }
    </style>
  </head>

  <body>
    <div id="SGIM_wrap" class="mini_nav">
      <!-- S: side nav -->
      <!-- E: side nav -->
      <!-- S: container -->
      <div id="container" style="padding: 0 !important">
        <!-- S: header -->
        <!-- E: header -->
        <!-- S: content -->
        <div class="content" style="border-radius: 10px; margin: 20px; padding: 20px; background-color: #fff;">
          <h2>form</h2>
          <ul class="info_text">
            <li>
                input : width 100%(search 예외)
            </li>
            <li>
                select : width 270px
            </li>
        </ul>
        <p class="tit">search_wrap</p>
        <div class="search_wrap">
          <div class="search_box">
            <input type="text" placeholder="검색어를 입력해주세요" class="search_inputbox" />
            <button class="btn_search" type="submit">검색</button>
            <button class="btn_detail_search" type="submit">상세검색</button>
          </div>
          <form class="detail_search_wrap" style="display:none">
            <p class="detail_search_btn">상세검색<i>닫기</i></p>
            <!-- s: class명 추가 bul_dot -->
            <div class="search_column4">
              <div class="col">
                <dl class="bul_dot">
                  <dt><label for="detail01">종류</label></dt>
                  <dd><input type="text" name="" id="detail01" class="form_contrl"></dd>
                </dl>
              </div>
              <div class="col">
                <dl class="bul_dot">
                  <dt><label for="detail04">제조사</label></dt>
                  <dd><input type="text" name="" id="detail04" class="form_contrl"></dd>
                </dl>
              </div>
              <div class="col">
                <dl class="bul_dot">
                  <dt><label for="detail05">모델명</label></dt>
                  <dd><input type="text" name="" id="detail05" class="form_contrl"></dd>
                </dl>
              </div>
              <div class="col">
                <dl class="bul_dot">
                  <dt><label for="detail09">이름</label></dt>
                  <dd><input type="text" name="" id="detail09" class="form_contrl"></dd>
                </dl>
              </div>
            </div>
            <div class="search_date">
              <dl class="flx bul_dot">
                <dt>생성일</dt>
                <dd>
                  <div class="flx">
                    <ul class="flx month_select">
                      <!-- s: class명 변경 -->
                      <li><button class="normal">1개월</button></li>
                      <li><button class="normal on">3개월</button></li>
                      <li><button class="normal">6개월</button></li>
                      <li><button class="normal">10개월</button></li>
                      <li><button class="normal">12개월</button></li>
                      <!-- e: class명 변경 -->
                    </ul>
                    <div class="form_date">
                      <input type="text" class="form_contrl date_ctl" value="시작날짜" readonly="readonly">
                      <span> - </span>
                      <input type="text" class="form_contrl date_ctl" value="종료날짜" readonly="readonly">
                    </div>
                    <!-- s: class명 변경 -->
                    <button class="normal icon_reset">초기화</button>
                    <!-- e: class명 변경 -->
                  </div>
                </dd>
              </dl>
            </div>
            <div class="search_column1">
              <div class="col">
                <dl class="flx bul_dot">
                  <dt><label for="detail07">모델명</label></dt>
                  <dd><select name="" id="detail07" class="form_contrl">
                    <option value="">전체</option>
                    <option value="">222</option>
                    <option value="">333</option>
                    <option value="">444</option>
                    <option value="">555</option>
                  </select></dd>
                </dl>
              </div>
            </div>
            <div class="box2">
              <p class="btn_box">
                <a href="" class="line icon_reset">초기화</a>
                <a href="" class="primary">검색</a>
              </p>
            </div>
            <!-- e: class명 추가 bul_dot -->
          </form>
          <div class="related_box" style="display:none">
            <ul class="related_list">
              <li><a href="">연관검색어1</a></li>
              <li><a href="">연관검색어2</a></li>
              <li><a href="">연관검색어3</a></li>
              <li><a href="">연관검색어4</a></li>
              <li><a href="">연관검색어5</a></li>
            </ul>
          </div>
        </div>
          <form>
            <p class="tit">mini_search( tree menu 안에 검색창 )</p>
            <div class="search_box mini_search">
              <input
                type="text"
                placeholder="검색어를 입력해주세요"
                class="search_inputbox"
              />
              <button class="btn_search" type="submit">검색</button>
            </div>
            <p class="tit">기본 input</p>
            <div class="form_stl">
              <!-- form 태그에 넣어도 됨 -->
              <dl class="form_list">
                <dt class="form_tit">
                  <label for="onsdName">기본</label>
                </dt>
                <dd class="form_txt">
                  <input
                    type="text"
                    name=""
                    class="form_contrl"
                    id="onsdName"
                    placeholder="이름"
                  />
                  <span class="dupli_check redtxt">
                    <i></i>이름 중복입니다.
                  </span>
                </dd>
              </dl>
              <dl class="form_list">
                <dt class="form_tit">
                  <label for="onsdName">Date</label>
                </dt>
                <dd class="form_txt">
                  <div class="form_date">
                    <input
                      type="text"
                      class="form_contrl date_ctl"
                      value="2025-04-02"
                      readonly="readonly"
                    />
                  </div>
                  <span class="dupli_check bluetxt">
                    <i></i>사용가능합니다.
                  </span>
                </dd>
              </dl>
              <dl class="form_list">
                <dt class="form_tit">
                  <label for="onsdName">file</label>
                </dt>
                <dd class="form_txt">
                  <div class="filebox">
                    <input class="form_contrl" value="파일선택">
                    <div class="file_btns">
                      <!-- s: class 변경 -->
                      <button class="icon file">파일선택</button>
                      <button class="basic icon upload">업로드</button>
                      <button class="icon del">삭제</button>
                      <button class="icon icon_mymodify">입력</button>
                      <!-- e: class 변경 -->
                    </div>
                  </div>
                </dd>
              </dl>
              <dl class="form_list">
                <dt class="form_tit">
                  <label for="onsdName">disabled</label>
                </dt>
                <dd class="form_txt">
                  <input
                    type="text"
                    name=""
                    class="form_contrl"
                    id="onsdName"
                    placeholder="LinuxRecon" disabled
                  />
                  <div class="loader"></div>
                </dd>
              </dl>
              <dl class="form_list">
                <dt class="form_tit">
                  <label for="">기간</label>
                </dt>
                <dd class="form_txt">
                  <div class="form_date flx">
                    <input
                      type="text"
                      class="form_contrl date_ctl"
                      value="2025-04-02"
                      readonly="readonly"
                    />
                    <span> - </span>
                    <input
                      type="text"
                      class="form_contrl date_ctl"
                      value="2025-04-02"
                      readonly="readonly"
                    />
                  </div>
                </dd>
              </dl>
              <dl class="form_list">
                <dt class="form_tit">
                  <label for="">기한</label>
                </dt>
                <dd class="form_txt">
                  <div class="form_date flx">
                    <input type="text" class="form_contrl date_ctl" value="2019-10-11" readonly="readonly">
									<span> ~ </span>
									<input type="text" class="form_contrl date_ctl" value="2019-10-18" readonly="readonly">
                  </div>
                  <div class="calendarUI">
                    <div class="calendar_month flx">
                      <div class="month_slt flx">
                        <input type="text" name="" class="form_contrl year" value="2023">
                        <div class="cld_month_pop scroll" style="">
                          <ul>
                            <li>
                              <button>2022</button>
                            </li>
                            <li>
                              <button class="on">2023</button>
                            </li>
                            <li>
                              <button>2024</button>
                            </li>
                            <li>
                              <button>2025</button>
                            </li>
                            <li>
                              <button>2026</button>
                            </li>
                            <li>
                              <button>2027</button>
                            </li>
                            <li>
                              <button>2028</button>
                            </li>
                            <li>
                              <button>2029</button>
                            </li>
                            <li>
                              <button>2030</button>
                            </li>
                            <li>
                              <button>2031</button>
                            </li>
                          </ul>
                        </div>
                        <p>.</p>
                        <input type="text" name="" class="form_contrl day" value="12">
                      </div>
                      <div class="flx">
                        <button class="prev"></button>
                        <button class="next"></button>
                      </div>
                    </div>
                    <div class="calendar_minitbl">
                      <div class="day_weeks flx">
                        <p>일</p>
                        <p>월</p>
                        <p>화</p>
                        <p>수</p>
                        <p>목</p>
                        <p>금</p>
                        <p>토</p>
                      </div>
                      <div class="weeksTbl">
                        <div class="week_row">
                          <div class="diss_week"><button class="btn_weekday">1</button></div>
                          <div><button class="btn_weekday">2</button></div>
                          <div><button class="btn_weekday">3</button></div>
                          <div><button class="btn_weekday">4</button></div>
                          <div><button class="btn_weekday">5</button></div>
                          <div><button class="btn_weekday">6</button></div>
                          <div><button class="btn_weekday">7</button></div>
                        </div>
                        <div class="week_row">
                          <div class="diss_week"><button class="btn_weekday">8</button></div>
                          <div><button class="btn_weekday">9</button></div>
                          <div class=""><button class="btn_weekday">10</button></div>
                          <div class=""><button class="btn_weekday">11</button></div>
                          <div class=""><button class="btn_weekday">12</button></div>
                          <div class=""><button class="btn_weekday">13</button></div>
                          <div class=""><button class="btn_weekday">14</button></div>
                        </div>
                        <div class="week_row">
                          <div class=" diss_week"><button class="btn_weekday">15</button></div>
                          <div class=""><button class="btn_weekday">16</button></div>
                          <div class=""><button class="btn_weekday">17</button></div>
                          <div class=""><button class="btn_weekday">18</button></div>
                          <div class=""><button class="btn_weekday">19</button></div>
                          <div class=""><button class="btn_weekday on">20</button></div>
                          <div><button class="btn_weekday">21</button></div>
                        </div>
                        <div class="week_row">
                          <div class="diss_week"><button class="btn_weekday">22</button></div>
                          <div><button class="btn_weekday">23</button></div>
                          <div><button class="btn_weekday">24</button></div>
                          <div><button class="btn_weekday">25</button></div>
                          <div><button class="btn_weekday">26</button></div>
                          <div><button class="btn_weekday">27</button></div>
                          <div><button class="btn_weekday">28</button></div>
                        </div>
                        <div class="week_row">
                          <div class="diss_week"><button class="btn_weekday">29</button></div>
                          <div><button class="btn_weekday">30</button></div>
                          <div><button class="btn_weekday">31</button></div>
                          <div class="btn_weekday"></div>
                          <div class="btn_weekday"></div>
                          <div class="btn_weekday"></div>
                          <div class="btn_weekday"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </dd>
              </dl>
              <dl class="form_list">
                <dt class="form_tit">
                  <label for="">종류</label>
                </dt>
                <dd class="form_txt">
                  <select class="form_contrl" id="modelType">
                    <option>DB</option>
                    <option>DB</option>
                  </select>
                  <p class="req_txt inbl">설명문구</p>
                </dd>
              </dl>
              <dl class="form_list">
                <dt class="form_tit">
                  <label for="">run at</label>
                </dt>
                <dd class="form_txt">
                  <input
                    type="text"
                    name=""
                    class="form_contrl"
                    id=""
                    placeholder="12:00"
                    disabled
                  />
                </dd>
              </dl>
              <dl class="form_list">
                <dt class="form_tit">
                  <label for="onsdName">신청사유</label>
                </dt>
                <dd class="form_txt">
                  <textarea class="form_contrl" id="modelExplain"></textarea>
                  <div class="ducheck_bl">
                    <span class="dupli_check graytxt"
                      ><i></i>필수 입력 값 입니다.</span
                    >
                  </div>
                </dd>
              </dl>
              <dl class="form_list">
                <dt class="form_tit">
                  <label for="onsdName">종류</label>
                </dt>
                <dd class="form_txt">
                  <select class="form_contrl" id="modelType">
                    <option>DB</option>
                    <option>DB</option>
                  </select>
                </dd>
              </dl>
              <dl class="form_list">
                <dt class="form_tit">
                  <label for="onsdName"
                    >파일첨부
                    <i class="i_req"></i>
                  </label>
                </dt>
                <dd class="form_txt">
                  <div class="file_upload_wrap">
                    <div class="file_upload_btns">
                      <button class="btnstl line">파일선택</button>
                      <button class="btnstl basic list_upload">
                        <i></i>목록 업로드
                      </button>
                    </div>
                    <!-- 업로드 파일 없을 때 -->
                    <div class="file_upload_box">
                      <p class="icon_file_upload"></p>
                      <p>파일을 마우스로 끌어 오세요</p>
                    </div>
                    <!-- 업로드 파일 있을 때 -->
                    <div class="file_upload_box upload_list scroll">
                      <ul>
                        <li>
                          <button class="btn_del"></button>
                          <i class="icon_ff sl_ff word"></i>
                          <p>file name.doc</p>
                          <p class="file_size">84kb</p>
                        </li>
                        <li>
                          <button class="btn_del"></button>
                          <i class="icon_ff sl_ff word"></i>
                          <p>file name223424r.doc</p>
                          <p class="file_size">84kb</p>
                        </li>
                        <li>
                          <button class="btn_del"></button>
                          <i class="icon_ff sl_ff word"></i>
                          <p>file name.doc</p>
                          <p class="file_size">84kb</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </dd>
              </dl>
              <dl class="form_list">
                <dt class="form_tit">multiselect</dt>
                <dd class="form_txt">
                  <span persist="true">
                    <div action="update" inputid="" class="inlineInput">
                      <div inputid="">
                        <div tabindex="-1" role="combobox" aria-owns="listbox-null" class="multiselect" autocomplete="off" style="width: 270px; margin-right: 5px;">
                          <div class="multiselect__select"></div>
                          <div class="multiselect__tags">
                            <div class="multiselect__tags-wrap" style="display: none;"></div>
                            <div class="multiselect__spinner" style="display: none;"></div>
                            <input name="resourceServiceArea" type="text" autocomplete="off" spellcheck="false" placeholder="선택 또는 검색하세요." tabindex="0" aria-controls="listbox-null" class="multiselect__input" aria-activedescendant="null-5" style="width: 0px; position: absolute; padding: 0px;">
                            <span class="multiselect__single">None</span>
                          </div>
                          <div tabindex="-1" class="multiselect__content-wrapper" style="max-height: 300px;display: none;display: block !important;">
                            <ul role="listbox" id="listbox-null" class="multiselect__content" style="display: inline-block;">
                              <li id="null-0" role="option" class="multiselect__element"><span data-select="" data-selected="" data-deselect="" class="multiselect__option"><span>개발서버</span></span></li>
                              <li id="null-1" role="option" class="multiselect__element"><span data-select="" data-selected="" data-deselect="" class="multiselect__option multiselect__option--selected"><span>None</span></span></li>
                              <li id="null-2" role="option" class="multiselect__element"><span data-select="" data-selected="" data-deselect="" class="multiselect__option"><span>운영서버</span></span></li>
                              <li id="null-3" role="option" class="multiselect__element"><span data-select="" data-selected="" data-deselect="" class="multiselect__option"><span>검증(QA)서버</span></span></li>
                              <li id="null-4" role="option" class="multiselect__element"><span data-select="" data-selected="" data-deselect="" class="multiselect__option"><span>스테이징(Staging)</span></span></li>
                              <li id="null-5" role="option" class="multiselect__element"><span data-select="" data-selected="" data-deselect="" class="multiselect__option multiselect__option--highlight"><span>테스트서버</span></span></li>
                              <li id="null-6" role="option" class="multiselect__element"><span data-select="" data-selected="" data-deselect="" class="multiselect__option"><span>UAT</span></span> </li>
                              <li style="display: none;"><span class="multiselect__option">No elements found. Consider changing the search query.</span></li>
                              <li style="display: none;"><span class="multiselect__option">List is empty.</span></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </span>
                </dd>
              </dl>
            </div>
            <p class="tit">select + button</p>
            <div class="form_stl">
              <dl class="form_list">
                <dt class="form_tit"><label for="regitOTP">등록된 OTP</label></dt>
                <dd class="form_txt flx">
                  <select class="form_contrl" id="regitOTP">
                    <option>Google Open OTP</option>
                    <option>Google Open OTP</option>
                    <option>Google Open OTP</option>
                    <option>Google Open OTP</option>
                  </select>
                  <button class="basic">변경 신청</button><!-- basic 클래스로 변경 -->
                </dd>
              </dl>
            </div>
            <p class="tit">checkbox</p>
            <div class="check-wrap">
              <!--check-wrap 안에만 가져가기-->
              <div class="check_list">
                <input type="checkbox" name="" id="list02" class="check_stl" />
                <label for="list02" class="check_stl_lab">기본</label>
              </div>
              <div class="check_list">
                <input
                  type="checkbox"
                  name=""
                  id="list03"
                  class="check_stl"
                  checked
                />
                <label for="list03" class="check_stl_lab">활성</label>
              </div>
              <div class="check_list">
                <input
                  type="checkbox"
                  name=""
                  id="list04"
                  class="check_stl"
                  disabled
                />
                <label for="list04" class="check_stl_lab">비활성</label>
              </div>
            </div>
            <p class="tit">radio</p>
            <div class="cl_both check2">
              <div class="f_l">
                <div>
                  <input
                    type="radio"
                    name="rd"
                    id="rd01"
                    class="radio_stl"
                    checked
                  /><label for="rd01" class="radio_stl_lab">Enable</label>
                  <p class="req_txt inbl">- 설명문구 들어갑니다.</p>
                </div>
              </div>
              <div class="f_l">
                <div>
                  <input
                    type="radio"
                    name="rd"
                    id="rd02"
                    class="radio_stl"
                  /><label for="rd02" class="radio_stl_lab">Enable</label>
                  <p class="req_txt inbl">- 설명문구 들어갑니다.</p>
                </div>
              </div>
              <div class="f_l">
                <div>
                  <input
                    type="radio"
                    name="rd"
                    id="rd03"
                    class="radio_stl" disabled
                  /><label for="rd03" class="radio_stl_lab">Disable</label>
                  <p class="req_txt inbl">
                    - 설명문구 설명문구 설명문구 들어갑니다.
                  </p>
                </div>
              </div>
            </div>
            <p class="tit">selectbox</p>
            <div class="tbl_btm">
              <div class="page_select">
                <select class="form_contrl">
                  <option value="">10</option>
                  <option value="">25</option>
                  <option value="">50</option>
                  <option value="">100</option>
                </select>
              </div>
            </div>
            <p class="tit">dropdown</p>
            <div class="list_btn">
              <div class="list_left_btn">
                <div class="dropdown">
                  <button class="line btn_dropdown">
                    보고서 생성
                    <!-- s : background에 이미지 삽입
								 <span>
									<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M6 10L10 5H2L6 10Z" fill="#DDDDDD"/>
									</svg>
								</span> e-->
                  </button>
                  <ul class="dropdown_list" style="display: none">
                    <li>
                      <button><i class="icon_ff sl_ff excel"></i> EXEL</button>
                    </li>
                    <li>
                      <button><i class="icon_ff sl_ff pdf"></i> PDF</button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <p class="tit">toggle 버튼</p>
            <div class="flx">
              <p class="tg_sch_stl blue_tg_stl" style="margin-right:10px;">
                <input type="checkbox" class="tg_sch" id="dbcontrl01" name="" checked="checked"/>
                <label for="dbcontrl01" class="tg_sch_lab"></label>
              </p>
              <p class="tg_sch_stl blue_tg_stl mini">
                <input type="checkbox" class="tg_sch" id="dbcontrl02" name="" checked="checked">
                <label for="dbcontrl02" class="tg_sch_lab"></label>
              </p>
            </div>
          </form>
        </div>
        <!-- E: content -->
        <!-- S: footer -->
        <!-- E: footer -->
      </div>
      <div class="scroll_btns" style="display: none">
        <button class="btn_toTheTop"></button>
        <button class="btn_toThebottom"></button>
      </div>
      <script>
        $("body").on("mousewheel", function (e) {
          var wheel = e.originalEvent.wheelDelta;

          if (wheel > 0) {
            //스크롤 올릴때
          } else {
            //스크롤 내릴때
            $(".scroll_btns").show();
          }
        });
        $(window).scroll(function () {
          var scrollValue = $(document).scrollTop();
          if (scrollValue > 65) {
            $(".list_btn_stk").addClass("btnarea");
          } else {
            $(".list_btn_stk").removeClass("btnarea");
          }
        });
      </script>

      <!-- s : 퍼블확인용 스크립트, 확인후 기존 스크립트로 교체 필요-->
      <script>
        $(document).ready(function () {
          $(".accordion").on("click", function () {
            $(this).toggleClass("tr_open");
          });
        });
      </script>
      <!-- e : 퍼블확인용 스크립트, 확인후 기존 스크립트로 교체 필요-->
    </div>
  </body>
</html>
