<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="ORIX Capital keywords">
<meta name="description" content="ORIX Capital description">

<meta property="og:locale" content="ko_KR" />
<meta property="og:type" content="website" />

<title>정보입력 < 사용자신청</title>

<link href="../../resources/css/lib/default.css" rel="stylesheet" type="text/css" />
<link href="../../resources/css/ui/ui_common.css" rel="stylesheet" type="text/css" />
<link href="../../resources/css/ui/media-query.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="../../resources/js/lib/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../resources/js/lib/jquery-ui-1.12.1.js"></script>
<script type="text/javascript" src="../../resources/js/ui/ui_common.js"></script>
<script type="text/javascript" src="../../resources/js/ui/ui_plugin.js"></script>
<script type="text/javascript" src="../../resources/js/ui/default.js"></script>


</head>
<body>
    <!-- S: skipnavi -->
    <div id="skipnavi">
        <script>
            $(document).ready(function(){
                $("#skipnavi").load("../INCLUDE/inc_skipnavi.html");
            });
        </script>
    </div>
    <!-- E: skipnavi -->
    <div class="wrap login">
        <!-- s:header -->
        <div class="login-header">
            <img src="../../resources/images/login_logo.png" alt="오릭스캐피탈코리아 로고">
            <h2>
                사용자신청
                <span>오릭스캐피탈코리아 신차 영업 플랫폼 입니다.</span>
            </h2>
        </div>
        <!-- //e:header -->
        <!-- s:contentWrap -->
        <div id="contentWrap" class="sub-content">
            <!-- s:contents -->
            <!-- //e:contents -->
            <!--s: scrollTop-->
            <button class="btn btn-top" type="button"><span class="ir">탑버튼</span></button>
            <!--//e: scrollTop-->
        </div>
        <!-- //e:contentWrap -->
        <!-- s:footer -->
        <div id="footerWrap">
            <script>
                $(document).ready(function(){
                    $("#footerWrap").load("../INCLUDE/inc_footer.html");
                });
            </script>
        </div>
        <!-- //e:footer -->
        <!-- 사업지점 -->
        <div id="PopUp10" class="layerpopup laypop on" style="display:block;" tabindex="0">
            <div class="content-wrap">
                <div class="pop-header">
                    <h3 class="pop-title">사업지점</h3>
                    <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
                </div>
                <div class="ly-con-wrap ly-scroll-con">
                    <div class="table-type ta-c table-row">
                        <table><!--[20241030] caption 안에 내용 변경-->
                            <caption>사업지점 코드, 사업지점명, 선택에 대한 테이블</caption>
                            <colgroup>
                                <col width="40%">
                                <col width="40%">
                                <col width="*%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="row">사업지점 코드</th>
                                    <th scope="row">사업지점명</th>
                                    <th scope="row">선택</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>지점코드</td>
                                    <td>사업지점명</td>
                                    <td>
                                        <button class="btn btn-text">선택</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>지점코드</td>
                                    <td>사업지점명</td>
                                    <td>
                                        <button class="btn btn-text">선택</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>지점코드</td>
                                    <td>사업지점명</td>
                                    <td>
                                        <button class="btn btn-text">선택</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>지점코드</td>
                                    <td>사업지점명</td>
                                    <td>
                                        <button class="btn btn-text">선택</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>지점코드</td>
                                    <td>사업지점명</td>
                                    <td>
                                        <button class="btn btn-text">선택</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="btn-wrap popup">
                    <button type="button" name="button" class="btn btn-bottom" >닫기</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>