<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="keywords" content="ORIX Capital keywords">
<meta name="description" content="ORIX Capital description">

<meta property="og:locale" content="ko_KR" />
<meta property="og:type" content="website" />

<title>신청완료 < 사용자신청</title>

<link href="../../resources/css/lib/default.css" rel="stylesheet" type="text/css" />
<link href="../../resources/css/ui/ui_common.css" rel="stylesheet" type="text/css" />
<link href="../../resources/css/ui/media-query.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="../../resources/js/lib/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="../../resources/js/lib/jquery-ui-1.12.1.js"></script>
<script type="text/javascript" src="../../resources/js/ui/ui_common.js"></script>
<script type="text/javascript" src="../../resources/js/ui/ui_plugin.js"></script>
<script type="text/javascript" src="../../resources/js/ui/default.js"></script>


</head>
<body>
    <!-- S: skipnavi -->
    <div id="skipnavi">
        <script>
            $(document).ready(function(){
                $("#skipnavi").load("../INCLUDE/inc_skipnavi.html");
            });
        </script>
    </div>
    <!-- E: skipnavi -->
    <div class="wrap login">
        <!-- s:header -->
        <div class="login-header">
            <img src="../../resources/images/login_logo.png" alt="오릭스캐피탈코리아 로고">
            <h2>
                사용자신청
                <span>오릭스캐피탈코리아 신차 영업 플랫폼 입니다.</span>
            </h2>
        </div>
        <!-- //e:header -->
        <!-- s:contentWrap -->
        <div id="contentWrap" class="sub-content">
            <!-- s:contents -->
            <div class="contents">
                <!--S: 2024.10.23 text 변경 -->
                <ul class="step-wrap">
                    <li class="prev"><span>Step1.휴대폰 본인인증</span></li>
                    <li class="prev"><span>Step2.정보입력</span></li>
                    <li class="on"><span>Step3.신청완료</span></li>
                </ul>
                <!--E: 2024.10.23 text 변경 -->
                <div class="result-area success">
                    <div class="text-wrap result">
                        <h3>사용자신청이 완료되었습니다.</h3>
                        <ul><!--[20241119]텍스트 수정-->
                            <li>입력하신 정보를 검토 후 <span class="blue">승인여부</span>가 결정됩니다.</li>
                        </ul>
                    </div>
                </div>
                <!--S: 사용자신청 실패했을 때
                <div class="result-area fail">
                    <div class="text-wrap result">
                        <h3>사용자신청에 <span class="red">실패</span>하였습니다.</h3>
                        <ul>
                            <li>입력하신 휴대폰 번호는 등록되지 않은 휴대폰번호 입니다.</li>
                            <li><span class="red">등록된 휴대폰 번호로 다시 신청</span> 해주세요.</li>
                        </ul>
                    </div>
                </div> :E-->
                <form>
                    <div class="sub-text-wrap style2">
                        <h4>신청내역</h4>
                    </div>
                    <div class="table-type">
                        <div class="col">
                            <dl>
                                <dt>아이디/비밀번호</dt>
                                <dd>
                                    Abcdef / **********
                                </dd>
                            </dl>
                            <dl>
                                <dt>성명</dt>
                                <dd>
                                    김오릭
                                </dd>
                            </dl>
                            <dl>
                                <dt>휴대폰번호</dt>
                                <dd>
                                    010-1234-5678
                                </dd>
                            </dl>
                            <dl>
                                <dt>사업지점</dt>
                                <dd>
                                    다인모빌스
                                </dd>
                            </dl>
                            <dl>
                                <dt>이메일</dt>
                                <dd>
                                    abc@test.com
                                </dd>
                            </dl>
                        </div>
                    </div>
                </form>
                <div class="btn-wrap bottom">
                    <button type="button" name="button" class="btn btn-primary">확인</button>
                </div>
            </div>
            <!-- //e:contents -->
            <!--s: scrollTop-->
            <button class="btn btn-top" type="button"><span class="ir">탑버튼</span></button>
            <!--//e: scrollTop-->
        </div>
        <!-- //e:contentWrap -->
        <!-- s:footer -->
        <div id="footerWrap">
            <script>
                $(document).ready(function(){
                    $("#footerWrap").load("../INCLUDE/inc_footer.html");
                });
            </script>
        </div>
        <!-- //e:footer -->
    </div>
</body>

</html>