<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/lib/renewal.css">
    <link rel="stylesheet" href="../../resources/css/lib/default.css">

    <script type="text/javascript" src="../../resources/js/lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/default.js"></script>
    
</head>

<body>
    <div class="wrap">
        <!-- //header -->
        <header id="lnb">
            <script>
                $(document).ready(function(){
                    document.charset="euc-kr";
                    $("#lnb").load("../include/inc_header_main.html");
                });
            </script>
        </header>
        <!-- header// -->
        <!-- s:menuWrap -->
        <div id="menuWrap">
            <script>
            $(document).ready(function(){
                document.charset="euc-kr";
                $("#menuWrap").load("./include/inc_menu.html");
            });
            </script>
        </div>
        <!-- e:menuWrap -->
        <form>
            <div class="contents-wrap">
                <section class="main-wrap">
                    <div class="main-bg">
                    </div>
                    <div class="text-wrap">
                        <p class="tit">What kind of house are you looking for?</p>
                        <p class="txt">with Philwapp, any house will be able to find the one you want. Find your own home on Philwapp. That would be the best option you can make.</p>
                    </div>
                </section>
                <section class="list-icon-wrap under-line">
                    <ul class="list-icon ">
                        <li class="sell-house">
                            <a href="#none" >
                                <span class="tit">Sell my house</span>
                                <span class="sub-tit">WHat Kind of house are you<br>looking for?</span>
                            </a>
                        </li>
                        <li class="buy-home">
                            <a href="#none" >
                                <span class="tit">Buy Home</span>
                                <span class="sub-tit">WHat Kind of house are you<br>looking for?</span>
                            </a>
                        </li>
                        <li class="home-rental">
                            <a href="#none" >
                                <span class="tit">Home Rental</span>
                                <span class="sub-tit">WHat Kind of house are you<br>looking for?</span>
                            </a>
                        </li>
                        <li class="romm-rental">
                            <a href="#none" >
                                <span class="tit">Room Rental</span>
                                <span class="sub-tit">WHat Kind of house are you<br>looking for?</span>
                            </a>
                        </li>
                    </ul>
				</section>
            </div>
        </form>
    </div>
</body>





</html>