<!DOCTYPE html>
<HTML lang="ko">

<head>
    <meta charset="utf-8">
    <title>list2</title>
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
    <!-- 기존 css -->
    <link rel="stylesheet" type="text/css" href="../../css/common.css">
    <link rel="stylesheet" type="text/css" href="../../css/font.css">

    <!-- 추가 css -->
    <link rel="stylesheet" href="../../css/jquery.scrollbar.css">
    <link rel="stylesheet" href="../../assets/css/index.css">

    <!-- jQuery 라이브러리 -->
    <script type="text/javascript" src="../../js/jquery-3.4.1.min.js"></script>
    <!-- jQuery UI 라이브러리 -->
    <script type="text/javascript" src="../../js/jquery-ui.js"></script>
    <!-- js -->
    <script type="text/javascript" charset="utf-8" src="../../js/common.js"></script>

    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<script src="http://test.co.kr/respond.min.js"></script>
	<![endif]-->
    <!--[if (gte IE 7)&(lte IE 8)]>
	<script type="text/javascript" src="http://test.co.kr/respond.min.js"></script>
	<![endif]-->
    <style>
        h2 { font-size:30px; }
        .tit { display:block; margin:20px 0; padding:10px 5px; font-size:16px; background-color:#6ebda8; color:#fff; }
    </style>
</head>

<body>
    <div id="SGIM_wrap" class="mini_nav">
        <!-- S: side nav -->
        <!-- E: side nav -->
        <!-- S: container -->
        <div id="container" style="padding:0 !important;">
            <!-- S: header -->
            <!-- E: header -->
            <!-- S: content -->
            <div class="content" style="border-radius:10px; margin:20px; padding:20px;">
                <h2>list</h2>
                <section>
                    <p class="tit">title + noline + bul_dot + form요소</p>
                    <div class="form_wrap">
						<p class="fm_tit">신청 상세</p>
						<div class="form_stl">
							<!-- s: bul_dot 추가 -->
							<ul class="form_tbl noline bul_dot">
							<!-- e: bul_dot 추가 -->
								<li class="bul_dot">
									<div class="form_tit"><label for="onsdName">신청 역할</label></div>
									<div class="form_txt"><input type="text" name="" class="form_contrl" id="onsdName" placeholder="">
									</div>
								</li>
								<li class="bul_dot">
									<div class="form_tit"><label for="select07">신청사유<i class="i_req"></i></label></div>
									<div class="form_txt">
										<textarea class="form_contrl" id="modelExplain"></textarea>
										<div class="ducheck_bl"><span class="dupli_check redtxt"><i></i>필수 입력 값 입니다.</span></div>
									</div>
								</li>
							</ul>
						</div>
					</div>
                    <p class="tit">bul_dot + form요소</p>
                    <form class="form_stl">
                        <!-- s: dl 구조 수정 -->
                        <dl class="form_list bul_dot">
                            <dt class="form_tit"><label for="onsdName">이름</label></dt>
                            <dd class="form_txt"><input type="text" name="" class="form_contrl" id="onsdName" placeholder="LinuxRecon">
                                <span class="dupli_check redtxt"><i></i>이름 중복 입니다.</span>
                                <!--<span class="dupli_check bluetxt"><i></i>사용가능합니다.</span>-->
                            </dd>
                        </dl>
                        <dl class="form_list bul_dot">
                            <dt class="form_tit">Status</dt>
                            <dd class="form_txt">
                                <div class="cl_both check2">
                                    <div class="f_l">
                                        <div>
                                            <input type="radio" name="rd" id="rd01" class="radio_stl" checked><label for="rd01" class="radio_stl_lab">Enable</label>
                                            <p class="req_txt inbl">설명문구 들어갑니다.</p>
                                        </div>
                                    </div>
                                    <div class="f_l">
                                        <div>
                                            <input type="radio" name="rd" id="rd02" class="radio_stl" disabled><label for="rd02" class="radio_stl_lab">Disable</label>
                                            <p class="req_txt inbl">설명문구 설명문구 설명문구 들어갑니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </dd>
                        </dl>
                        <dl class="form_list bul_dot">
                            <dt class="form_tit"><label for="select01">Connector</label></dt>
                            <dd class="form_txt">
                                <SELECT class="form_contrl" id="select01">
                                    <option>Oracle</option>
                                    <option>Oracle</option>
                                    <option>Oracle</option>
                                    <option>Oracle</option>
                                </SELECT>
                                <p class="req_txt org">경고문구 들어갑니다.</p>
                            </dd>
                        </dl>
                        <dl class="form_list bul_dot">
                            <dt class="form_tit"><label for="modelExplain">설명</label></dt>
                            <dd class="form_txt"><textarea class="form_contrl" id="modelExplain"></textarea></dd>
                        </dl>
                        <dl class="form_list bul_dot">
                            <dt class="form_tit"><label for="select04">암호 정책</label></dt>
                            <dd class="form_txt">
                                <SELECT class="form_contrl" id="select04">
                                    <option>Default PW Policy</option>
                                    <option>Default PW Policy</option>
                                    <option>Default PW Policy</option>
                                    <option>Default PW Policy</option>
                                </SELECT>
                                <input type="checkbox" name="" id="polCheck" class="check_stl">
                                <!-- s: ml10 삭제 -->
                                <label for="polCheck" class="check_stl_lab">자동 생성시만 적용</label>
                                <!-- e: ml10 삭제 -->
                            </dd>
                        </dl>
                        <!-- e: dl 구조 수정 -->
                    </form>

                    <p class="tit">bul_dot</p>
                    <div class="view_stl">
                        <!-- s: bul_dot 추가 -->
                        <ul class="view_list bul_dot">
                            <li>
                                <div class="view_tit">
                                    <p>자원종류</p>
                                </div>
                                <div class="view_txt">
                                    <p>PostgreSQL (Application Tables)</p>
                                </div>
                            </li>
                            <li>
                                <div class="view_tit">
                                    <p>자원이름</p>
                                </div>
                                <div class="view_txt">
                                    <p>TargetSystem1</p>
                                </div>
                            </li>
                            <li>
                                <div class="view_tit">
                                    <p>서비스영역</p>
                                </div>
                                <div class="view_txt">
                                    <p>None</p>
                                </div>
                            </li>
                        </ul>
                        <!-- e: bul_dot 추가 -->
                    </div>
                </section>
            </div>
            <div class="content" style="border-radius:10px; margin:20px; padding:20px;">
                <h2>move_wrap</h2>
                <p class="tit">move_wrap + list_stl</p>
                <div class="move_wrap list_stl">
					<div class="move_box">
						<div class="moved_tit">
							List01
							<div class="btn_box tit_in_btn">
								<!-- s: class 변경 -->
								<button class="basic">텍스트</button>
								<button class="primary">텍스트</button>
								<button class="line icon icon_reset">새로고침</button>
								<!-- e: class 변경 -->
							</div>
						</div>
						<div class="move_tbl">
							<div class="tbl_list">
								<table class="default_tbl">
									<thead>
										<tr>
											<th class="tbl_num_wid"></th>
											<th class="check_list"><input type="checkbox" name="" id="list00" class="check_stl"><label for="list00" class="check_stl_lab"></label></th>
											<th class="sort_column">
												<div class="">종류<span class="ascanding"></span></div>
											</th>
											<th class="sort_column">
												<div class="">제조사<span class="ascanding"></span></div>
											</th>
											<th class="sort_column">
												<div class="">모델명<span class="ascanding"></span></div>
											</th>
											<th class="sort_column">
												<div class="">이름<span class="ascanding"></span></div>
											</th>
											<th class="sort_column">
												<div class="">설명<span class="ascanding"></span></div>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>1</th>
											<td class="check_list"><input type="checkbox" name="" id="list01" class="check_stl"><label for="list01" class="check_stl_lab"></label></td>
											<td>OS</td>
											<td>RedHat</td>
											<td>data1</td>
											<td>CentOS(1503)</td>
											<td>Linux 표준모델</td>
										</tr>
										<tr>
											<th>2</th>
											<td class="check_list"><input type="checkbox" name="" id="list02" class="check_stl"><label for="list02" class="check_stl_lab"></label></td>
											<td>OS</td>
											<td>RedHat</td>
											<td>data1</td>
											<td>CentOS(1503)</td>
											<td>Linux 표준모델</td>
										</tr>
										<tr>
											<th>3</th>
											<td class="check_list"><input type="checkbox" name="" id="list03" class="check_stl"><label for="list03" class="check_stl_lab"></label></td>
											<td>OS</td>
											<td>RedHat</td>
											<td>data1</td>
											<td>CentOS(1503)</td>
											<td>Linux 표준모델</td>
										</tr>
										<tr>
											<th>4</th>
											<td class="check_list"><input type="checkbox" name="" id="list04" class="check_stl"><label for="list04" class="check_stl_lab"></label></td>
											<td>OS</td>
											<td>RedHat</td>
											<td>data1</td>
											<td>CentOS(1503)</td>
											<td>Linux 표준모델</td>
										</tr>
										<tr>
											<th>5</th>
											<td class="check_list"><input type="checkbox" name="" id="list05" class="check_stl"><label for="list05" class="check_stl_lab"></label></td>
											<td>OS</td>
											<td>RedHat</td>
											<td>data1</td>
											<td>CentOS(1503)</td>
											<td>Linux 표준모델</td>
										</tr>
										<tr>
											<th>6</th>
											<td class="check_list"><input type="checkbox" name="" id="list06" class="check_stl"><label for="list06" class="check_stl_lab"></label></td>
											<td>OS</td>
											<td>RedHat</td>
											<td>data1</td>
											<td>CentOS(1503)</td>
											<td>Linux 표준모델</td>
										</tr>
										<tr>
											<th>7</th>
											<td class="check_list"><input type="checkbox" name="" id="list07" class="check_stl"><label for="list07" class="check_stl_lab"></label></td>
											<td>OS</td>
											<td>RedHat</td>
											<td>data1</td>
											<td>CentOS(1503)</td>
											<td>Linux 표준모델</td>
										</tr>
										<tr>
											<th>8</th>
											<td class="check_list"><input type="checkbox" name="" id="list08" class="check_stl"><label for="list08" class="check_stl_lab"></label></td>
											<td>OS</td>
											<td>RedHat</td>
											<td>data1</td>
											<td>CentOS(1503)</td>
											<td>Linux 표준모델</td>
										</tr>
										<tr>
											<th>9</th>
											<td class="check_list"><input type="checkbox" name="" id="list09" class="check_stl"><label for="list09" class="check_stl_lab"></label></td>
											<td>OS</td>
											<td>RedHat</td>
											<td>data1</td>
											<td>CentOS(1503)</td>
											<td>Linux 표준모델</td>
										</tr>
										<tr>
											<th>10</th>
											<td class="check_list"><input type="checkbox" name="" id="list10" class="check_stl"><label for="list10" class="check_stl_lab"></label></td>
											<td>OS</td>
											<td>RedHat</td>
											<td>data1</td>
											<td>CentOS(1503)</td>
											<td>Linux 표준모델</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="moved_box">
						<p class="moved_tit">List02</p>
						<div class="move_tbl">
							<div class="tbl_list">
								<table class="default_tbl">
									<thead>
										<tr>
											<th class="tbl_num_wid"></th>
											<th class="check_list"><input type="checkbox" name="" id="list00" class="check_stl"><label for="list00" class="check_stl_lab"></label></th>
											<th class="sort_column">
												<div class="">종류<span class="ascanding"></span></div>
											</th>
											<th class="sort_column">
												<div class="">제조사<span class="ascanding"></span></div>
											</th>
											<th class="sort_column">
												<div class="">모델명<span class="ascanding"></span></div>
											</th>
											<th class="sort_column">
												<div class="">이름<span class="ascanding"></span></div>
											</th>
											<th class="sort_column">
												<div class="">설명<span class="ascanding"></span></div>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<th>1</th>
											<td class="check_list"><input type="checkbox" name="" id="list01" class="check_stl"><label for="list01" class="check_stl_lab"></label></td>
											<td>OS</td>
											<td>RedHat</td>
											<td>data1</td>
											<td>CentOS(1503)</td>
											<td>Linux 표준모델</td>
										</tr>
										<tr>
											<th>2</th>
											<td class="check_list"><input type="checkbox" name="" id="list02" class="check_stl"><label for="list02" class="check_stl_lab"></label></td>
											<td>OS</td>
											<td>RedHat</td>
											<td>data1</td>
											<td>CentOS(1503)</td>
											<td>Linux 표준모델</td>
										</tr>
										<tr>
											<th>3</th>
											<td class="check_list"><input type="checkbox" name="" id="list03" class="check_stl"><label for="list03" class="check_stl_lab"></label></td>
											<td>OS</td>
											<td>RedHat</td>
											<td>data1</td>
											<td>CentOS(1503)</td>
											<td>Linux 표준모델</td>
										</tr>
										<tr>
											<th>4</th>
											<td class="check_list"><input type="checkbox" name="" id="list04" class="check_stl"><label for="list04" class="check_stl_lab"></label></td>
											<td>OS</td>
											<td>RedHat</td>
											<td>data1</td>
											<td>CentOS(1503)</td>
											<td>Linux 표준모델</td>
										</tr>
										<tr>
											<th>5</th>
											<td class="check_list"><input type="checkbox" name="" id="list05" class="check_stl"><label for="list05" class="check_stl_lab"></label></td>
											<td>OS</td>
											<td>RedHat</td>
											<td>data1</td>
											<td>CentOS(1503)</td>
											<td>Linux 표준모델</td>
										</tr>
										<tr>
											<th>6</th>
											<td class="check_list"><input type="checkbox" name="" id="list06" class="check_stl"><label for="list06" class="check_stl_lab"></label></td>
											<td>OS</td>
											<td>RedHat</td>
											<td>data1</td>
											<td>CentOS(1503)</td>
											<td>Linux 표준모델</td>
										</tr>
										<tr>
											<th>7</th>
											<td class="check_list"><input type="checkbox" name="" id="list07" class="check_stl"><label for="list07" class="check_stl_lab"></label></td>
											<td>OS</td>
											<td>RedHat</td>
											<td>data1</td>
											<td>CentOS(1503)</td>
											<td>Linux 표준모델</td>
										</tr>
										<tr>
											<th>8</th>
											<td class="check_list"><input type="checkbox" name="" id="list08" class="check_stl"><label for="list08" class="check_stl_lab"></label></td>
											<td>OS</td>
											<td>RedHat</td>
											<td>data1</td>
											<td>CentOS(1503)</td>
											<td>Linux 표준모델</td>
										</tr>
										<tr>
											<th>9</th>
											<td class="check_list"><input type="checkbox" name="" id="list09" class="check_stl"><label for="list09" class="check_stl_lab"></label></td>
											<td>OS</td>
											<td>RedHat</td>
											<td>data1</td>
											<td>CentOS(1503)</td>
											<td>Linux 표준모델</td>
										</tr>
										<tr>
											<th>10</th>
											<td class="check_list"><input type="checkbox" name="" id="list10" class="check_stl"><label for="list10" class="check_stl_lab"></label></td>
											<td>OS</td>
											<td>RedHat</td>
											<td>data1</td>
											<td>CentOS(1503)</td>
											<td>Linux 표준모델</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
                <p class="tit">form_tit > move_wrap > move2_box</p>
                <div class="form_txt">
                    <div class="move_wrap">
                        <div class="move2_box">
                            <div class="move_box">
                                <p class="moved_tit">구분</p>
                                <div class="move_tbl">
                                    <table class="default_tbl">
                                        <tbody>
                                            <tr>
                                                <td class="check_list"><input type="radio" name="" id="list01" class="radio_stl"><label for="list01" class="radio_stl_lab"></label></td>
                                                <td>기간계</td>
                                            </tr>
                                            <tr>
                                                <td class="check_list"><input type="radio" name="" id="list02" class="radio_stl"><label for="list02" class="radio_stl_lab"></label></td>
                                                <td>FDS</td>
                                            </tr>
                                            <tr>
                                                <td class="check_list"><input type="radio" name="" id="list03" class="radio_stl"><label for="list03" class="radio_stl_lab"></label></td>
                                                <td>FDS</td>
                                            </tr>
                                            <tr>
                                                <td class="check_list"><input type="radio" name="" id="list04" class="radio_stl"><label for="list04" class="radio_stl_lab"></label></td>
                                                <td>FDS</td>
                                            </tr>
                                            <tr>
                                                <td class="check_list"><input type="radio" name="" id="list05" class="radio_stl"><label for="list05" class="radio_stl_lab"></label></td>
                                                <td>FDS</td>
                                            </tr>
                                            <tr>
                                                <td class="check_list"><input type="radio" name="" id="list02" class="radio_stl"><label for="list02" class="radio_stl_lab"></label></td>
                                                <td>FDS</td>
                                            </tr>
                                            <tr>
                                                <td class="check_list"><input type="radio" name="" id="list02" class="radio_stl"><label for="list02" class="radio_stl_lab"></label></td>
                                                <td>FDS</td>
                                            </tr>
                                            <tr>
                                                <td class="check_list"><input type="radio" name="" id="list02" class="radio_stl"><label for="list02" class="radio_stl_lab"></label></td>
                                                <td>FDS</td>
                                            </tr>
                                            <tr>
                                                <td class="check_list"><input type="radio" name="" id="list02" class="radio_stl"><label for="list02" class="radio_stl_lab"></label></td>
                                                <td>FDS</td>
                                            </tr>
                                            <tr>
                                                <td class="check_list"><input type="radio" name="" id="list02" class="radio_stl"><label for="list02" class="radio_stl_lab"></label></td>
                                                <td>FDS</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="move_box">
                                <p class="moved_tit">담당업무</p>
                                <div class="move_tbl">
                                    <!-- s: nodata 추가 -->
                                    <p class="nodt_txt nodata">데이터가 없습니다.</p>
                                    <!-- e: nodata 추가 -->
                                </div>
                            </div>
                        </div>
                        <div class="move_ctrl">
                            <div>
                                <a title="추가" class="white mo_add"></a><a title="삭제" class="white mo_del"></a>
                            </div>
                        </div>
                        <div class="moved_box">
                            <p class="moved_tit">신청할 업무</p>
                            <div class="move_tbl">
                                <table class="default_tbl">
                                    <tbody>
                                        <tr class="newalim">
                                            <td class="check_list"><input type="checkbox" name="" id="taskc1" class="check_stl" checked=""><label for="taskc1" class="check_stl_lab"></label></td>
                                            <td>기간계</td>
                                            <td>추가업무</td>
                                        </tr>
                                        <tr class="newalim">
                                            <td class="check_list"><input type="checkbox" name="" id="taskc2" class="check_stl"><label for="taskc2" class="check_stl_lab"></label></td>
                                            <td>FDS</td>
                                            <td>추가업무</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="tit">pcs_ctg_wrap > moved_box</p>
                <div class="flx pcs_ctg_wrap">
					<div class="moved_box">
						<p class="moved_tit">시스템 분류</p>
						<ul class="pcs_ctg_list">
							<li><a>보유 역할</a></li>
							<li><a>소속된 사용자 그룹</a></li>
							<li><a>소속된 시스템 그룹</a></li>
							<li><a>OS계정</a></li>
							<li><a>조정 시스템</a></li>
							<li><a>보유 시스템</a></li>
							<li><a class="on">어플리 케이션 시스템</a></li>
							<li><a>DB계정 시스템</a></li>
							<li><a>네트워크장비 계정</a></li>
							<li><a>보안장비 계정</a></li>
							<li><a>LDAP</a></li>
							<li><a>CCTV</a></li>
						</ul>
					</div>
				</div>
                <p class="tit">move_wrap 안에 search</p>
                <div class="move_wrap">
                    <div class="moved_box">
                        <p class="moved_tit">선택된 멤버</p>
                        <div class="search_box mini_search">
                            <input type="text" placeholder="검색어를 입력해주세요" class="search_inputbox">
                            <button class="btn_search" type="submit">검색</button>
                        </div>
                        <div class="move_tbl scroll">
                            <table class="default_tbl">
                                <thead>
                                    <tr>
                                        <th class="check_list"><input type="checkbox" name="" id="list00" class="check_stl"><label for="list00" class="check_stl_lab"></label></th>
                                        <th class="sort_column">
                                            <div class="">User ID<span class="ascanding"></span></div>
                                        </th>
                                        <th class="sort_column">
                                            <div class="">First Name<span class="ascanding"></span></div>
                                        </th>
                                        <th class="sort_column">
                                            <div class="">Last Name<span class="ascanding"></span></div>
                                        </th>
                                        <th class="sort_column">
                                            <div class="">Type<span class="ascanding"></span></div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="check_list"><input type="checkbox" name="" id="list01" class="check_stl"><label for="list01" class="check_stl_lab"></label></td>
                                        <td>member1234</td>
                                        <td>RedHat</td>
                                        <td>data1</td>
                                        <td>CentOS(1503)</td>
                                    </tr>
                                    <tr>
                                        <td class="check_list"><input type="checkbox" name="" id="list02" class="check_stl"><label for="list02" class="check_stl_lab"></label></td>
                                        <td>member1234</td>
                                        <td>RedHat</td>
                                        <td>data1</td>
                                        <td>CentOS(1503)</td>
                                    </tr>
                                    <tr>
                                        <td class="check_list"><input type="checkbox" name="" id="list03" class="check_stl"><label for="list03" class="check_stl_lab"></label></td>
                                        <td>member1234</td>
                                        <td>RedHat</td>
                                        <td>data1</td>
                                        <td>CentOS(1503)</td>
                                    </tr>
                                    <tr>
                                        <td class="check_list"><input type="checkbox" name="" id="list04" class="check_stl"><label for="list04" class="check_stl_lab"></label></td>
                                        <td>member1234</td>
                                        <td>RedHat</td>
                                        <td>data1</td>
                                        <td>CentOS(1503)</td>
                                    </tr>
                                    <tr>
                                        <td class="check_list"><input type="checkbox" name="" id="list05" class="check_stl"><label for="list05" class="check_stl_lab"></label></td>
                                        <td>member1234</td>
                                        <td>RedHat</td>
                                        <td>data1</td>
                                        <td>CentOS(1503)</td>
                                    </tr>
                                    <tr>
                                        <td class="check_list"><input type="checkbox" name="" id="list06" class="check_stl"><label for="list06" class="check_stl_lab"></label></td>
                                        <td>member1234</td>
                                        <td>RedHat</td>
                                        <td>data1</td>
                                        <td>CentOS(1503)</td>
                                    </tr>
                                        <tr><td class="check_list"><input type="checkbox" name="" id="list07" class="check_stl"><label for="list07" class="check_stl_lab"></label></td>
                                        <td>member1234</td>
                                        <td>RedHat</td>
                                        <td>data1</td>
                                        <td>CentOS(1503)</td>
                                    </tr>
                                        <tr><td class="check_list"><input type="checkbox" name="" id="list08" class="check_stl"><label for="list08" class="check_stl_lab"></label></td>
                                        <td>member1234</td>
                                        <td>RedHat</td>
                                        <td>data1</td>
                                        <td>CentOS(1503)</td>
                                    </tr>
                                        <tr><td class="check_list"><input type="checkbox" name="" id="list09" class="check_stl"><label for="list09" class="check_stl_lab"></label></td>
                                        <td>member1234</td>
                                        <td>RedHat</td>
                                        <td>data1</td>
                                        <td>CentOS(1503)</td>
                                    </tr>
                                        <tr><td class="check_list"><input type="checkbox" name="" id="list10" class="check_stl"><label for="list10" class="check_stl_lab"></label></td>
                                        <td>member1234</td>
                                        <td>RedHat</td>
                                        <td>data1</td>
                                        <td>CentOS(1503)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="pagination mini_paging">
                            <ul>
                                <li>
                                    <a href="" class="first diss"><span></span>처음</a>
                                </li>
                                <li>
                                    <a href="" class="prev diss"><span></span>이전</a>
                                </li>
                                <li class="currentpage">
                                    <p><em>1</em> / 5</p>
                                </li>
                                <li>
                                    <a href="" class="next"><span></span>다음</a>
                                </li>
                                <li>
                                    <a href="" class="last"><span></span>마지막</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- E: content -->
            <!-- S: footer -->
            <!-- E: footer -->
        </div>
        <div class="scroll_btns" style="display:none">
            <button class="btn_toTheTop"></button>
            <button class="btn_toThebottom"></button>
        </div>
        <script>
            $("body").on("mousewheel", function (e) {
                var wheel = e.originalEvent.wheelDelta;

                if (wheel > 0) {
                    //스크롤 올릴때
                } else {
                    //스크롤 내릴때
                    $(".scroll_btns").show();
                }
            });
            $(window).scroll(function () {
                var scrollValue = $(document).scrollTop();
                if (scrollValue > 65) {
                    $(".list_btn_stk").addClass("btnarea");
                } else {
                    $(".list_btn_stk").removeClass("btnarea");
                }
            });
        </script>

        <!-- s : 퍼블확인용 스크립트, 확인후 기존 스크립트로 교체 필요-->
        <script>
            $(document).ready(function(){
        
                $('.accordion').on('click',  function() {
                    $(this).toggleClass("tr_open");
                });
            });

        </script>	
        <!-- e : 퍼블확인용 스크립트, 확인후 기존 스크립트로 교체 필요-->
    </div>
</body>

</HTML>