<html lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ORIX Capital</title>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="keywords" content="ORIX Capital keywords" />
    <meta name="description" content="ORIX Capital description" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">

    <link rel="shortcut icon" type="image/x-icon" href="../../resources/favicon.png" />
    <link rel="icon" type="image/x-icon" href="../../resources/favicon.png" />
    
    <link rel="stylesheet" href="../../resources/css/lib/swiper-bundle.min.css">
    <link rel="stylesheet" href="../../resources/css/lib/renewal.css">
    <link rel="stylesheet" href="../../resources/css/lib/default.css">
    <link rel="stylesheet" href="../../resources/css/ui/jquery-ui.css">
    <link rel="stylesheet" href="../../resources/css/ui/datepicker.css">
    
    <script type="text/javascript" src="../../resources/js/ui/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/jquery-1.12.4.min.js"></script>
    <script  type="text/javascript" src="../../resources/js/ui/jquery-ui-1.12.1.js"></script>

    <script type="text/javascript" src="../../resources/js/lib/default.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/datepicker.js"></script>
</head>

<body>
    <!--//wrap-->
    <div class="wrap">
        <!-- //headerWrap -->
        <div id="headerWrap">
			<script>
			$(document).ready(function(){
				document.charset="euc-kr";
				$("#headerWrap").load("../include/inc_header.html");
			});
			</script>
        </div>
        <!-- headerWrap// -->
        <!-- //menuWrap -->
        <div id="menuWrap">
            <script>
            $(document).ready(function(){
                document.charset="euc-kr";
                $("#menuWrap").load("../include/inc_all_menu.html");
            });
            </script>
        </div>
	    <!-- menuWrap// -->
        <form>
            <!--//contents-wrap-->
            <div class="contents-wrap bg-wrap">
            
                <section class="urgency-wrap type-spread">
                    <div class="urgency-area">
                        <a href="#none">비대면 모바일 플랫폼 구축 TF팀 긴급 회의</a>
                    </div>
                </section>

                <section class="check-wrap type-spread">
                    <div class="form-wrap">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col">
                                    <input id="" type="text" class="form-control" placeholder="검색어를 입력해 주세요">
                                </div>
                                <button class="btn btn-txt search-img" type="button">검색</button>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="result-wrap">
                    <div class="txt-list-wrap">
                        <div class="txt-detail-area result">
                            <div class="txt-detail-header">
                                <p><span class="tit">장기아 <span class="small-tit">810702-1 / 개인</span></span></p>
                                <span class="flag style3">할부</span>
                            </div>
                            <div class="txt-detail-header no-line">
                                <p>현대 제네시스 GV80 가솔린 3.5 터보<br/>
                                    2022년식 / 456바 7891</p>
                            </div>
                            <ul class="txt-list">
                                <li>
                                    <span class="tit">해피콜 완료일자</span>
                                    <span class="txt">YYYY.MM.DD</span>
                                </li>
                                <li>
                                    <span class="tit">실행일자</span>
                                    <span class="txt">YYYY.MM.DD</span>
                                </li>
                                <li>
                                    <span class="tit">신청금액</span>
                                    <span class="txt">5,000 만원</span>
                                </li>
                                <li>
                                    <span class="tit">대출기간/금리</span>
                                    <span class="txt">36개월 / 7.5%</span>
                                </li>
                                <li>
                                    <span class="tit">상환방식</span>
                                    <span class="txt">원리금균등분할</span>
                                </li>
                                <li>
                                    <span class="tit">중도상환수수료율</span>
                                    <span class="txt">1.0%</span>
                                </li>
                                <li>
                                    <span class="tit">근저당</span>
                                    <span class="txt">20%</span>
                                </li>
                                <li>
                                    <span class="tit">인지세</span>
                                    <span class="txt">무</span>
                                </li>
                                <li>
                                    <span class="tit">월납입액</span>
                                    <span class="txt">1,323,265 원</span>
                                </li>
                            </ul>
                            <div class="btn-cont-wrap">
                                <a href="#none" class="btn btn-primary">송금요청</a>
                            </div>
                        </div>

                        <div class="txt-detail-area result">
                            <div class="txt-detail-header">
                                <p><span class="tit">이영희 <span class="small-tit">810702-1 / 개인사업자</span></span></p>
                                <span class="flag style4">대출</span>
                            </div>
                            <div class="txt-detail-header no-line">
                                <p>현대 제네시스 GV80 가솔린 3.5 터보<br/>
                                    2022년식 / 456바 7891</p>
                            </div>
                            <ul class="txt-list">
                                <li>
                                    <span class="tit">해피콜 완료일자</span>
                                    <span class="txt">YYYY.MM.DD</span>
                                </li>
                                <li>
                                    <span class="tit">실행일자</span>
                                    <span class="txt">YYYY.MM.DD</span>
                                </li>
                                <li>
                                    <span class="tit">신청금액</span>
                                    <span class="txt">5,000 만원</span>
                                </li>
                                <li>
                                    <span class="tit">대출기간/금리</span>
                                    <span class="txt">36개월 / 7.5%</span>
                                </li>
                                <li>
                                    <span class="tit">상환방식</span>
                                    <span class="txt">원리금균등분할</span>
                                </li>
                                <li>
                                    <span class="tit">중도상환수수료율</span>
                                    <span class="txt">1.0%</span>
                                </li>
                                <li>
                                    <span class="tit">근저당</span>
                                    <span class="txt">20%</span>
                                </li>
                                <li>
                                    <span class="tit">인지세</span>
                                    <span class="txt">무</span>
                                </li>
                                <li>
                                    <span class="tit">월납입액</span>
                                    <span class="txt">1,323,265 원</span>
                                </li>
                            </ul>
                            <div class="btn-cont-wrap">
                                <a href="#none" class="btn btn-primary">송금요청</a>
                            </div>
                        </div>
                     
                    </div>
                    <div class="result-area nodata"><!--[D]: 조회결과가 없을 경우-->
                        <div class="txt-wrap">
                            <p class="tit">조회결과가 없습니다.</p>
                        </div>
                        <div class="btn-cont-wrap center">
                            <a href="#none" type="button" class="btn reset">초기화</a>
                        </div><!--  [퍼블]: 1/30 버튼추가-->
                    </div>
                </section>

            </div>
            <!--contents-wrap//-->
        </form>
    </div>
    <!--wrap//-->
</body>
</html>
