<html lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ORIX Capital</title>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="keywords" content="ORIX Capital keywords" />
    <meta name="description" content="ORIX Capital description" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">

    <link rel="shortcut icon" type="image/x-icon" href="../../resources/favicon.png" />
    <link rel="icon" type="image/x-icon" href="../../resources/favicon.png" />
    
    <link rel="stylesheet" href="../../resources/css/lib/swiper-bundle.min.css">
    <link rel="stylesheet" href="../../resources/css/lib/renewal.css">
    <link rel="stylesheet" href="../../resources/css/lib/default.css">
    <link rel="stylesheet" href="../../resources/css/ui/jquery-ui.css">
    <link rel="stylesheet" href="../../resources/css/ui/datepicker.css">
    
    <script type="text/javascript" src="../../resources/js/ui/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/jquery-1.12.4.min.js"></script>
    <script  type="text/javascript" src="../../resources/js/ui/jquery-ui-1.12.1.js"></script>

    <script type="text/javascript" src="../../resources/js/lib/default.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/datepicker.js"></script>
</head>

<body>
    <!--//wrap-->
    <div class="wrap">
        <!-- //headerWrap -->
        <div id="headerWrap">
			<script>
			$(document).ready(function(){
				document.charset="euc-kr";
				$("#headerWrap").load("../include/inc_header.html");
			});
			</script>
        </div>
        <!-- headerWrap// -->
        <!-- //menuWrap -->
        <div id="menuWrap">
            <script>
            $(document).ready(function(){
                document.charset="euc-kr";
                $("#menuWrap").load("../include/inc_all_menu.html");
            });
            </script>
        </div>
	    <!-- menuWrap// -->
        <form>
            <!--//contents-wrap-->
            <div class="contents-wrap">
                <section class="urgency-wrap type-spread">
                    <div class="urgency-area">
                        <a href="#none">비대면 모바일 플랫폼 구축 TF팀 긴급 회의</a>
                    </div>
                </section>
                <section class="tabs-wrap tab-bg">
                    <div class="tabs">
                        <ul class="tab-item type2">
                            <li data-tab="tab-cont03" class="on"><a href="#none" title="선택됨">완료 알림</a></li>
                            <li data-tab="tab-cont04"><a href="#none">오릭스 알림</a></li>
                        </ul>
                        <div class="tab-content-area">
                            <div id="tab-cont03" class="tab-content">
                              
                                <div class="notice-list-wrap"><!--[D]: 리스트 최대 10개 노출 -->
                                    <ul>
                                        <li>
                                            <a href="#none">
                                                <p class="notice-tit-area">
                                                    <span class="text"><span>김오릭</span> 고객님(<span>01012345678</span>)의 <span>신용조회동의가</span> 완료되었습니다.</span>
                                                    <span class="num">2023.04.28</span>
                                                </p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#none">
                                                <p class="notice-tit-area">
                                                    <span class="text"><span>강오릭</span> 고객님(<span>01012345678</span>)의 <span>심사가</span> 완료되었습니다.</span>
                                                    <span class="num">2023.04.28</span>
                                                </p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#none">
                                                <p class="notice-tit-area">
                                                    <span class="text"><span>강오릭</span> 고객님(<span>01012345678</span>)의 <span>심사가</span> 완료되었습니다.</span>
                                                    <span class="num">2023.04.28</span>
                                                </p>
                                            </a>
                                        </li>
                                    </ul>
                                    
                                </div>
                                <div class="btn-cont-wrap center">
                                    <a href="#none" class="btn btn-text small-line">더 보기</a>
                                </div>
                                <div class="result-area nodata"><!--[D]: 등록된 게시글이 없을 경우-->
                                    <div class="txt-wrap">
                                        <p class="tit">최근 7일이내<br/>알림만 확인 가능해요.</p>
                                    </div>
                                </div>
                            </div>

                            <div id="tab-cont04" class="tab-content dp-none">
                              
                                <div class="notice-list-wrap"><!--[D]: 리스트 최대 10개 노출 -->
                                    <ul>
                                        <li>
                                            <a href="#none">
                                                <p class="notice-tit-area">
                                                    <span class="text">알립니다!!</span>
                                                    <span class="num">2023.04.28</span>
                                                </p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#none">
                                                <p class="notice-tit-area">
                                                    <span class="text">[영업팀] 금일 회의 장소 변경 안내</span>
                                                    <span class="num">2023.04.18</span>
                                                </p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#none">
                                                <p class="notice-tit-area">
                                                    <span class="text">[영업팀] 전체회의안내</span>
                                                    <span class="num">2023.01.05</span>
                                                </p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#none">
                                                <p class="notice-tit-area">
                                                    <span class="text">[영업팀] 전체교육안내</span>
                                                    <span class="num">2023.11.27</span>
                                                </p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-cont-wrap center">
                                    <a href="#none" class="btn btn-text small-line">더 보기</a>
                                </div>
                                <div class="result-area nodata"><!--[D]: 등록된 게시글이 없을 경우-->
                                    <div class="txt-wrap">
                                        <p class="tit">최근 7일이내<br/>알림만 확인 가능해요.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!--contents-wrap//-->
        </form>
    </div>
    <!--wrap//-->
</body>
</html>