<html lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ORIX Capital</title>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="keywords" content="ORIX Capital keywords" />
    <meta name="description" content="ORIX Capital description" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">

    <link rel="shortcut icon" type="image/x-icon" href="../../resources/favicon.png" />
    <link rel="icon" type="image/x-icon" href="../../resources/favicon.png" />
    
    <link rel="stylesheet" href="../../resources/css/lib/swiper-bundle.min.css">
    <link rel="stylesheet" href="../../resources/css/lib/renewal.css">
    <link rel="stylesheet" href="../../resources/css/lib/default.css">
    <link rel="stylesheet" href="../../resources/css/ui/jquery-ui.css">
    <link rel="stylesheet" href="../../resources/css/ui/datepicker.css">
    
    <script type="text/javascript" src="../../resources/js/ui/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/jquery-1.12.4.min.js"></script>
    <script  type="text/javascript" src="../../resources/js/ui/jquery-ui-1.12.1.js"></script>

    <script type="text/javascript" src="../../resources/js/lib/default.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/datepicker.js"></script>
</head>

<body>
    <!--//wrap-->
    <div class="wrap">
        <!-- //headerWrap -->
        <div id="headerWrap">
			<script>
			$(document).ready(function(){
				document.charset="euc-kr";
				$("#headerWrap").load("../include/inc_header.html");
			});
			</script>
        </div>
        <!-- headerWrap// -->
        <!-- //menuWrap -->
        <div id="menuWrap">
            <script>
            $(document).ready(function(){
                document.charset="euc-kr";
                $("#menuWrap").load("../include/inc_all_menu.html");
            });
            </script>
        </div>
	    <!-- menuWrap// -->
        <form>
            <!--//contents-wrap-->
            <div class="contents-wrap scndCarLayout">
               
            </div>
            <!--contents-wrap//-->
        </form>
    </div>
    <!--wrap//-->
</body>

<!--//입력 내용 삭제 될 경우-->
<div id="lySel3" class="layerpopup layer-up on" tabindex="0" style="position: fixed; top: 402px; left: 0px; display: block;">
    <div class="content-wrap">
        <div class="pop-header">
            <h2 class="pop-title">진행 중단 안내</h2>
            <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
        </div>
        <div class="ly-cont-wrap">
            <p class="sub-title">진행을 중단하시면 입력 내용은 삭제되고<br>
                메인화면으로 이동해요.</p>
            <p class="sub-title">진행을 그만하시겠어요?</p>
        </div>
        <div class="btn-wrap">
            <a href="#none" class="btn btn-close">아니오</a>
            <a href="#none" class="btn btn-primary">그만하기</a>
        </div>
    </div>
</div>
<!--입력 내용 삭제 될 경우//-->

<!--//입력 내용 저장 될 경우-->
<div id="lySel4" class="layerpopup layer-up on" tabindex="0" style="position: fixed; top: 402px; left: 0px; display: block;">
    <div class="content-wrap">
        <div class="pop-header">
            <h2 class="pop-title">진행 중단 안내</h2>
            <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
        </div>
        <div class="ly-cont-wrap">
            <p class="sub-title">진행을 중단하시면 입력 내용은 저장되고<br>
                메인화면으로 이동해요.</p>
            <p class="sub-title">진행을 그만하시겠어요?</p>
        </div>
        <div class="btn-wrap">
            <a href="#none" class="btn btn-close">아니오</a>
            <a href="#none" class="btn btn-primary">그만하기</a>
        </div>
    </div>
</div>
<!--입력 내용 저장 될 경우//-->


</html>