<!DOCTYPE html>
<html lang="ko">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ORIX Capital</title>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="keywords" content="ORIX Capital keywords" />
    <meta name="description" content="ORIX Capital description" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">

    <link rel="shortcut icon" type="image/x-icon" href="../../resources/favicon.png" />
    <link rel="icon" type="image/x-icon" href="../../resources/favicon.png" />
    
    <link rel="stylesheet" href="../../resources/css/lib/swiper-bundle.min.css">
    <link rel="stylesheet" href="../../resources/css/lib/renewal.css">
    <link rel="stylesheet" href="../../resources/css/lib/default.css">
    <link rel="stylesheet" href="../../resources/css/ui/jquery-ui.css">
    <link rel="stylesheet" href="../../resources/css/ui/datepicker.css">
    
    <script type="text/javascript" src="../../resources/js/ui/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/jquery-1.12.4.min.js"></script>
    <script  type="text/javascript" src="../../resources/js/ui/jquery-ui-1.12.1.js"></script>

    <script type="text/javascript" src="../../resources/js/lib/default.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/datepicker.js"></script>
</head>

<body>
    <div class="wrap">
          <!-- //header -->
          <div id="headerWrap">
			<script>
			$(document).ready(function(){
				document.charset="euc-kr";
				$("#headerWrap").load("./include/inc_header.html");
			});
			</script>
        </div>
        <!-- s:menuWrap -->
        <div id="menuWrap">
            <script>
            $(document).ready(function(){
                document.charset="euc-kr";
                $("#menuWrap").load("./include/inc_all_menu.html");
            });
            </script>
        </div>
        <!-- e:menuWrap -->
        <form>
            <div class="contents-wrap">

                <p class="test-tit red">
                    * contents 버튼으로 들어가는 경우는 btn-cont-wrap만 사용 하단 fixed 버튼으로 들어갈 경우 fixded-btn-wrap > btn-wrap으로 사용(단, 팝업에서는 btn-wrap만 사용)</br>
                    <!-- * swiper 라이브러리 많이 사용 시 오류 사항이 많기 때문에 main tab만  swiper로 가고 나머지는 tab-cont구조로 사용 -->
                </p>
                <section>
                    <p class="test-tit">컨텐츠 버튼 두개 일 경우</p>
                    <div class="btn-cont-wrap btn2">
                        <a href="#none" class="btn btn-primary style1">대출 심사요청</a>
                        <a href="#none" class="btn btn-primary style2">할부 심사요청</a>
                    </div>

                    <p class="test-tit">컨텐츠 버튼 두개 일 경우 - disabled</p>
                    <div class="btn-cont-wrap btn2">
                        <a href="#none" class="btn btn-primary disabled">대출 심사요청</a>
                        <a href="#none" class="btn btn-primary disabled">할부 심사요청</a>
                    </div>

                    <p class="test-tit">컨텐츠 버튼 3개일 경우 - disabled</p>
                    <div class="btn-cont-wrap btn2">
                        <a href="#none" class="btn btn-line">상세보기</a><!--fixed에도 사용 가능-->
                        <a href="#none" class="btn view ">상세보기</a>
                        <a href="#none" class="btn btn-primary ">상세보기</a>
                    </div>

                    <p class="test-tit">컨텐츠 상세보기 - disabled</p>
                    <div class="btn-cont-wrap btn2">
                        <a href="#none" class="btn view disabled">상세보기</a>
                        <a href="#none" class="btn view ">상세보기</a>
                    </div>

                    <p class="test-tit">컨텐츠 주요 버튼</p>
                    <div class="btn-cont-wrap">
                        <a href="#none" class="btn btn-primary">수기심사요청</a>
                    </div>

                    <p class="test-tit">fixed 주요 버튼 -> 이경우 fixed-btn-wrap 구조를 한 번 더 감싸줘야됨.[버튼 정리를 위해 빼놓음]</p>
                    <div class="btn-wrap">
                        <a href="#none" class="btn btn-primary">수기심사요청</a>
                    </div>

                    <p class="test-tit">fixed 버튼 - 그만하기 버튼 있을 경우 -> 이경우 fixed-btn-wrap 구조를 한 번 더 감싸줘야됨.[버튼 정리를 위해 빼놓음]</p>
                    <div class="btn-wrap">
                        <a href="#none" class="btn btn-close">그만하기</a>
                        <a href="#none" class="btn btn-primary">다음</a>
                    </div>

                    <p class="test-tit">fixed 버튼 - disabled -> 이경우 fixed-btn-wrap 구조를 한 번 더 감싸줘야됨.[버튼 정리를 위해 빼놓음]</p>
                    <div class="btn-wrap">
                        <a href="#none" class="btn btn-close disabled">그만하기</a>
                        <a href="#none" class="btn btn-primary disabled">다음</a>
                    </div>

                    <p class="test-tit">차량사진 업로드하기 버튼</p>
                    <div class="btn-cont-wrap center">
                        <a href="#none" class="btn btn3">차량사진 업로드하기</a>
                    </div>

                    <p class="test-tit">초기화 버튼</p>
                    <div class="btn-cont-wrap center">
                        <a href="#none" type="button" class="btn reset">초기화</a>
                    </div>

                    <p class="test-tit">radio button normal custom</p>
                    <section class="form-wrap">
                        <div class="form-group radio-buttons">
                            <label for="radio-1" class="radio-button">
                                <input type="radio" id="radio-1" name="terms">
                                <span class="custom-radio"></span>
                                <span class="text">1학기</span>
                            </label>
                            <label for="radio-2" class="radio-button">
                                <input type="radio" id="radio-2" name="terms">
                                <span class="custom-radio"></span>
                                <span class="text">2학기</span>
                            </label>
                            <label for="radio-3" class="radio-button">
                                <input type="radio" id="radio-3" name="terms" disabled>
                                <span class="custom-radio"></span>
                                <span class="text">추가학기</span>
                            </label>
                        </div>
                    </section>

                    <p class="test-tit">check button normal custom</p>
                    <section class="form-wrap">
                        <div class="form-group check-buttons">
                            <label for="check-1" class="check-button">
                                <input type="checkbox" id="check-1" name="terms">
                                <span class="custom-check"></span>
                                <span class="text">1학기</span>
                            </label>
                            <label for="check-2" class="check-button">
                                <input type="checkbox" id="check-2" name="terms">
                                <span class="custom-check"></span>
                                <span class="text">2학기</span>
                            </label>
                            <label for="check-3" class="check-button">
                                <input type="checkbox" id="check-3" name="terms" disabled>
                                <span class="custom-check"></span>
                                <span class="text">추가학기</span>
                            </label>
                        </div>
                    </section>

                    <p class="test-tit">radio background custom</p>
                    <div class="form-wrap">
                        <div class="form-row radio-bg-button">
                            <div class="col">
                                <input type="radio" name="q2" id="q21" value="Y">
                                <label for="q21" class="rd">예</label>
                            </div>
                            <div class="col">
                                <input type="radio" name="q2" id="q22" value="N">
                                <label for="q22" class="rd">아니오</label>
                            </div>
                        </div>
					</div>

                    <p class="test-tit">radio background custom - img</p>
                    <div class="form-wrap">
                        <div class="form-row radio-bg-button">
                            <div class="col">
                                <input type="radio" name="q2" id="q21" value="Y">
                                <label for="q21" class="img"><span class="img individual">개인</span></label>
                            </div>
                            <div class="col">
                                <input type="radio" name="q2" id="q22" value="N">
                                <label for="q22" class="img"><span class="img businessman"></span>개인사업자</label>
                            </div>
                        </div>
					</div>

                    <p class="test-tit">검색버튼이 이미지로 들어가는 경우</p>
                    <div class="form-group">
                        <label for="" class="essential">주소 검색</label><!--essential 필수일 경우-->
                        <div class="form-row">
                            <div class="col">
                                <input id="" type="text" class="form-control" placeholder="도로명, 지번을 입력해주세요">
                            </div>
                            <button class="btn btn-txt search-img" type="button">검색</button>
                           
                        </div>
                    </div>

                    <p class="test-tit">검색버튼이 이미지로 들어가는 경우 - gray</p>
                    <div class="form-group gray-search">
                        <input type="search" id="search" class="form-control search" placeholder="이름 입력" aria-label="Search Addresses" aria-describedby="user-search" inputmode="search"><!--aria-label: 대체 text, aria-describedby: ARIA-labelledby 보다 상세 외 id 속성값을 일치 시킨 그 요소의 내용  /inputmode="search"-->
                        <!-- <button class="btn btn-reset" type="reset">검색</button> -->
                        <button class="btn btn-search" type="button">닫기</button>
                    </div>

                    <p class="test-tit">버튼이 텍스트로 들어가는 경우</p>
                    <div class="form-group">
                        <label for="" class="essential">고객 선택</label><!--essential 필수일 경우-->
                        <div class="form-row" ><!--onclick="openPopup('')"-->
                            <div class="col">
                                <input id="" type="text" class="form-control" placeholder="제조사 선택">
                            </div>
                            <button class="btn btn-txt" type="button">선택</button>
                        </div>
                    </div>

                    <p class="test-tit">조회 tab round-list - 개발 별개 관리로 type2 안들어감</p>
                    <section class="check-wrap type-spread">
                        <div class="form-wrap">
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col">
                                        <input id="" type="text" class="form-control" placeholder="검색어를 입력해주세요">
                                    </div>
                                    <button class="btn btn-txt search-img" type="button">검색</button>
                                </div>
                            </div>
                        </div>
    
                        <div class="tabs-wrap round-list">
                            <div class="tabs">
                                <ul class="tab-item">
                                    <li data-tab="tab-cont01" class="on"><a href="#none" title="선택됨">대출심사 가능</a></li>
                                    <li data-tab="tab-cont02"><a href="#none">할부심사 가능</a></li>
                                    <li data-tab="tab-cont03"><a href="#none">심사 불가</a></li>
                                </ul>
                            </div>
                        </div>
                        
                    </section>
    
                    <section class="result-wrap">
                        <div class="tab-content-area">
                            <div id="tab-cont01" class="tab-content">
                                <div class="txt-list-wrap">
                                    <div class="txt-detail-area on"><!--on 클래스 추가 시 display:block; -->
                                        <div class="txt-detail-header">
                                            <p><span class="tit">김영수 810702-1</span></p>
                                            <p class="txt">개인</p>
                                        </div>
                                        <ul class="txt-list">
                                            <li>
                                                <span class="tit">신용조회일자</span>
                                                <span class="txt">YYYY.MM.DD</span>
                                            </li>
                                            <li>
                                                <span class="tit">대출</span>
                                                <span class="txt yes">심사진행 가능</span>
                                            </li>
                                            <li>
                                                <span class="tit">할부</span>
                                                <span class="txt yes">심사진행 가능</span>
                                            </li>
                                        </ul>
                                        <div class="btn-cont-wrap">
                                            <a href="#none" class="btn btn-primary style1">대출 심사요청</a>
                                            <a href="#none" class="btn btn-primary style2">할부 심사요청</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div id="tab-cont02" class="tab-content dp-none">
                                <div class="txt-list-wrap">
                                    <div class="txt-detail-area">
                                        <div class="txt-detail-header">
                                            <p><span class="tit">이영희 810702-2</span></p>
                                            <p class="txt">개인사업자</p>
                                        </div>
                                        <ul class="txt-list">
                                            <li>
                                                <span class="tit">신용조회일자</span>
                                                <span class="txt">YYYY.MM.DD</span>
                                            </li>
                                            <li>
                                                <span class="tit">대출</span>
                                                <span class="txt yes">심사진행 가능</span><!--yse 가능-->
                                            </li>
                                            <li>
                                                <span class="tit">할부</span>
                                                <span class="txt yes">심사진행 가능</span><!--yse 가능-->
                                            </li>
                                        </ul>
                                        <div class="btn-cont-wrap">
                                            <a href="#none" class="btn btn-primary style1">대출 심사요청</a>
                                            <a href="#none" class="btn btn-primary style2">할부 심사요청</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div id="tab-cont03" class="tab-content dp-none">
                                <div class="txt-list-wrap">
                                    <div class="txt-detail-area">
                                        <div class="txt-detail-header">
                                            <p><span class="tit">이영희 810702-2</span></p>
                                            <p class="txt">개인사업자</p>
                                        </div>
                                        <ul class="txt-list">
                                            <li>
                                                <span class="tit">신용조회일자</span>
                                                <span class="txt">YYYY.MM.DD</span>
                                            </li>
                                            <li>
                                                <span class="tit">대출</span>
                                                <span class="txt yes">심사진행 가능</span><!--yse 가능-->
                                            </li>
                                            <li>
                                                <span class="tit">할부</span>
                                                <span class="txt no">채무불이행</span><!--no 불가능-->
                                            </li>
                                        </ul>
                                        <div class="btn-cont-wrap">
                                            <a href="#none" class="btn btn-primary style1">대출 심사요청</a>
                                            <a href="#none" class="btn disabled">할부 심사불가</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- <p class="test-tit">조회</p>
                    <section class="check-wrap type-spread">
                        <div class="form-wrap">
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col">
                                        <input id="" type="text" class="form-control" placeholder="검색어를 입력해주세요">
                                    </div>
                                    <button class="btn btn-txt" type="button">검색</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-slidemenu round-bor">
                            <ul>
                                <li class="on"><a href="#none">대출심사 가능</a></li>
                                <li><a href="#none">할부심사 가능</a></li>
                                <li><a href="#none">심사 불가</a></li>
                            </ul>
                        </div>
                    </section> -->

                    <p class="test-tit">Tab round - 개발 별개 관리로 type2 안들어감</p>
                    <section class="tabs-wrap round-list">
                        <div class="tabs">
                            <ul class="tab-item">
                                <li data-tab="tab-cont04"><a href="#none" title="선택됨">텍스트1</a></li>
                                <li data-tab="tab-cont05"><a href="#none">텍스트2</a></li>
                            </ul>
                            <div class="tab-content-area">
                                <div id="tab-cont04" class="tab-content">
                                    내용 1
                                </div>
    
                                <div id="tab-cont05" class="tab-content dp-none">
                                    내용 2
                                </div>
                            </div>
                        </div>
                    </section>

                    <p class="test-tit">TAP Text -  type2 추가</p>
                    <section class="tabs-wrap">
                        <div class="tabs">
                            <ul class="tab-item type2">
                                <li data-tab="tab-cont06" class="on"><a href="#none" title="선택됨">텍스트1</a></li>
                                <li data-tab="tab-cont07"><a href="#none">텍스트2</a></li>
                            </ul>
                            <div class="tab-content-area">
                                <div id="tab-cont06" class="tab-content">
                                    내용 1
                                </div>
    
                                <div id="tab-cont07" class="tab-content dp-none">
                                    내용 2
                                </div>
                            </div>
                        </div>
                    </section>

                    <p class="test-tit">TAP Background - main -  type2 추가</p>
                    <section class="tabs-wrap tab-bg">
                        <div class="tabs">
                            <ul class="tab-item type2">
                                <li data-tab="tab-cont08" class="on"><a href="#none" title="선택됨">텍스트1</a></li>
                                <li data-tab="tab-cont09"><a href="#none">텍스트2</a></li>
                            </ul>
                            <div class="tab-content-area">
                                <div id="tab-cont08" class="tab-content">
                                    내용 1
                                </div>
    
                                <div id="tab-cont09" class="tab-content dp-none">
                                    내용 2
                                </div>
                            </div>
                        </div>
                    </section>

                    <p class="test-tit">TAP Background - cont -  type2 추가</p>
                    <section class="tabs-wrap tab-bg cont">
                        <div class="tabs">
                            <ul class="tab-item type2">
                                <li data-tab="tab-cont10" class="on"><a href="#none" title="선택됨">텍스트1</a></li>
                                <li data-tab="tab-cont11"><a href="#none">텍스트2</a></li>
                            </ul>
                            <div class="tab-content-area">
                                <div id="tab-cont10" class="tab-content">
                                    내용 1
                                </div>
    
                                <div id="tab-cont11" class="tab-content dp-none">
                                    내용 2
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- <p class="test-tit">TAP Text - swiper</p>
                    <section class="tabs-wrap">
                        <div class="tabs swiper">
                            <ul class="swiper-pager"></ul>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                     내용1
                                </div>
                                <div class="swiper-slide">
                                    내용2
                                </div>
                                
							</div>
                        </div>
                    </section>

                    <script>
						var pager = ['텍스트1', '텍스트2'];
						var swiper = new Swiper('.tabs.swiper', {
							spaceBetween: 20,
							autoHeight: true,
							pagination: {
								el: '.tabs  ul',
								clickable: true,
								renderBullet: function (index, className) {
								return '<li class="' + className + '">' + (pager[index]) + '</li>';
								}
							},
						});
					</script>

                    <p class="test-tit">TAP Background - swiper</p>
                    <section class="tabs-wrap tab-bg">
                        <div class="tabs swiper">
                            <ul class="swiper-pager"></ul>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                     내용1
                                </div>
                                <div class="swiper-slide">
                                    내용2
                                </div>
                                
                            </div>
                        </div>
                    </section>

                    <script>
                        var pager = ['텍스트1', '텍스트2'];
                        var swiper = new Swiper('.tabs.swiper', {
                            spaceBetween: 20,
                            autoHeight: true,
                            pagination: {
                                el: '.tabs  ul',
                                clickable: true,
                                renderBullet: function (index, className) {
                                return '<li class="' + className + '">' + (pager[index]) + '</li>';
                                }
                            },
                        });
                    </script> -->


                    <p class="test-tit">btn-text</p>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col check-buttons">
                                <label for="check-4" class="check-button">
                                    <input type="checkbox" id="check-4" name="terms">
                                    <span class="custom-check"></span>
                                    <span class="text">아이디 기억하기</span>
                                </label>
                            </div>
                            <div class="col btn-cont-wrap right">
                                <a href="#none" class="btn btn-text">패스워드 찾기</a>
                            </div>
                        </div>
                    </div>

                    <p class="test-tit">btn-text small-line</p>
                    <div class="btn-cont-wrap center">
                        <a href="#none" class="btn btn-text small-line">더보기</a>
                    </div>

                    <p class="test-tit">btn-text big-line - background(#FFFFFF)</p>
                    <div class="btn-cont-wrap center">
                        <a href="#none" class="btn btn-text big-line">로그인 하시겠어요?</a>
                    </div>
                    
                    <p class="test-tit">btn-text big-line - background(#003F86)  -> 이경우 fixed-btn-wrap 구조를 한 번 더 감싸줘야됨.[버튼 정리를 위해 빼놓음]</p>
                    <div class="btn-wrap style2 center">
                        <a href="#none" class="btn btn-text big-line">로그인 하시겠어요?</a>
                    </div>

                    <!-- <p class="test-tit">Popup 셀렉트버튼</p>
                    <div class="form-wrap">
                        <div class="form-group popup-search">
                            <div class="form-row">
                                <div class="col">
                                    <select class="form-control" name="select">
                                        <option value="">가가</option>
                                        <option value="">나나</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <input id="" type="text" class="form-control" placeholder="조회">
                                </div>
                            </div>
                            <div class="btn-cont-wrap">
                                <a href="#none" class="btn btn-primary">조회</a>
                            </div>
                        </div>
                        
                    </div> -->

                    <!-- <p class="test-tit">이미지 불러오기</p>
                    <section>
                        <div class="thumb-wrap">
                            <ul>
                                <li class="plus"><input type="file" class="ip-file"  required multiple><span>추가</span></li>
                            </ul>
                        </div>
                    </section> -->
                </section>
            </div>
            <div class="fixed-btn-wrap">
                <div class="btn-wrap">
                    <a href="#none" class="btn btn-close">그만하기</a>
                    <a href="#none" class="btn btn-primary">다음</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
<style>
    .test-tit.red { background:#dddddd; border-radius:10px; color:#555555; padding:20px; }
    .test-tit.red:before { content:none; }
    .test-tit { position:relative; margin-top:40px; margin-bottom:20px; padding-left:20px; font-size:0.89rem; }
    .test-tit:before { content:""; position:absolute; top:50%; left:0; transform:translateY(-50%); width:10px; height:10px; border-radius:50%;  background-color: #267DC5;  }
</style>
<script>
</script>