<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../resources/css/lib/renewal.css">
    <link rel="stylesheet" href="../../resources/css/lib/default.css">
    <link rel="stylesheet" href="../../resources/css/lib/swiper-bundle.min.css">
    <!-- <link rel="stylesheet" href="../../resources/css/lib/new_renewal.css"> -->

    <script type="text/javascript" src="../../resources/js/lib/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/default.js"></script>
    <!--  -->
</head>

<body>
    <div class="wrap">
        <!-- //header -->
        <header id="lnb">
            <script>
                $(document).ready(function(){
                    document.charset="euc-kr";
                    $("#lnb").load("../include/inc_header_sub.html");
                });
            </script>
        </header>
        <!-- header// -->
        <!-- s:menuWrap -->
        <div id="menuWrap">
            <script>
            $(document).ready(function(){
                document.charset="euc-kr";
                $("#menuWrap").load("../include/inc_menu.html");
            });
            </script>
        </div>
        <!-- e:menuWrap -->
        <form>
            <div class="contents-wrap">
                <section>
                    <div class="list-group">
                        <div class="swiper-wrap type-spread">
                            <div class="swiper-pagination"></div>
                            <div class="swiper-image swiper mySwiper">
                                <ul class="swiper-wrapper">
                                    <li class="swiper-slide">
                                        <img src="../../resources/images/common/image_1.png" alt="방1">
                                    </li>
                                    <li class="swiper-slide">
                                        <img src="../../resources/images/common/image_2.png" alt="방2">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <p class="list-tit">10,000 ~ 1,000,000 ₱</p>
                        <a href="#none" class="btn-set like on">찜</a>
                        <ul class="list-txt">
                            <li class="list-sub-tit">2256 Philippine Dr Clearwater, FL 33763</li>
                        </ul>
                        <div class="histroy-box">
                            <ul class="history-list col3">
                                <li class="Bed">
                                    Beds 2
                                </li>
                                <li class="Bath">
                                    Baths 2
                                </li>
                                <li class="sqft">
                                    sqft 1,100
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="tab">
                        <ul class="tab-item">
                            <li class="on" data-tab="tab-cont01"><a href="javascript:void(0);" title="선택됨">Overview</a></li>
                            <li data-tab="tab-cont02"><a href="javascript:void(0);">Local Info</a></li>
                            <li data-tab="tab-cont03"><a href="javascript:void(0);">Features</a></li>
                        </ul>
                        <div id="tab-cont01" class="tab-content">
                            <div class="form-wrap section">
                                <p class="tit">Price range</p>
                                <div class="text-wrap section">
                                    <p class="txt">This condo is located at 14651 Philipine #5301, Houston, TX. (ZIP code 77040)
                                    </p>
                                    <p class="txt">This property has 2 bedrooms, 2bathrooms and approximately 1,200 sqft of floor space.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id="tab-cont02" class="tab-content dp-none">
                            <div class="tab-map"></div>
                            <p class="tit">Description</p>
                            <div class="text-wrap section">
                                <p class="txt">This condo is located at 14651 Philipine #5301,
                                    Houston, TX. 14651 Philipine #5301 is in Houston,
                                    TX and in ZIP code 77040. This property has 2
                                    bedrooms, 2bathrooms and approximately 1,200
                                    sqft of floor space.
                                </p>
                            </div>
                        </div>
                        <div id="tab-cont03" class="tab-content dp-none">
                            <div class="form-wrap section">
                                <p class="tit">Features</p>
                                <div class="text-wrap section">
                                    <p class="txt">This condo is located at 14651 Philipine #5301, Houston, TX. 14651 Philipine #5301 is in Houston, TX and in ZIP code 77040.
                                    </p>
                                    <p class="txt">This property has 2 bedrooms, 2bathrooms and approximately 1,200 sqft of floor space.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="type-spread line">
                    <div>선</div>
                </section>
                <section>
                    <div class="info-wrap">
                        <div class="text-wrap">
                            <p class="tit">Agent Info</p>
                        </div>
                        <div class="personal-box">
                            <p class="tit">Erik Choi</p>
                            <p class="txt">Personal trader</p>
                        </div>

                        <div class="text-wrap">
                            <p class="tit">Similar Listing</p>
                        </div>
                        <div class="list-wrap similar">
                            <div class="list-group">
                                <ul class="img-list">
                                    <li>
                                        <img src="../../resources/images/common/image_1.png" alt="방1">
                                    </li>
                                </ul>
                                <div class="space">
                                    <p class="list-tit">₱7,000,000</p>
                                </div>
                                <div class="list-txt">
                                    <span class="ic-room">2</span>
                                    <span class="ic-bathtub">2</span>
                                </div>
                            </div>
                            <div class="list-group">
                                <ul class="img-list">
                                    <li>
                                        <img src="../../resources/images/common/image_1.png" alt="방1">
                                    </li>
                                </ul>
                                <div class="space">
                                    <p class="list-tit">₱7,000,000</p>
                                </div>
                                <div class="list-txt">
                                    <span class="ic-room">2</span>
                                    <span class="ic-bathtub">2</span>
                                </div>
                            </div>
                            <div class="list-group">
                                <ul class="img-list">
                                    <li>
                                        <img src="../../resources/images/common/image_1.png" alt="방1">
                                    </li>
                                </ul>
                                <div class="space">
                                    <p class="list-tit">₱7,000,000</p>
                                </div>
                                <div class="list-txt">
                                    <span class="ic-room">2</span>
                                    <span class="ic-bathtub">2</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </form>
    </div>
</body>
<div id="selBox2" class="layerpopup laypop-all show" >
    <div class="content-wrap">
        <div class="pop-header"><span>Filter</span></div>
        <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
        <div class="ly-scroll-con ly-select">
            <ul class="ly-select-list">
                <!-- <li><button type="button">아파트</button></li>[D] 클래스 active 추가 시 활성화 스타일 노출
                <li><button type="button">오피스텔</button></li>
                <li><button type="button">주택</button></li> -->
            </ul>
        </div>
    </div>
</div>

<script>
    var text = ['Overview','Local Info','Features'];
    var bottomSwiper = new Swiper('.swiper-bottom', {
        slidesPerView: '1',
        pagination: {
            el: ".swiper-pagination-custom",
            clickable: true,
            bulletClass:"custom_bullet",
            bulletActiveClass: "swiper-pagination-custom-bullet-active",
            renderBullet: function (index, className) {
            return '<div class="'+className+'"><span>'+ (text[index]) +'</span></div>'
            },
        },
        allowTouchMove : false,
        loop: true,
        touchRatio: 0.2,
        observer: true,
        observeParents: true
    });

    var swiper = new Swiper(".mySwiper", {
      pagination: {
        el: ".swiper-pagination",
        type: "fraction",
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });
</script>
</html>