
<ul>
    <li><a href="#contentWrap" id="contentWrap">본문 바로가기</a></li>
    <li><a href="#gnb" id="gnb">주메뉴 바로가기</a></li>
    <li><a href="#footerWrap" id="footerWrap">하단 바로가기</a></li>
</ul>

<script>
    $(function(){
        /* focus 이동 */
        $("#skipnavi a").keydown(function(e){
            if (e.keyCode === 13) {
                if (this.id === "contentWrap") {
                    location.href = "#contentWrap";
                    const homeLink = $(".home > a");
                    if (homeLink.length > 0) {
                        homeLink.focus(); 
                    } else {
                        $(".shortcut-area > .btn-wrap > a").first().focus(); // 메인 본문 바로가기
                    }
                } else if (this.id === "gnb") {
                    location.href = "#gnb";
                    $(".menu > li > a").first().focus(); 
                } else {
                    location.href = "#footerWrap";
                    $(".policy-link > a").first().focus();
                }
            }
        });
    });
</script>