<footer>
    <div class="footer-top">
        <ul class="container">
            <li><a href="#">개인정보처리방침</a></li>
            <li><a href="#">신용정보 활용체제</a></li>
            <li><a href="#">법적고지</a></li>
        </ul>
    </div>

    <div class="container footer-main">
        <h1 class="logo">
            <!-- blind - 홈으로 이동 : 임시 -->
            <a href="#" class="logo"><span class="blind">홈으로 이동</span></a>
        </h1>
        <div class="family-site">
            <a href="#">패밀리사이트</a>
        </div>
    </div>

    <div class="container footer-bottom">
        <div>
            <div class="contact">
                <span>1588-9688</span>
                고객상담센터 (평일 09:00 ~ 18:00)
            </div>
            <p class="base">서울특별시 강남구 도산대로 306 (논현동 91-3) / 사업자등록번호 105-81-87072</p>
            <p class="copyright">ⓒ 2025. MG CAPITAL CO. LTD.All right reserved</p>
        </div>
        <a href="http://webwatch.or.kr/Situation/WA_Situation.html?MenuCD=110">
            <img
                class="img-wa"
                src="../resources/images/footer/WA_Mark.png"
                alt="과학기술정보통신부  WA(WEB 접근성) 품질인증 마크, 웹와치(WebWatch) 2024.08.20 ~ 2025.08.20"
                title="WA 품질인증 마크, 웹와치(WebWatch) 2000.00.00 ~ 2000.00.00"
            />
        </a>
    </div>
</footer>
