<header>
    <div class="container">
        <div class="header-top">
            <ul>
                <li><a href="#">로그인</a></li>
                <li><a href="#">회원가입</a></li>
                <li><a href="#">공동인증센터</a></li>
                <li><a href="#">영업점안내</a></li>
            </ul>
        </div>
        <div class="header-main">
            <h1 class="logo">
                <a href="#" class="logo"><span class="blind">홈으로 이동</span></a>
            </h1>
            <div class="main-right">
                <ul class="main-menu">
                    <li><a href="#">온라인서비스</a></li>
                    <li><a href="#">금융상품</a></li>
                    <li><a href="#">고객센터</a></li>
                    <li><a href="#">회사소개</a></li>
                    <li><a href="#">금융소비자포털</a></li>
                    <li><a href="#">MY페이지</a></li>
                </ul>
                <div class="header-icons">
                    <button class="btn-search">
                        <span class="blind">검색 버튼</span>
                    </button>
                    <!-- TODO: 검색 영역 추가 -->

                    <!-- only MO: 큰글 토글 -->
                    <div class="font-toggle">
                        <input type="checkbox" id="fontToggle" hidden />
                        <label for="fontToggle" class="toggle-switch">
                            <span class="toggle-text"></span>
                            <span class="toggle-button"></span>
                        </label>
                    </div>

                    <button class="btn-burger">
                        <span class="blind">메뉴 버튼</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
