<div class="sidebar">
    <div class="tit"><p>퀵메뉴</p></div>
    <ul class="menu-list">
        <li class="loan-history">
            <a href="#"><p>대출내역</p></a>
        </li>
        <li class="repayment-schedule">
            <a href="#"><p>상환스케줄</p></a>
        </li>
        <li class="document-issuance">
            <a href="#"><p>서류발급</p></a>
        </li>
        <li class="financial-calculator">
            <a href="#"><p>금융계산기</p></a>
        </li>
        <li class="edit-menu">
            <a href="#"><p>메뉴편집</p></a>
        </li>
    </ul>
</div>
