@use 'variable' as *;

$borderTs: "search_wrap", "tab_wrap";

@each $borderT in $borderTs {
    .#{$borderT} + .list_btn {
        border-top:$borderD;
    }
}
/*---------------------------------------------
	#input
---------------------------------------------*/
.form_contrl {
    height:30px;
    border:1px solid $default;
    border-radius:6px;
    font-size:$font13;
    color:$title;
    &:disabled, &.diss, &[readonly] { //[20250723] 수정
        background-color:$btn-disabled;
        border:$borderD;
        color:$text-disabled;
    }
    &::placeholder {
        color:$text-disabled;
    }
    &:focus-visible, &:focus {
        border:1px solid $primary;
    }
}

/* search */
.search_wrap { //[20250724] 수정
    padding:0;
    margin:0 24px 15px;//[20250812] 수정
    border:$borderD;
    border-radius:20px;
    background:#F9F9F9;
}
.search_box {
    max-width:458px;
    height:48px;
    margin:15px auto;//[20250812] 수정
    border:0;
    .search_inputbox {
        @include wh ($wh100, 48px);
        padding:6px 9px 6px 14px;
        border:1px solid $default;
        border-radius:6px;
    }
    &.mini_search {
        height:35px;
        .search_inputbox {
            height:35px;
        }
        .btn_search {
            background-image:none;
        }
    }
    .btn_search {
        background-image:none;
    }
}
.search_date {
    .form_date {
        .date_ctl {
            background-position: left 5px center;
        }
    }
}

/* date */
.form_date {
    .date_ctl {
        background-image: url("../img/common/ico_calendar.svg");
        background-position: left 5px center;
        background-size: 16px;
        background-repeat: no-repeat;
        color:$text-disabled;
        &.diss { //[20250723] 추가
            background-color: $btn-disabled;
            border:$borderD;
            color:$text-disabled;
        }
    }
    &.flx {
        gap:4px;
        align-items:center;
    }
}

/* date2 -> calendar */
.calendarUI {
    border:$borderD;
    border-radius:6px;
    box-shadow:0 3px 3px #00000016;
    .cld_month_pop {
        li {
            button {
                padding:0 10px;
                color:$content;
                font-weight:$font-w-r;
                line-height:30px;
                &.on {
                    border-radius:0;
                    font-weight:$font-w-m;
                    color:$white;
                    background-color:$primary;
                }
                &:hover {
                    border-radius:0;
                }
            }
        }
    }
    .calendar_month {
        $calendarArrs: "prev", "next";
        @each $calendarArr in $calendarArrs {
            .#{$calendarArr} {
                @include icon (24px, 24px);
                padding:0;
                background-image:url("../img/common/ico_accordion3.svg");
                background-position:center;
                transform:rotate(90deg);
            }
        }
        .next {
            transform:rotate(-90deg);
        }
    }
    .calendar_minitbl {
        .day_weeks {
            border-top:$borderD;
        }
    }
}
.weeksTbl {
    .week_row {
        .diss_week {
            background-color:$btn-disabled;
            .btn_weekday {
                border-radius:0;
                color:$text-disabled;
            }
        }
        .btn_weekday {
            padding:0;
            font-weight:$font-w-r;
            color:$content;
            &.on {
                font-weight:$font-w-m;
                background-color:$primary;
            }
        }
    }
}

/* 파일첨부 */
.filebox { // input + 첨부파일 아이콘 + 업로드 아이콘
    gap:5px;
    .remove-file {//[20250814] 추가
        color:$title;
    }
    .file_btns { //[20250814] 수정
        margin:0;
        column-gap:5px;
        button:not(button.line) {//[20250804] 수정
            display:inline-block;
            padding:3px;
            margin:0;
            @include icon(30px,30px);
            border:$borderD;
            border-radius:6px;
            font-size:0;
            background-size:70%;
            background-position:center;
            background-color:unset;
            &.file {
                background-image:url("../img/common/btn-file.svg");
            }
            &.upload{
                border:0;
                background-image:url("../img/common/ico_upload.svg");
                background-color:$basic;
            }
            &.line { //[20250804] 추가
                margin:0 4px 0 0;
                border:$borderD;
                border-radius:6px;
                font-size:$font13;
                background-color:$white;
            }
            &:last-child { //[20250804] 추가
                border-radius:6px;
            }
            &.del {//[20250811] 추가
                background-image:$icoTrash;
            }
            &.icon_mymodify {
                background-image:$icoFileEdit;
            }
            &.basic:hover {
                background-color:unset;
            }
        }
    }
}
.file_output {
    padding-top:6px;
    .form_contrl {
        border:0;
        @include title($font13, $font-w-r, $content);
        background-color:#F3F5F7;
    }
}
.file_upload_wrap { //파일 첨부
    max-width:none;
    .file_upload_box {
        height:83px;
        margin-top:13px;
        border-radius:6px;
        background:$body;
        &:has(.icon_file_upload) {
            display:block;
            padding:16px 0 21px;
            border:1px dashed $border-d;
            text-align:center;
        }
        .icon_file_upload {
            display:inline-block;
            @include wh (24px,24px);
            @include mask($text-disabled);
            -webkit-mask-image:url("../img/common/ico_file_upload.svg");
            mask-image:url("../img/common/ico_file_upload.svg");
            background-image:none;
        }
        p {
            @include title($font13, $font-w-r, $text-disabled);
            line-height:16px;
        }
        &.upload_list {
            padding:15px 15px 11px;
            border:0;
            &:hover {
                background-color:$body;
            }
            li {
                gap:4px;
                padding-bottom:10px;
                p {
                    font-size:$font13;
                    color:$title;
                    line-height:16px;
                    vertical-align:unset;
                    &.file_size {
                        color:$text-disabled;
                    }
                }
                .btn_del {
                    display:inline-block;
                    @include icon(24px,24px);
                    padding:0;
                    border:$borderD;
                    border-radius:6px;
                    background-image:$iconClose;
                    background-size:80%;
                    background-color:$white;
                    background-position:center;
                }
            }
        }
    }
}

/* textarea, file_upload_wrap */
.form_stl {//[20250806] 추가
    textarea {
        &.form_contrl {
            width:$wh100;
        }
    }
    .file_upload_wrap {
        max-width:none;
        width:$wh100;
    }
    select {
        &.form_contrl {
            width:270px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

/* check */
$inputs: "check_stl", "radio_stl";
$labels: "check_stl_lab", "radio_stl_lab";

// default
@each $label in $labels {
    .#{$label} {
        color:$content;
        &:before {
            margin-top:0;
            margin-right:5px;
            border: 1px solid $default;
        }
    }
}

@each $input in $inputs {
    // checked
    .#{$input}:checked + label {
        font-weight:$font-w-m;
        color:$title;
        &:before {
            border: $borderP;
        }
    }
    // disabled
    .#{$input}:disabled + label:before {
        border: 1px solid $btn-disabled;
    }
}

.check_stl {
    & + label.check_stl_lab {
        padding-left: 20px;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            display: inline-block;
            border-radius: 3px;
        }
        &::before {
            @include wh(16px, 16px);
            border: 1px solid $default;
            background-color: $white;
        }
        &::after {
            @include wh(16px, 16px);
            @include mask($default);
            -webkit-mask-image:$icoCheckS;
            mask-image:$icoCheckS;
        }
    }
    &:checked + label.check_stl_lab {
        &::before {
            @include wh(16px, 16px);
            background-color: $primary;
            border: $borderP;
            margin: 0;
            transform: translateY(-50%);
            left: 0;
        }

        &::after {
            @include wh(16px, 16px);
            background-color: $white;
            background-image: none;
            margin: 0;
            left: 0;
        }
    }
    &:disabled + label.check_stl_lab {
        color:$text-disabled;
        &::before {
            background-color: $btn-disabled !important; //[20250723] 변경
        }
        &::after { //[20250723] 추가
            background-color:$text-disabled;
        }
    }
    & + label.check_stl_lab2 {
        color:$content;
        i {
            @include wh (16px,16px);
            border:0;
            border-radius:0;
            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                transform: translate(-50%,-50%);
                left: 50%;
                display: inline-block;
                border-radius: 3px;
            }
            &::before {
                @include wh(16px, 16px);
                border: 1px solid $default;
                background-color: $white;
            }
            &::after {
                @include wh(15px, 15px);
                @include mask($default);
                -webkit-mask-size: $wh100;
                mask-size: $wh100;
                -webkit-mask-image:$icoCheckS;
                mask-image:$icoCheckS;
            }
        }
    }
    &:checked + label.check_stl_lab2 {
        font-weight:$font-w-m;
        color:$title;
        i {
            &::before {
                @include wh(16px, 16px);
                background-color: $primary;
                border: $borderP;
                margin: 0;
                transform: translate(-50%,-50%);
                left:50%;
            }
            &::after {
                @include wh(15px, 15px);
                background-color: $white;
                background-image: none;
                margin: 0;
                left: 50%;
            }
        }
    }
    &:disabled + label.check_stl_lab2 {
        color:$text-disabled;
        &::before {
            background-color: $btn-disabled;
    }
    }
}
.radio_stl {
    &+ label {
        &::before {
            border:5px solid $white;
            background-color:$default;
            outline:1px solid $default;
        }
        &+ .req_txt {
            padding:0;
        }
    }
    &+.radio_stl_lab2 {
        i {
            border:1px solid $default;
            &::after {
                content:"";
                position:absolute;
                left:50%;
                top:50%;
                transform:translate(-50%,-50%);
                display:inline-block;
                @include wh(6px,6px);
                margin:0;
                border-radius:50%;
                background-color:$default;
            }
        }
    }
    &:checked {
        &+ label {
            &::before {
                border:5px solid $primary;
                background-color:$white;
                outline:1px solid $primary;
            }
            &::after {
                content:none;
            }
        }
        &+.radio_stl_lab2 {
            i {
                background-color:$primary;
                &::after {
                    @include wh(6px,6px);
                    left:50%;
                    transform:translate(-50%,-50%);
                    margin:0;
                }
            }
        }
    }
    &:disabled {
        &+ label {
            color:$text-disabled;
            &::before {
                border:5px solid $btn-disabled;
                background-color:$default;
                outline:1px solid $btn-disabled;
            }
            &::after {
                content:none;
            }
        }
        &+.radio_stl_lab2 {
            i {
                border:1px solid $btn-disabled;
                background-color:$btn-disabled;;
                &::after {
                    background-color:$default;
                }
            }
        }
    }
}

/*---------------------------------------------
	#selectbox
---------------------------------------------*/
select{
    &.form_contrl {
        padding-right:26px;
        background: $icoAccordion no-repeat right 1px center $white;
    }
}
.tbl_btm {
    .page_select {
        color:$text-disabled;
        .form_contrl {
            width:70px;
            height:30px;
            border:1px solid $default;
            border-radius:6px;
        }
    }
}

/*---------------------------------------------
	#toggle
    tg_sch_stl = 기본 사이즈 토글
    tg_sch_stl_s = content 안 토글
    .tg_sch_lab .tg_sch
---------------------------------------------*/
.tg_sch_stl, .tg_sch_stl, .tg_sch_stl[data-v-bf9a7256] {//[20250730] 추가
    .tg_sch,.tg_sch[data-v-bf9a7256]{
        &:checked {
            &+ label {
                &::before {
                    background-color:$primary;
                }
                &::after {
                    left:8px;
                }
            }
        }
        &+ label,label[data-v-bf9a7256] {//[20250730] 추가
            &::before {
                @include wh(53px,28px);
                background-color:$btn-disabled;
            }
            &::after {
                left:3px;
                bottom:2px;
                @include wh(24px,24px);
            }
        }
    }
    &.mini {
        .tg_sch{
            &:checked {
                &+ label {
                    &::before {
                        background-color:$primary;
                    }
                    &::after {
                        left:8px;
                    }
                }
            }
            &+ label {
                &::before {
                    @include wh(40px,18px);
                    background-color:$btn-disabled;
                }
                &::after {
                    left:3px;
                    bottom:2px;
                    @include wh(14px,14px);
                }
            }
        }
    }
}

.tg_sch_lab { //[20250814] 추가
    gap:10px;
    &::before {
        background-color:$btn-disabled;
    }
    .tg_sch:checked+label:before {
        background-color:$primary;
    }
}

/*---------------------------------------------
	#dropdown
---------------------------------------------*/
.dropdown {
    .btn_dropdown {
        width:$wh100;
        margin:0;
        padding:0;
        border:$borderD;
        text-align:left;
        &:hover {
            border-color:$border-d;
        }
    }
    .dropdown_list {
        top:25px;
        margin:0;
        border:$borderD;
        border-top:0;
        border-radius:0 0 6px 6px;
        li {
            border-bottom:0;
            &:first-child {
                margin-top:5px;
                border-top:$borderD;
            }
            button {
                color:$content;
            }
        }
    }
}

.moved_tit {
    .dropdown {
        display:block;
        width:$wh100;
        padding-bottom:10px;
        border:0;
        border-bottom:$borderD;
        border-radius:0;
        .btn_dropdown {
            border:0;
        }
    }
    .dropdown_list {
        top:43px;
        left:0;
        margin-top:2px;
        border-top:$borderD;
        border-radius:6px;
        background-color:$white;
        z-index:1;
        li {
            border-bottom:0;
            &:first-child {
                margin-top:0;
                border-top:0;
            }
        }
    }
}

/*---------------------------------------------
	#개발 디자인 입힌 후 추가 작업
---------------------------------------------*/
// [20250723] 추가
/* disabled 안 되어있는 input */
.list_btn {
    .multiselect__tags {
        padding-top:0;
    }
}
.multiselect__tags {
    border:$borderD;
    border-radius:6px;
}
.multiselect__input { //[20250731] 추가
    margin-bottom:0;
    padding:0;
    line-height:18px;
}
.multiselect__single {//[20250730] 수정
    margin-bottom:0;
    padding-top:7px;
}
.multiselect--disabled {
    .multiselect__tags {
        border:$borderD;
        background-color:$btn-disabled;
    }
    .multiselect__single {
        color:$text-disabled;
        background-color:$btn-disabled;
    }
}
.multiselect__select { //[20250730] 추가
    &::before {
        top:56%;
    }
}

.multiselect__select, .multiselect__tags {
    min-height:30px;
}

/* multiselect__content-wrapper */
.multiselect__content-wrapper {
    border:$borderD;
}

.multiselect__option--selected {
    background:#DAFAF5 !important;
    span {
        color:$primary;
    }
}
.multiselect__option--highlight {
    background:none !important;
    span {
        color:$primary;
    }
}

.multiselect--active:not(.multiselect--above) .multiselect__current, .multiselect--active:not(.multiselect--above) .multiselect__input, .multiselect--active:not(.multiselect--above) .multiselect__tags {
    margin:0;//[20250801] 추가
    border-bottom:0;
}

// .multiselect--active { //[20250806] 추가
//     .multiselect__select {
//         top:65%;
//     }
// }

.form_txt .multiselect, .form_txt .multiselect__input, .form_txt .multiselect__placeholder, .form_txt .multiselect__single {//[20250804] 수정
    margin:0;
    padding:0;
    font-size:$font13 !important;
    line-height:30px !important;
}

.multiselect, .multiselect__input, .multiselect__option, .multiselect__placeholder, .multiselect__single {//[20250801] 추가
    margin:0;
    padding:0; //[20250807] 추가
    line-height:30px;
    background-color:unset;//[20250808] 추가
}

.multiselect__option {
    padding:0 10px;//[20250730] 수정
}