<h1>Aegis ADMIN</h1>
<div class="skip_navigation">
    <ul>
        <li>
            <a href="#Content" class="go_content">본문 바로가기</a>
        </li>
        <li>
            <a href="#Gnb">메뉴 바로가기</a>
        </li>
    </ul>
</div>
<header class="header_box">
    <div class="logo_box">
        <a href="/" class="logo_link">
            <div class="logo_hidden_box">
                <img src="assets/images/logo.png"/>
            </div>
        </a>
    </div>
    <nav>
        <ul class="lnb">
            <li>
                <a href="/menu01.html" class="menu01">
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu02">
                    <span>Alert</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu03">
                    <span>Event</span>
                </a>
                <ul class="depth2">
                    <li>
                        <a href="/menu02.html"><span>Firewall</span></a>
                    </li>
                    <li>
                        <a href="#"><span>IPS</span></a>
                    </li>
                    <li>
                        <a href="#"><span>Malware</span></a>
                    </li>
                    <li>
                        <a href="#"><span>파일 무결성</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="menu04">
                    <span>Computer</span>
                </a>
                <ul class="depth2">
                    <li>
                        <a href="#"><span>Asset Status</span></a>
                    </li>
                    <li>
                        <a href="#"><span>Asset Manager</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="menu05">
                    <span>Configuration</span>
                </a>
                <ul class="depth2">
                    <li>
                        <a href="#"><span>사용자 관리</span></a>
                    </li>
                    <li>
                        <a href="#"><span>사이트 이용 설정</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="menu06">
                    <span>보안 정책</span>
                </a>
                <ul class="depth2">
                    <li>
                        <a href="#"><span>Firewall</span></a>
                    </li>
                    <li>
                        <a href="#"><span>IPS/Malware</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>



