<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="keywords" content="ORIX Capital keywords">
    <meta name="description" content="ORIX Capital description">

    <meta property="og:locale" content="ko_KR" />
    <meta property="og:type" content="website" />

    <link href="../../resources/css/lib/default.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/lib/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/ui/ui_common.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/lib/img.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/ui/media-query.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/lib/main.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="../../resources/js/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/ui_common.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/ui_plugin.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/default.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/swiper-bundle.min.js"></script>

</head>

<body>
    <div id="skipnavi"></div>
    <script>
        $(document).ready(function () {
            $("#skipnavi").load("../INCLUDE/inc_skipnavi.html");
        });
    </script>
    </div>
    <div class="wrap mainWrap">
        <!-- s:header -->
        <div id="headerWrap">
            <script>
                $(document).ready(function () {
                    $("#headerWrap").load("../INCLUDE/inc_header.html");
                });
            </script>
        </div>
        <!-- //e:header -->
        <!-- s:contentWrap -->
        <div id="contentWrap" class="sub-content">
            <!-- s:contents -->
            <div class="contents">
                <section class="mainSec-banner">
                    <div class="inner">
                        <div class="introMain-area x-slide">
                            <ul>
                                <li>
                                    <em>신차 영업관리 플랫폼</em>
                                    <strong>오릭스캐피탈 코리아</strong>
                                    <p>모든 업무를 한눈에<br/>견적서를 작성하고 나의 업무를 관리해 보세요!</p>
                                </li>
                            </ul>
                        </div>
                        <img class="img x-slide" src="../../resources/images/main/ic_mainCar.png" alt="">
                        <div class="shortcut-area upAndDown">
                            <div class="btn-wrap">
                                <a href="javascript:void(0);" class="btn">렌터카</a>
                                <a href="javascript:void(0);" class="btn">오토리스</a>
                            </div>
                            <ul>
                                <li><a href="javascript:void(0);">선구매 견적내기</a></li>
                                <li><a href="javascript:void(0);">실적조회</a></li>
                                <li><a href="javascript:void(0);">자료실</a></li>
                                <li><a href="javascript:void(0);">공지사항</a></li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section class="mainSec-myTodoList">
                    <div class="inner">
                        <div class="intro-box">
                            <h2>TO-DO-LIST!</h2>
                            <p>나의 선구매 선점요청 차량 업무 현황을<br/>확인하고 관리하실 수 있습니다.</p>
                        </div>
                        <!--S: 결과 있을 경우-->
                        <div class="introTodoSlider swiper">
                            <ul class="introToList-area swiper-wrapper">
                                <li class="swiper-slide">
                                    <a href="javascript:void(0);">
                                        <p  class="intro-tit">선점요청완료</p>
                                        <div class="intro-con">
                                            <p>
                                                <em>선구매</em>
                                                <strong>현대 캐스퍼 2023년형 가솔린 1.0 스마트</strong>
                                            </p>
                                            <ul>
                                                <li class="date"><span class="tit">선점날짜 :</span><span class="txt">2024.10.27</span></li>
                                                <li class="deadline"><span class="tit">확보가능기한 :</span><span class="txt">2024.10.29&nbsp;&nbsp;&nbsp;&nbsp;23:59:59</span></li>
                                                <li class="num"><span class="tit">견적번호 :</span><span class="txt">RM02938-000002</span>&nbsp;·&nbsp;<span class="tit">제조사 계약번호 : </span><span class="txt">AAAAA0</span></li>
                                            </ul>
                                            <p class="btn"><span class="ir">선점요청완료</span>바로가기</p>
                                        </div>
                                    </a>
                                </li>

                                <li class="swiper-slide">
                                    <a href="javascript:void(0);">
                                        <p  class="intro-tit">선점기한만료</p>
                                        <div class="intro-con">
                                            <p>
                                                <em>선구매</em>
                                                <strong>현대 캐스퍼 2023년형 가솔린 1.0 스마트</strong>
                                            </p>
                                            <ul>
                                                <li class="date"><span class="tit">선점날짜 :</span><span class="txt">2024.10.27</span></li>
                                                <li class="deadline"><span class="txt">다시 선점요청을 진행해주세요.</span></li>
                                                <li class="num"><span class="tit">견적번호 :</span><span class="txt">RM02938-000002</span>&nbsp;·&nbsp;<span class="tit">제조사 계약번호 : </span><span class="txt">AAAAA0</span></li>
                                            </ul>
                                            <p class="btn"><span class="ir">선점기한만료</span>바로가기</p>
                                        </div>
                                    </a>
                                </li>

                                <li class="swiper-slide">
                                    <a href="javascript:void(0);">
                                        <p  class="intro-tit">배정완료</p>
                                        <div class="intro-con">
                                            <p>
                                                <strong>현대 캐스퍼 2023년형 가솔린 1.0 스마트</strong>
                                            </p>
                                            <ul>
                                                <li class="date"><span class="tit">선점날짜 :</span><span class="txt">2024.10.27</span></li>
                                                <li class="deadline"><span class="tit">예시일 :</span><span class="txt">2024.10.29&nbsp;&nbsp;&nbsp;&nbsp;23:59:59</span></li>
                                                <li class="num"><span class="tit">견적번호 :</span><span class="txt">RM02938-000002</span>&nbsp;·&nbsp;<span class="tit">제조사 계약번호 : </span><span class="txt">AAAAA0</span></li>
                                            </ul>
                                            <p class="btn"><span class="ir">배정완료</span>바로가기</p>
                                        </div>
                                    </a>
                                </li>

                            </ul>
                            <div class="swiper-controller">
                                <div class="swiper-scrollbar-area">
                                    <div class="swiper-scrollbar"></div>
                                </div>
                                <div class="swiper-button-area">
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                        </div>
                        <!--E: 결과 있을 경우-->

                        <!--S: 결과 없을 경우-->
                        <!-- <div class="introResult-area noData">
                            <div class="con">
                                <p>선구매 차량, 배정완료 차량이 있을 경우<br/>
                                    To-Do List에 노출됩니다.</p>
                            </div>
                        </div> -->
                        <!--E: 결과 없을 경우-->

                    </div>
                </section>

                <section class="mainSec-myStatus">
                    <div class="inner">
                        <div class="intro-box">
                            <h2>
                                <em>최근 2주 이내</em>
                                <strong>나의 현황조회</strong>
                            </h2>
                        </div>
                        <div class="introListSlider swiper">
                            <ul class="introList-area swiper-wrapper">
                                <li class="swiper-slide"><a href="javascript:void(0);"><p class="tit">견적</p><p class="num">3건</p><span class="btn">자세히보기</span></a></li>
                                <li class="swiper-slide"><a href="javascript:void(0);"><p class="tit">심사</p><p class="num">3건</p><span class="btn">자세히보기</span></a></li>
                                <li class="swiper-slide"><a href="javascript:void(0);"><p class="tit">발주배정</p><p class="num">3건</p><span class="btn">자세히보기</span></a></li>
                                <li class="swiper-slide"><a href="javascript:void(0);"><p class="tit">약정펀딩</p><p class="num">3건</p><span class="btn">자세히보기</span></a></li>
                                <li class="swiper-slide"><a href="javascript:void(0);"><p class="tit">인도</p><p class="num">3건</p><span class="btn">자세히보기</span></a></li>
                            </ul>
                            <div class="swiper-controller">
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                                <div class="swiper-pagination"></div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="mainSec-myPerfo">
                    <div class="inner">
                        <h2 class="ir">나의 실적 보기</h2>
                        <a href="javascript:void(0);"><em>나의 실적을 한눈에!</em><strong>최근 1달, 나의 실적과 전체 실적을 확인해 보세요</strong><img class="img" src="../../resources/images/main/ic_my_graph.png" alt=""></a>
                        <div class="introList-area">
                            <ul>
                                <li><strong class="tit">렌터카<span>(2024.10.11 ~ 2024.11.10)</span></strong><strong class="txt">00.000.000<span>원</span></strong></li>
                                <li><strong class="tit">오토리스<span>(2024.10.21 ~ 2024.11.10)</span></strong><strong class="txt">00.000.000<span>원</span></strong></li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section class="mainSec-myEstimate">
                    <div class="inner">
                        <h2>어떤 견적서를 작성하시겠어요?</h2>
                        <ul class="introList-area">
                            <li><a href="javascript:void(0);"><p class="tit">일정기간 빌려쓰는 자동차!</p><p class="btn">렌터카 견적내기</p></a></li>
                            <li><a href="javascript:void(0);"><p class="tit">조건에 따라 소유권을 이전받을 수 있는!</p><p class="btn">오토리스 견적내기</p></a></li>
                            <li><a href="javascript:void(0);"><p class="tit">내가 미리 구매한 자동차로!</p><p class="btn">선구매 겨적내기</p></a></li>
                        </ul>
                    </div>
                </section>

                <section class="mainSec-notice">
                    <div class="inner">
                        <div class="introList-area">
                            <div class="intro-tit">
                                <h2>공지사항</h2>
                            </div>
                            <div class="intro-con">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <span class="txt">공지사항 제목이 최대 1줄까지 노출되고 말줄임 처리 공지사항 제목이 최대 1줄까지 노출되고 말줄임 처리</span><span class="date">2024.08.26</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <span class="txt">공지사항 제목이 최대 1줄까지 노출되고 말줄임 처리 공지사항 제목이 최대 1줄까지 노출되고 말줄임 처리</span><span class="date">2024.08.26</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <span class="txt">공지사항 제목이 최대 1줄까지 노출되고 말줄임 처리 공지사항 제목이 최대 1줄까지 노출되고 말줄임 처리</span><span class="date">2024.08.26</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="javascript:void(0);" class="btn"><span class="ir">공지사항</span>더보기</a>
                            </div>
                        </div>
                        <div class="introList-area">
                            <div class="intro-tit">
                                <h2>자료실</h2>
                            </div>
                            <div class="intro-con">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <span class="txt">자료실 제목이 최대 1줄까지 노출되고 말줄임 처리 자료실 제목이 최대 1줄까지 노출되고 말줄임 처리</span><span class="date">2024.08.26</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <span class="txt">자료실 제목이 최대 1줄까지 노출되고 말줄임 처리 자료실 제목이 최대 1줄까지 노출되고 말줄임 처리</span><span class="date">2024.08.26</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);">
                                            <span class="txt">자료실 제목이 최대 1줄까지 노출되고 말줄임 처리 자료실 제목이 최대 1줄까지 노출되고 말줄임 처리</span><span class="date">2024.08.26</span>
                                        </a>
                                    </li>
                                </ul>
                                <a href="javascript:void(0);" class="btn"><span class="ir">자료실</span>더보기</a>
                            </div>
                        </div>
                    </div>
                </section>

            </div>
            <!-- //e:contents -->
            <!--s: scrollTop-->
            <button class="btn btn-top" type="button"><span class="ir">탑버튼</span></button>
            <!--//e: scrollTop-->
        </div>
        <!-- //e:contentWrap -->
        <!-- s:footer -->
        <div id="footerWrap">
            <script>
                $(document).ready(function () {
                    $("#footerWrap").load("../INCLUDE/inc_footer.html");
                });
            </script>
        </div>
        <!-- //e:footer -->
    </div>
</body>

<script>
    $(document).ready(function() {

        //TO-DO-LIST
        var introTodoSlider  = new Swiper(".introTodoSlider", {
            slidesPerView: 2, // Default
            spaceBetween: 24,
            watchOverflow: false,
            initialSlide:0,
            scrollbar: {
                el: ".swiper-scrollbar",
                draggable: true,
            },
            pagination: {
                el: ".swiper-pagination",
                type: "fraction",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                1200: {
                    slidesPerView: 2
                },
                0: {
                    slidesPerView: 1
                }
            }
        });

        //나의 현황조회
        var introListSlider = new Swiper(".introListSlider", {
            slidesPerView: 5, // Default
            pagination: {
                el: ".swiper-pagination",
                type: "fraction"
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
                clickable: true,
            },
            breakpoints: {
                1200: {
                    slidesPerView: 5
                },
                860: {
                    slidesPerView: 2
                },
                0: {
                    slidesPerView: 1
                }
            }
        });
        
    });

</script>

</html>