<html lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ORIX Capital</title>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="keywords" content="ORIX Capital keywords" />
    <meta name="description" content="ORIX Capital description" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">

    <link rel="shortcut icon" type="image/x-icon" href="../../resources/favicon.png" />
    <link rel="icon" type="image/x-icon" href="../../resources/favicon.png" />
    
    <link rel="stylesheet" href="../../resources/css/lib/swiper-bundle.min.css">
    <link rel="stylesheet" href="../../resources/css/lib/renewal.css">
    <link rel="stylesheet" href="../../resources/css/lib/default.css">
    <link rel="stylesheet" href="../../resources/css/ui/jquery-ui.css">
    <link rel="stylesheet" href="../../resources/css/ui/datepicker.css">
    
    <script type="text/javascript" src="../../resources/js/ui/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/jquery-1.12.4.min.js"></script>
    <script  type="text/javascript" src="../../resources/js/ui/jquery-ui-1.12.1.js"></script>

    <script type="text/javascript" src="../../resources/js/lib/default.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/datepicker.js"></script>
</head>

<body>
    <!--//wrap-->
    <div class="wrap">
        <!-- //headerWrap -->
        <div id="headerWrap">
			<script>
			$(document).ready(function(){
				document.charset="euc-kr";
				$("#headerWrap").load("../include/inc_header.html");
			});
			</script>
        </div>
        <!-- headerWrap// -->
        <!-- //menuWrap -->
        <div id="menuWrap">
            <script>
            $(document).ready(function(){
                document.charset="euc-kr";
                $("#menuWrap").load("../include/inc_all_menu.html");
            });
            </script>
        </div>
	    <!-- menuWrap// -->
        <form>
            <!--//contents-wrap-->
            <div class="contents-wrap">
                css와 js 경로 및 headerWrap, menuWrap인크루드 경로가 잘 연결되었는지 확인해주세요.
            </div>
            <!--contents-wrap//-->
        </form>
    </div>
    <!--wrap//-->
    <div id="lyPullPop02" class="layerpopup laypop-all" style="display: block;">
		<div class="content-wrap">
			<div class="pop-header">
				<h2 class="pop-title">동의약관</h2>
				<button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
			</div>

			<div class="ly-con-wrap" id="">
                <p class="terms-title">[필수]대출신청 전자서명 동의</p>
                <div class="terms-text-wrap">
                    <dl class="terms-text-style1">
                        <dt>[SK텔레콤 귀중]</dt>
                        <dd>본인은 SK텔레콤(주) (이하 “회사” 라 합니다.)가 제공하는 본인확인 서비스(이하 “서비스” 라 합니다.)를 이용하기 위해, 다으모가 같이 “회사”가 본인의 개인정보를 수집ㆍ이용하고,  개인정보의 취급을 위탁하는 것에 동의합니다.</dd>
                    </dl>
                    <ul class="terms-text-style2">
                        <li class="terms-tit">1. 수집항목</li>
                        <li>이용자의 성명, 이동전화번호, 가입한 이동전화회사, 생년월일, 성별</li>
                    </ul>
                </div>
			</div>
		</div>
        <div class="fixed-btn-wrap">
            <div class="btn-wrap">
                <button type="button" class="btn btn-primary">확인</button>
            </div>
        </div>
	</div>
,</body>
</html>