<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="keywords" content="ORIX Capital keywords">
    <meta name="description" content="ORIX Capital description">

    <meta property="og:locale" content="ko_KR" />
    <meta property="og:type" content="website" />

    <title>마이페이지 > 기타서류제출 > 상세보기</title>

    <link href="../../resources/css/lib/default.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/lib/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/ui/ui_common.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/lib/img.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/ui/media-query.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="../../resources/js/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/ui_common.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/ui_plugin.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/default.js"></script>

</head>
<body>
    <!-- S: skipnavi -->
    <div id="skipnavi">
        <script>
            $(document).ready(function(){
                $("#skipnavi").load("../INCLUDE/inc_skipnavi.html");
            });
        </script>
    </div>
    <!-- E: skipnavi -->
    <div class="wrap">
        <!-- s:header -->
        <div id="headerWrap">
            <script>
                $(document).ready(function(){
                    $("#headerWrap").load("../INCLUDE/inc_header.html");
                });
            </script>
        </div>
        <!-- //e:header -->
         <!-- s:contentWrap -->
        <div id="contentWrap" class="sub-content">
            <!-- s:subvisual-wrap -->
            <div class="subvisual-wrap">
                <div class="breadcrumb-wrap">
                    <ul>
                        <li class="home"><a href="javascript:void(0);">홈</a></li>
                        <li><a href="javascript:void(0);">마이페이지</a></li>
                        <li><a href="javascript:void(0);">기타서류제출</a></li>
                    </ul>
                </div>
                <div class="text-wrap">
                    <h2>기타서류제출</h2>
                </div>
            </div>
            <!-- //e:subvisual-wrap -->
            <!-- s:contents -->
            <div class="contents">
                <div class="nte-wrap">
                    <dl class="nte-view">
                        <dt>
                            <div class="nte-header">
                                <span class="tit">홍길동 고객님 운전자보험 서류</span>
                                <ul class="text-after style4">
                                    <li>팀이름</li>
                                    <li>담당자명</li>
                                </ul>
                            </div>
                        </dt>
                        <dd>
                            <div class="notice-contents" id="content"><!--D:게시글 본문 들어가는 부분-->
                                <p>견적번호 20240822-00000000</p>
                                <p>홍길동 고객님 운전자보험 서류입니다.</p>
                            </div>
                        </dd>
                    </dl>
                    <!-- 기타서류제출 상세보기에는 다운로드X -->
                    <div class="download-wrap no">
                        <a href="javascript:void(0);">20240822-00000000_운전자보험서류_page 1.pdf</a>
                        <a href="javascript:void(0);">운전자보험서류_page.pdf</a>
                        <a href="javascript:void(0);">홍길동 고객님 가족관계 증명서.pdf</a>
                    </div>
                    <div class="movepage">
                        <ul>
                            <li>
                                이전 글
                                <ul>
                                    <li class="tit"><a href="javascript:void(0);">이전글 제목</a></li>
                                    <li class="date">2024.08.24</li>
                                    <li class="left">
                                        <ul class="icon">
                                            <li>첨부파일아이콘</li>
                                            <li>첨부파일아이콘</li>
                                            <li>첨부파일아이콘</li>
                                        </ul>
                                        <span>: 첨부파일</span>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                다음 글
                                <ul>
                                    <li class="tit"><a href="javascript:void(0);">다음글 제목</a></li>
                                    <li class="date">2024.09.02</li>
                                    <li class="right">
                                        <span>첨부파일 :</span>
                                        <ul class="icon">
                                            <li>첨부파일아이콘</li>
                                            <li>첨부파일아이콘</li>
                                            <li>첨부파일아이콘</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-wrap cont">
                        <button type="button" name="button" class="btn btn-cont">목록</button>
                    </div>
                </div>
            </div>
            <!-- //e:contents -->
            <!--s: scrollTop-->
            <button class="btn btn-top" type="button"><span class="ir">탑버튼</span></button>
            <!--//e: scrollTop-->
        </div>
        <!-- //e:contentWrap -->
        <!-- s:footer -->
        <div id="footerWrap">
            <script>
                $(document).ready(function(){
                    $("#footerWrap").load("../INCLUDE/inc_footer.html");
                });
            </script>
        </div>
        <!-- //e:footer -->
    </div>
</body>

</html>