<!DOCTYPE html>
<html lang="ko">

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ORIX Capital</title>
    <meta charset="UTF-8">
    <meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript">
	<meta http-equiv="Content-Style-Type" content="text/css">
	<meta name="keywords" content="ORIX Capital keywords" />
	<meta name="description" content="ORIX Capital description" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
	<!-- 
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>
	-->
	<meta name="apple-mobile-web-app-status-bar-style" content="white" />
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="No-Cache">

	<link rel="shortcut icon" type="image/x-icon" href="../../resources/favicon.png" />
	<link rel="icon" type="image/x-icon" href="../../resources/favicon.png" />

    <link rel="stylesheet" href="../../resources/css/lib/renewal.css">
	<link rel="stylesheet" href="../../resources/css/lib/default.css">
	<link rel="stylesheet" href="../../resources/css/ui/jquery-ui.css">
	<link rel="stylesheet" href="../../resources/css/ui/datepicker.css">
    
	<script type="text/javascript" src="../../resources/js/ui/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/jquery-1.12.4.min.js"></script>
    <script  type="text/javascript" src="../../resources/js/ui/jquery-ui-1.12.1.js"></script>

    <script type="text/javascript" src="../../resources/js/lib/default.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/datepicker.js"></script>

</head>

<body>
    <div class="wrap">
        <!-- //header -->
        <div id="headerWrap">
			<script>
			$(document).ready(function(){
				document.charset="euc-kr";
				$("#headerWrap").load("../include/inc_header.html");
			});
			</script>
        </div>
         <!-- header// -->
        <!-- //menuWrap -->
        <div id="menuWrap">
            <script>
            $(document).ready(function(){
                document.charset="euc-kr";
                $("#menuWrap").load("./include/inc_all_menu.html");
            });
            </script>
        </div>
	    <!-- menuWrap// -->
        <form>
            <div class="contents-wrap">
                <section class="tit-main-area">
                    <p class="tit">차량조회 및 대출한도 확인</p>
                    <p class="text">신규대출을 위해 필요 정보를 입력하세요.</p>
                </section>
                <section class="check-wrap">
                    <div class="input-box-wrap">
                        <div class="input-box">
                            <div class="form-wrap">
                                <div class="form-group">
                                    <label for="" class="essential">차량번호</label>
                                    <input id="" type="text" class="form-control" placeholder="차량번호 입력">
                                </div>
                            </div>
                            <div class="btn-cont-wrap">
                                <a href="#none" class="btn btn-primary disabled">조회</a><!--[D]:비활성화 됐을 경우-->
                            </div>
                            <div class="btn-cont-wrap">
                                <a href="#none" class="btn btn-primary">조회</a><!--[D]:활성화 됐을 경우-->
                            </div>
                        </div>
                    </div>
                </section>
                <section class="result-wrap">
                    <div class="txt-list-wrap">
                        <div class="txt-detail-area result">
                            <div class="txt-detail-header">
                                <p>차량정보 및 대출한도</p>
                            </div>
                            <div class="txt-detail-header no-line">
                                <p>현대 제네시스 GV80 가솔린 3.5 터보<br>
                                    2022년형 / 456바 7891</p>
                            </div>
                            <ul class="txt-list">
                                <li>
                                    <span class="tit">주행거리</span>
                                    <span class="txt">17,000 km</span>
                                </li>
                                <li>
                                    <span class="tit">배기량</span>
                                    <span class="txt">3,500 cc</span>
                                </li>
                                <li>
                                    <span class="tit">적격여부</span>
                                    <span class="txt">취급가능</span>
                                </li>
                                <li>
                                    <span class="tit">대출한도</span>
                                    <span class="txt">5,000 만원</span>
                                </li>
                            </ul>
                        </div>
                        <div class="txt-detail-area result">
                            <div class="txt-detail-header">
                                <p>차량정보 및 대출한도</p>
                            </div>
                            <div class="txt-detail-header no-line">
                                <p>현대 제네시스 GV80 가솔린 3.5 터보<br>
                                    2022년식 / 456바 7891</p>
                            </div>
                            <ul class="txt-list">
                                <li>
                                    <span class="tit">주행거리</span>
                                    <span class="txt">17,000 km</span>
                                </li>
                                <li>
                                    <span class="tit">배기량</span>
                                    <span class="txt">3,500 cc</span>
                                </li>
                                <li>
                                    <span class="tit">적격여부</span>
                                    <span class="txt no">취급불가</span>
                                </li>
                                <li>
                                    <span class="tit">사유</span>
                                    <span class="txt no">침수차량</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
            <div class="fixed-btn-wrap">
                <div class="btn-wrap">
                    <a href="#none" class="btn btn-close">이전</a>
                    <a href="#none" class="btn btn-primary" onclick="openPopup('lySel2')">다음</a>
                </div>
            </div>
        </form>
    </div>
</body>
<!--[D]: 진행불가한 차량일 때 뜨는 알럿-->
<div id="lySel2" class="layerpopup layer-up on" tabindex="0" style="display:block;">
    <div class="content-wrap">
        <div class="pop-header">
            <h2 class="pop-title">진행불가</h2>
        </div>
        <div class="ly-cont-wrap">
            <p class="sub-title">대출이 불가한 차량입니다.<br>다른 차량을 선택해 주세요.</p>
        </div>
        <div class="btn-wrap">
            <a href="#none" class="btn btn-primary confirm">확인</a>
        </div>
    </div>
</div>
<!--진행불가한 차량일 때 뜨는 알럿 :[D]-->
</html>
