<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="keywords" content="ORIX Capital keywords">
    <meta name="description" content="ORIX Capital description">

	<meta property="og:locale" content="ko_KR" />
	<meta property="og:type" content="website" />

	<link href="../../resources/css/default.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/ui_common.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/media-query.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="../../resources/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../resources/js/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript" src="../../resources/js/ui_common.js"></script>
    <script type="text/javascript" src="../../resources/js/ui_plugin.js"></script>
    <script type="text/javascript" src="../../resources/js/default.js"></script>
</head>
<style>
    .home { margin-bottom:10px; }
    .home a { display:block; width:24px; height:24px; font-size:0; background:url("../../index_home.png")no-repeat center center; }
    h4 {
        font-size: 20px;
        font-weight: 700;
        color: #5474C0;
        margin: 20px 0 !important;
    }
</style>

<body>
    <div class="wrap">
        <div id="contentWrap" class="sub-content">
            <div class="contents">
                <div class="home">
                    <a href="../../index.html">홈</a>
                </div>
                <h4>공지사항 아코디언</h4>
                <ul class="accordion-wrap ico">
                    <li class="accordion-info">
                        <a href="#none" class="ques toggleChk">
                            <div class="left">
                                <span class="tit">질문 내용이 들어갑니다 질문 내용이 들어갑니다 질문 내용이 들어갑니다 질문 내용이 들어갑니다</span>
                            </div>
                            <div class="right inline">
                                <span class="btn after-line"><button type="button" class="modifi"><span>수정</span></button><button type="button" class="delete"><span>삭제</span></button></span>
                                <span class="date">2024-08-22</span>
                            </div>
                        </a>
                        <div class="ques-cont">
                            <p>
                                질문 내용이 들어갑니다<br/>
                                질문 내용이 들어갑니다<br/>
                                질문 내용이 들어갑니다<br/>
                                질문 내용이 들어갑니다<br/>
                            </p>
                        </div>
                    </li>

                    <li class="accordion-info">
                        <a href="#none" class="ques toggleChk">
                            <div class="left">
                                <span class="tit">질문 내용이 들어갑니다</span>
                            </div>
                            <div class="right inline">
                                <span class="btn after-line"><button type="button" class="modifi"><span>수정</span></button><button type="button" class="delete"><span>삭제</span></button></span>
                                <span class="date">2024-08-22</span>
                            </div>
                        </a>
                        <div class="ques-cont">
                            <p>
                                질문 내용이 들어갑니다<br/>
                                질문 내용이 들어갑니다<br/>
                                질문 내용이 들어갑니다<br/>
                                질문 내용이 들어갑니다<br/>
                            </p>
                        </div>
                    </li>

                    <li class="accordion-info">
                        <a href="#none" class="ques toggleChk">
                            <div class="left">
                                <span class="tit">질문 내용이 들어갑니다</span>
                            </div>
                            <div class="right inline">
                                <span class="btn after-line"><button type="button" class="modifi"><span>수정</span></button><button type="button" class="delete"><span>삭제</span></button></span>
                                <span class="date">2024-08-22</span>
                            </div>
                        </a>
                        <div class="ques-cont">
                            <p>
                                질문 내용이 들어갑니다<br/>
                                질문 내용이 들어갑니다<br/>
                                질문 내용이 들어갑니다<br/>
                                질문 내용이 들어갑니다<br/>
                            </p>
                        </div>
                    </li>
                </ul>
                <h4>현황조회  아코디언</h4>
                <ul class="accordion-wrap">
                    <li class="accordion-info">
                        <a href="#none" class="ques toggleChk">
                            <div class="left">
                                <span class="date">2024-08-22</span>
                                <span class="tit"><em class="badge02 success">회의</em><span class="after-line"><span>렌터카(정기)_개인수형</span><span>홍길동</span><span>홍길동님 차량 견적 건</span></span></span>
                                <span class="txt">현대 캐스퍼 2023년형 가솔린 1.0 스마트</span>
                            </div>
                            <div class="right inline">
                                <span class="tit posit">가견적</span>
                                <span class="btn"><button type="button" class="del"><span class="ir">삭제</span></button></span>
                            </div>
                        </a>
                        <div class="ques-cont">
                            <p>
                                질문 내용이 들어갑니다<br/>
                                질문 내용이 들어갑니다<br/>
                                질문 내용이 들어갑니다<br/>
                                질문 내용이 들어갑니다<br/>
                            </p>
                        </div>
                    </li>

                    <li class="accordion-info">
                        <a href="#none" class="ques toggleChk">
                            <div class="left">
                                <span class="date">2024-08-22</span>
                                <span class="tit"><em class="badge02 success">회의</em><span class="after-line"><span>렌터카(정기)_개인수형</span><span>홍길동</span><span>홍길동님 차량 견적 건</span></span></span>
                                <span class="txt">현대 캐스퍼 2023년형 가솔린 1.0 스마트</span>
                            </div>
                            <div class="right inline">
                                <span class="tit posit">가견적</span>
                                <span class="btn"><button type="button" class="del"><span class="ir">삭제</span></button></span>
                            </div>
                        </a>
                        <div class="ques-cont">
                            <p>
                                질문 내용이 들어갑니다<br/>
                                질문 내용이 들어갑니다<br/>
                                질문 내용이 들어갑니다<br/>
                                질문 내용이 들어갑니다<br/>
                            </p>
                        </div>
                    </li>

                    <li class="accordion-info">
                        <a href="#none" class="ques toggleChk">
                            <div class="left">
                                <span class="date">2024-08-22</span>
                                <span class="tit"><em class="badge02 success">회의</em><span class="after-line"><span>렌터카(정기)_개인수형</span><span>홍길동</span><span>홍길동님 차량 견적 건</span></span></span>
                                <span class="txt">현대 캐스퍼 2023년형 가솔린 1.0 스마트</span>
                            </div>
                            <div class="right inline">
                                <span class="tit posit">가견적</span>
                                <span class="btn"><button type="button" class="del"><span class="ir">삭제</span></button></span>
                            </div>
                        </a>
                        <div class="ques-cont">
                            <p>
                                질문 내용이 들어갑니다<br/>
                                질문 내용이 들어갑니다<br/>
                                질문 내용이 들어갑니다<br/>
                                질문 내용이 들어갑니다<br/>
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 인크루드 퍼블용 스크립트 :  개발에서는 사용안함-->
	<script>
        $(function(){
            $('div[data-include-path]').each(function(){
                var path = $(this).attr('data-include-path');
                $(this).load(path,function(response,status,xhr){
                    if(status == 'error'){
                        var msg = 'Sory but there was an error:';
                        $(this).html(msg + xhr.status + '' + xhr.statusText);
                    }
                })
            })
        })
    </script>
    <!-- 인크루드 퍼블용 스크립트 :  개발에서는 사용안함-->
</body>
</html>

