<html lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ORIX Capital</title>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="keywords" content="ORIX Capital keywords" />
    <meta name="description" content="ORIX Capital description" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">

    <link rel="shortcut icon" type="image/x-icon" href="../../resources/favicon.png" />
    <link rel="icon" type="image/x-icon" href="../../resources/favicon.png" />
    
    <link rel="stylesheet" href="../../resources/css/lib/swiper-bundle.min.css">
    <link rel="stylesheet" href="../../resources/css/lib/renewal.css">
    <link rel="stylesheet" href="../../resources/css/lib/default.css">
    <link rel="stylesheet" href="../../resources/css/ui/jquery-ui.css">
    <link rel="stylesheet" href="../../resources/css/ui/datepicker.css">
    
    <script type="text/javascript" src="../../resources/js/ui/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/jquery-1.12.4.min.js"></script>
    <script  type="text/javascript" src="../../resources/js/ui/jquery-ui-1.12.1.js"></script>

    <script type="text/javascript" src="../../resources/js/lib/default.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/datepicker.js"></script>
</head>

<body>
    <!--//wrap-->
    <div class="wrap">
        <!-- //headerWrap -->
        <div id="headerWrap">
			<script>
			$(document).ready(function(){
				document.charset="euc-kr";
				$("#headerWrap").load("../include/inc_header.html");
			});
			</script>
        </div>
        <!-- headerWrap// -->
        <!-- //menuWrap -->
        <div id="menuWrap">
            <script>
            $(document).ready(function(){
                document.charset="euc-kr";
                $("#menuWrap").load("../include/inc_all_menu.html");
            });
            </script>
        </div>
	    <!-- menuWrap// -->
        <form>
            <div class="contents-wrap conRegist">
                
            </div>
        </form>
    </div>
    <!--wrap//-->
</body>



<!--//신용조회결과(결과 팝업) - 조회-->
<div id="lySel3" class="layerpopup layer-up on" tabindex="0" style="position: fixed; top: 294px; left: 0px; display: block;">
    <div class="content-wrap">
        <div class="pop-header">
            <h2 class="pop-title">요약 정보 조회사유: 신사목적의 조회</h2>
        </div>
        <div class="ly-cont-wrap">
            <p class="sub-title">※ 확인 시 고객정보가 타인에게 노출 및 유출되지 않도록 각별히 주의하여 주시기 바랍니다.</p>
            <p class="sub-title">조회 하시겠습니까?</p>
        </div>
        <div class="btn-wrap">
            <a href="#none" class="btn btn-close">아니오</a>
            <a href="#none" class="btn btn-primary confirm">예</a>
        </div>
    </div>
</div>
<!--신용조회결과(결과 팝업) - 조회//-->

<!--//신용조회결과(결과 팝업) - 조회내역-->
<div id="lySel4" class="layerpopup layer-up on" tabindex="0" style="position: fixed; top: 294px; left: 0px; display: block;">
    <div class="content-wrap">
        <div class="pop-header">
            <h2 class="pop-title">CSS 간편조회 내역</h2>
            <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
        </div>
        <div class="ly-scroll-con min-height"><!--[D]: 내역 영역-->
            <div class="txt-list-wrap">

                <div class="txt-detail-area">
                    <div class="txt-detail-header">
                        <p>심사 결과 요약</p>
                        <!-- <span class="flag style2">발송 예정</span> -->
                    </div>
                    <ul class="txt-list">
                        <li>
                            <span class="tit">CUT-OFF 결과</span>
                            <span class="txt">수기심사구간</span>
                        </li>
                        <li>
                            <span class="tit">정책 필터링 적발</span>
                            <span class="txt no">N</span>
                        </li>
                        <li>
                            <span class="tit">리스크 필터링 적발</span>
                            <span class="txt no">N</span>
                        </li>
                        <li>
                            <span class="tit">자동거절 여부</span>
                            <span class="txt no">N</span>
                        </li>
                        <li>
                            <span class="tit">자동거절 사유</span>
                            <span class="txt">-</span>
                        </li>
                        <li>
                            <span class="tit">산출 한도</span>
                            <span class="txt">0</span>
                        </li>
                        <li>
                            <span class="tit">한도 충족 여부</span>
                            <span class="txt no">N</span>
                        </li>
                        <li>
                            <span class="tit">심사 결과(1차)</span>
                            <span class="txt">수기심사</span>
                        </li>
                    </ul>
                </div>

                <div class="txt-detail-area">
                    <div class="txt-detail-header">
                        <p>요약 정보</p>
                        <span class="txt">80년생(1)</span>
                    </div>
                    <ul class="txt-list">
                        <li>
                            <span class="tit">NICE신용(추정)등급</span>
                            <span class="txt">6</span>
                        </li>
                        <li>
                            <span class="tit">NICE SCORE</span>
                            <span class="txt">740</span>
                        </li>
                        <li>
                            <span class="tit">최종심사등급</span>
                            <span class="txt">C1</span>
                        </li>
                        <li>
                            <span class="tit">중고승용 (추정)등급</span>
                            <span class="txt">8</span>
                        </li>
                        <li>
                            <span class="tit">추정소득금액</span>
                            <span class="txt">52000</span>
                        </li>
                        <li>
                            <span class="tit">원리금상환액</span>
                            <span class="txt">7687</span>
                        </li>
                        <li>
                            <span class="tit">현재연체건수</span>
                            <span class="txt">0</span>
                        </li>
                        <li>
                            <span class="tit">과거연체건수</span>
                            <span class="txt">0</span>
                        </li>
                    </ul>
                </div>

                <div class="txt-detail-area">
                    <div class="txt-detail-header">
                        <p>연체정보</p>
                    </div>
                    <div class="table-type ta-c table-row table-scroll">
                        <table class="">
                            <caption>연체정보</caption>
                            <colgroup>
                                <col width="*%">
                                <col width="33.333%">
                                <col width="33.333%">
                                <col width="33.333%">
                                <col width="33.333%">
                                <col width="33.333%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="row">N</th>
                                    <th scope="row">기관</th>
                                    <th scope="row">구분</th>
                                    <th scope="row">발생</th>
                                    <th scope="row">구분2</th>
                                    <th scope="row">금액</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="txt-detail-area">
                    <div class="txt-detail-header">
                        <p>신용개설</p>
                    </div>
                    <div class="table-type ta-c table-row table-scroll">
                        <table class="">
                            <caption>신용개설</caption>
                            <colgroup>
                                <col width="*%">
                                <col width="33.333%">
                                <col width="33.333%">
                                <col width="33.333%">
                                <col width="33.333%">
                                <col width="33.333%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="row">N</th>
                                    <th scope="row">기관</th>
                                    <th scope="row">발생</th>
                                    <th scope="row">변동</th>
                                    <th scope="row">금액</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>현대카드</td>
                                    <td>20220816</td>
                                    <td>00000000</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                   
                </div>

                <div class="txt-detail-area">
                    <div class="txt-detail-header">
                        <p>대출정보</p>
                    </div>
                    <div class="table-type ta-c table-row table-scroll">
                        <table class="">
                            <caption>대출정보</caption>
                            <colgroup>
                                <col width="*%">
                                <col width="33.333%">
                                <col width="33.333%">
                                <col width="33.333%">
                                <col width="33.333%">
                                <col width="33.333%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="row">N</th>
                                    <th scope="row">기관</th>
                                    <th scope="row">구분</th>
                                    <th scope="row">발생</th>
                                    <th scope="row">변동</th>
                                    <th scope="row">금액</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>BMW 파이낸셜</td>
                                    <td>일반</td>
                                    <td>20221026</td>
                                    <td>20231228</td>
                                    <td>23979</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                   
                </div>

                <div class="txt-detail-area">
                    <div class="txt-detail-header">
                        <p>대출정보(계좌별)</p>
                    </div>
                    <div class="table-type ta-c table-row table-scroll">
                        <table class="">
                            <caption>대출정보(계좌별)</caption>
                            <colgroup>
                                <col width="*%">
                                <col width="33.333%">
                                <col width="33.333%">
                                <col width="33.333%">
                                <col width="33.333%">
                                <col width="33.333%">
                                <col width="33.333%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="row">N</th>
                                    <th scope="row">기관</th>
                                    <th scope="row">구분</th>
                                    <th scope="row">발생</th>
                                    <th scope="row">변동</th>
                                    <th scope="row">금액</th>
                                    <th scope="row">상세</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>BMW 파이낸셜</td>
                                    <td>일반</td>
                                    <td>20221026</td>
                                    <td>20231228</td>
                                    <td>23979</td>
                                    <td>중고</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                   
                </div>

                <div class="txt-detail-area">
                    <div class="txt-detail-header">
                        <p>현금서비스</p>
                    </div>
                    <div class="table-type ta-c table-row table-scroll">
                        <table class="">
                            <caption>현금서비스</caption>
                            <colgroup>
                                <col width="*%">
                                <col width="33.333%">
                                <col width="33.333%">
                                <col width="33.333%">
                                <col width="33.333%">
                                <col width="33.333%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="row">N</th>
                                    <th scope="row">기관</th>
                                    <th scope="row">구분</th>
                                    <th scope="row">발생</th>
                                    <th scope="row">변동</th>
                                    <th scope="row">금액</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                   
                </div>

                <div class="txt-detail-area">
                    <div class="txt-detail-header">
                        <p>채무보증</p>
                    </div>
                    <div class="table-type ta-c table-row table-scroll">
                        <table class="">
                            <caption>채무보증</caption>
                            <colgroup>
                                <col width="*%">
                                <col width="33.333%">
                                <col width="33.333%">
                                <col width="33.333%">
                                <col width="33.333%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="row">N</th>
                                    <th scope="row">기관</th>
                                    <th scope="row">발생</th>
                                    <th scope="row">변동</th>
                                    <th scope="row">금액</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                   
                </div>

                <div class="txt-detail-area">
                    <div class="txt-detail-header">
                        <p>Fraud SCORE</p>
                    </div>
                    <ul class="txt-list">
                        <li>
                            <span class="tit">점수</span>
                            <span class="txt">41</span>
                        </li>
                        <li>
                            <span class="tit">GRAS 매칭건수</span>
                            <span class="txt">001</span>
                        </li>
                    </ul>
                </div>

                <div class="txt-detail-area">
                    <div class="txt-detail-header">
                        <p>중고차 대출이력</p>
                    </div>
                    <ul class="txt-list">
                        <li>
                            <span class="tit">최근 6개월 내 개설 미상환<br/> 중고차할부(대출) 총 건수</span>
                            <span class="txt">0건</span>
                        </li>
                        <li>
                            <span class="tit">최근 6개월 내 개설된<br/> 중고차할부(대출) 총 건수</span>
                            <span class="txt">0건</span>
                        </li>
                    </ul>
                </div>

                <div class="txt-detail-area">
                    <div class="txt-detail-header">
                        <p>신용평점 구간별</p>
                    </div>
                    <ul class="txt-list">
                        <li>
                            <span class="tit">신용평점구간</span>
                            <span class="txt">하위 10%초과 ~ 20% 이하</span>
                        </li>
                        <li>
                            <span class="tit">하위구간대상</span>
                            <span class="txt yes">Y</span>
                        </li>
                        <li>
                            <span class="tit">LTV 한도율</span>
                            <span class="txt">90%</span>
                        </li>
                        <li>
                            <span class="tit">대출최고한도</span>
                            <span class="txt">2,000만원</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--신용조회결과(결과 팝업) - 조회내역//-->
</html>