<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="keywords" content="ORIX Capital keywords">
    <meta name="description" content="ORIX Capital description">

    <meta property="og:locale" content="ko_KR" />
    <meta property="og:type" content="website" />

    <link href="../../resources/css/lib/default.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/lib/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/ui/ui_common.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/lib/img.css" rel="stylesheet" type="text/css" />
    <link href="../../resources/css/ui/media-query.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="../../resources/js/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/jquery-ui-1.12.1.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/ui_common.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/ui_plugin.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/default.js"></script>

</head>
<style>
    .contents.guide { padding: 15px; }
    .guide .home { margin-bottom: 10px; }
    .guide .home a { display: block; width: 24px; height: 24px; font-size: 0; background: url("../../index_home.png")no-repeat center center; }
    .guide .code h4 { margin-bottom: 5px; }

    /* color css */
    .guide .code .border { margin-bottom: 20px; padding: 20px; border: 1px solid #33333323; border-radius: 15px; }
    .guide .code .border .onclick { width:100%; color:var(--white); background:var(--primary); }
    .guide .code .border .onclick + .onclick { margin-top:20px; }
    .guide .code .border .form-wrap+p { margin-top: 20px; }
    .guide .code .border > p { font-size: 14px; font-weight: bold; }
</style>

<body>
    <div class="wrap">
        <div id="contentWrap" class="sub-content">
            <div class="contents guide">
                <div class="home">
                    <a href="../../index.html">홈</a>
                </div>
                <div class="code">
                    <section>
                        <h4>팝업-기본</h4>
                        <div class="border">
                            <button class="btn onclick" onclick="openPopup('PopUp01')">팝업</button>
                        </div>
                        <h4>팝업-scroll</h4>
                        <div class="border">
                            <button class="btn onclick" onclick="openPopup('PopUp02')">팝업</button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <!-- 인크루드 퍼블용 스크립트 :  개발에서는 사용안함-->
    <script>
        $(function () {
            $('div[data-include-path]').each(function () {
                var path = $(this).attr('data-include-path');
                $(this).load(path, function (response, status, xhr) {
                    if (status == 'error') {
                        var msg = 'Sory but there was an error:';
                        $(this).html(msg + xhr.status + '' + xhr.statusText);
                    }
                })
            })
        })
    </script>
    <!-- 인크루드 퍼블용 스크립트 :  개발에서는 사용안함-->
</body>
<div id="PopUp01" class="layerpopup laypop" tabindex="0">
    <div class="content-wrap">
        <div class="pop-header">
            <h3 class="pop-title">Title</h3>
            <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
        </div>
        <div class="ly-con-wrap">
            <dl>
                <dt class="tit">본문 타이틀 내용이 들어갑니다.</dt>
                <dd>
                    본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다.
                </dd>
            </dl>
            <p class="tit">본문 타이틀 내용이 들어갑니다.</p>
        </div>
        <div class="btn-wrap popup">
            <button type="button" name="button" class="btn btn-bottom">확인</button>
        </div>
    </div>
</div>
<div id="PopUp02" class="layerpopup laypop" tabindex="0">
    <div class="content-wrap">
        <div class="pop-header">
            <h3 class="pop-title">Title</h3>
            <button type="button" name="button" class="btn-layer-close" data-focus="btn-layer-close">닫기</button>
        </div>
        <div class="ly-con-wrap ly-scroll-con">
            <dl>
                <dt class="tit">본문 타이틀 내용이 들어갑니다.</dt>
                <dd>
                    본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다.
                </dd>
            </dl>
            <p class="tit">본문 타이틀 내용이 들어갑니다.</p>
            <dl>
                <dt class="tit">본문 타이틀 내용이 들어갑니다.</dt>
                <dd>
                    본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다.
                </dd>
            </dl>
            <p class="tit">본문 타이틀 내용이 들어갑니다.</p>
            <dl>
                <dt class="tit">본문 타이틀 내용이 들어갑니다.</dt>
                <dd>
                    본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다.
                </dd>
            </dl>
            <p class="tit">본문 타이틀 내용이 들어갑니다.</p>
            <dl>
                <dt class="tit">본문 타이틀 내용이 들어갑니다.</dt>
                <dd>
                    본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다.
                </dd>
            </dl>
            <p class="tit">본문 타이틀 내용이 들어갑니다.</p>
            <dl>
                <dt class="tit">본문 타이틀 내용이 들어갑니다.</dt>
                <dd>
                    본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다.
                </dd>
            </dl>
            <p class="tit">본문 타이틀 내용이 들어갑니다.</p>
            <dl>
                <dt class="tit">본문 타이틀 내용이 들어갑니다.</dt>
                <dd>
                    본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다.
                </dd>
            </dl>
            <p class="tit">본문 타이틀 내용이 들어갑니다.</p>
            <dl>
                <dt class="tit">본문 타이틀 내용이 들어갑니다.</dt>
                <dd>
                    본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다.
                </dd>
            </dl>
            <p class="tit">본문 타이틀 내용이 들어갑니다.</p>
            <dl>
                <dt class="tit">본문 타이틀 내용이 들어갑니다.</dt>
                <dd>
                    본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다.
                </dd>
            </dl>
            <p class="tit">본문 타이틀 내용이 들어갑니다.</p>
            <dl>
                <dt class="tit">본문 타이틀 내용이 들어갑니다.</dt>
                <dd>
                    본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다. 본문 내용이 들어갑니다.
                </dd>
            </dl>
            <p class="tit">본문 타이틀 내용이 들어갑니다.</p>
        </div>
        <div class="btn-wrap popup">
            <button type="button" name="button" class="btn btn-close" data-focus="btn-layer-close">취소</button>
            <button type="button" name="button" class="btn btn-bottom">확인</button>
        </div>
    </div>
</div>
</html>