<html lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ORIX Capital</title>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="keywords" content="ORIX Capital keywords" />
    <meta name="description" content="ORIX Capital description" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="No-Cache">

    <link rel="shortcut icon" type="image/x-icon" href="../../resources/favicon.png" />
    <link rel="icon" type="image/x-icon" href="../../resources/favicon.png" />
    
    <link rel="stylesheet" href="../../resources/css/lib/swiper-bundle.min.css">
    <link rel="stylesheet" href="../../resources/css/lib/renewal.css">
    <link rel="stylesheet" href="../../resources/css/lib/default.css">
    <link rel="stylesheet" href="../../resources/css/ui/jquery-ui.css">
    <link rel="stylesheet" href="../../resources/css/ui/datepicker.css">
    
    <script type="text/javascript" src="../../resources/js/ui/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/ui/jquery-1.12.4.min.js"></script>
    <script  type="text/javascript" src="../../resources/js/ui/jquery-ui-1.12.1.js"></script>

    <script type="text/javascript" src="../../resources/js/lib/default.js"></script>
    <script type="text/javascript" src="../../resources/js/lib/datepicker.js"></script>
</head>

<body>
    <!--//wrap-->
    <div class="wrap">
        <!-- //headerWrap -->
        <div id="headerWrap">
			<script>
			$(document).ready(function(){
				document.charset="euc-kr";
				$("#headerWrap").load("../include/inc_header.html");
			});
			</script>
        </div>
        <!-- headerWrap// -->
        <!-- //menuWrap -->
        <div id="menuWrap">
            <script>
            $(document).ready(function(){
                document.charset="euc-kr";
                $("#menuWrap").load("../include/inc_all_menu.html");
            });
            </script>
        </div>
	    <!-- menuWrap// -->
        <form>
            <!--//contents-wrap-->
            <div class="contents-wrap">
            
                <section class="urgency-wrap type-spread">
                    <div class="urgency-area">
                        <a href="#none">비대면 모바일 플랫폼 구축 TF팀 긴급 회의</a>
                    </div>
                </section>
                <section class="form-wrap">
                    <div class="accordion-cont-wrap">
                        <div class="accordion-item">
                            <div class="accordion">
                                <button type="button" class="btn-accordion">· (주)카마스터 상사</button>
                                <div class="accordion-cont form-wrap">
                                    <div class="table-type ta-c table-row table-scroll">
                                        <table class="">
                                            <caption>재고금융 테이블</caption>
                                            <colgroup>
                                                <col width="33.333%">
                                                <col width="33.333%">
                                                <col width="33.333%">
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="row">개설연도</th>
                                                    <th scope="row">사용금액</th>
                                                    <th scope="row">잔여한도</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>10,000만원</td>
                                                    <td>6,000만원</td>
                                                    <td>4,000만원</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                 
                                    <div class="txt-detail-area result">
                                        <ul class="txt-list">
                                            <li>
                                                <span class="tit">금월결제예정금액(15일)</span>
                                                <span class="txt">5건 / 1,200만원</span>
                                            </li>
                                            <li>
                                                <span class="tit">금월만기</span>
                                                <span class="txt">3건 / 2,500만원</span>
                                            </li>
                                            <li>
                                                <span class="tit">금월연체</span>
                                                <span class="txt">1건 / 200만원</span>
                                            </li>
                                            <li>
                                                <span class="tit">상환금 납입 가상계좌</span>
                                                <span class="txt">스탠다드차타드은행</span>
                                            </li>
                                            <li>
                                                <span class="txt">471-16-123456789
                                                </span>
                                            </li>
                                            <li>
                                                <span class="txt">오릭스캐피탈 코리아(주)</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <ul class="txt-list li-box">
                                        <li>
                                            <span class="tit">약정만기 2024.12.31</span>
                                            <span class="txt">적용금리 6.0%</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rc-gray type-spread"></div>
                </section>
                <section class="check-wrap type-spread">
                    <div class="form-wrap">
                        <div class="form-group">
                            <label for="">대출 목록</label>
                            <div class="form-row">
                                <div class="col">
                                    <input id="" type="text" class="form-control" placeholder="차량번호를 입력해 주세요">
                                </div>
                                <button class="btn btn-txt search-img" type="button">검색</button>
                            </div>
                        </div>
                    </div>
                    <div class="tabs-wrap round-list">
                        <div class="tabs">
                            <ul class="tab-item">
                                <li data-tab="tab-cont01" class="on"><a href="#none" title="선택됨">당월만기</a></li>
                                <li data-tab="tab-cont02"><a href="#none">상환대상</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section class="result-wrap mt0">
                    <div class="tab-content-area">
                        <div id="tab-cont01" class="tab-content">
                            <div class="txt-list-wrap">
                                <div class="txt-detail-area result">
                                    <div class="txt-detail-header">
                                        <p><span class="tit">123가 4567</span></p>
                                        <span class="flag style2">신규</span>
                                    </div>
                                    <div class="txt-detail-header no-line">
                                        <p>현대 제네시스 GV80 가솔린 3.5 터보<br>
                                            2022년형</p>
                                    </div>
                                    <div class="table-type table-col table-scroll">
                                        <table>
                                            <caption>신용조회 동의 완료 고객 선택 테이블</caption>
                                            <colgroup>
                                                <col width="40%">
                                                <col width="*">
                                            </colgroup>
                                        
                                            <tbody>
                                                <tr>
                                                    <th scope="col">당월만기</th>
                                                    <td class="tit">(연장가능) <span class="yes">Y</span></td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">연체여부</th>
                                                    <td class="no">N</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <ul class="txt-list">
                                        <li>
                                            <span class="tit">대출금액</span>
                                            <span class="txt">3,000만원</span>
                                        </li>
                                        <li>
                                            <span class="tit">적용금리</span>
                                            <span class="txt">6.0%</span>
                                        </li>
                                        <li>
                                            <span class="tit">납부회차</span>
                                            <span class="txt">2회차 / 3개월</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="txt-detail-area result">
                                    <div class="txt-detail-header">
                                        <p><span class="tit">321도 1004</span></p>
                                        <span class="flag style1">연장</span>
                                    </div>
                                    <div class="txt-detail-header no-line">
                                        <p>아우디 S7 4.0 TFSL 콰트로 4G<br>
                                            2015년형</p>
                                    </div>
                                    <div class="table-type table-col table-scroll">
                                        <table>
                                            <caption>신용조회 동의 완료 고객 선택 테이블</caption>
                                            <colgroup>
                                                <col width="40%">
                                                <col width="*">
                                            </colgroup>
                                        
                                            <tbody>
                                                <tr>
                                                    <th scope="col">당월만기</th>
                                                    <td class="tit">(연장가능) <span class="yes">Y</span></td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">연체여부</th>
                                                    <td class="yes">Y</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <ul class="txt-list">
                                        <li>
                                            <span class="tit">대출금액</span>
                                            <span class="txt">4,200만원</span>
                                        </li>
                                        <li>
                                            <span class="tit">적용금리</span>
                                            <span class="txt">6.0%</span>
                                        </li>
                                        <li>
                                            <span class="tit">납부회차</span>
                                            <span class="txt">3회차 / 3개월</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="result-area nodata"><!--[D]:조회 결과가 없을 경우-->
                                    <div class="txt-wrap">
                                        <p class="tit">조회결과가 없습니다</p>
                                    </div>
                                    <div class="btn-cont-wrap center">
                                        <a href="#none" type="button" class="btn reset">초기화</a>
                                    </div><!-- [퍼블]: 1/31 버튼 추가-->
                                </div>
                            </div>
                        </div>
                        <div id="tab-cont02" class="tab-content dp-none">
                            <div class="txt-list-wrap click">
                                <div class="txt-detail-area result">
                                    <div class="txt-detail-header">
                                        <p><span class="tit">123가 4567</span></p>
                                        <span class="flag style2">신규</span>
                                    </div>
                                    <div class="txt-detail-header no-line">
                                        <p>현대 제네시스 GV80 가솔린 3.5 터보<br>
                                            2022년형</p>
                                    </div>
                                    <div class="table-type table-col table-scroll">
                                        <table>
                                            <caption>신용조회 동의 완료 고객 선택 테이블</caption>
                                            <colgroup>
                                                <col width="40%">
                                                <col width="*">
                                            </colgroup>
                                        
                                            <tbody>
                                                <tr>
                                                    <th scope="col">당월만기</th>
                                                    <td class="tit">(연장가능) <span class="yes">Y</span></td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">연체여부</th>
                                                    <td class="no">N</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <ul class="txt-list">
                                        <li>
                                            <span class="tit">대출금액</span>
                                            <span class="txt">3,000만원</span>
                                        </li>
                                        <li>
                                            <span class="tit">적용금리</span>
                                            <span class="txt">6.0%</span>
                                        </li>
                                        <li>
                                            <span class="tit">납부회차</span>
                                            <span class="txt">2회차 / 3개월</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="txt-detail-area result">
                                    <div class="txt-detail-header">
                                        <p><span class="tit">123가 4567</span></p>
                                        <span class="flag style1">연장</span>
                                    </div>
                                    <div class="txt-detail-header no-line">
                                        <p>아우디 S7 4.0 TFSL 콰트로 4G<br>
                                            2015년형</p>
                                    </div>
                                    <div class="table-type table-col table-scroll">
                                        <table>
                                            <caption>신용조회 동의 완료 고객 선택 테이블</caption>
                                            <colgroup>
                                                <col width="40%">
                                                <col width="*">
                                            </colgroup>
                                        
                                            <tbody>
                                                <tr>
                                                    <th scope="col">당월만기</th>
                                                    <td class="tit">(연장가능) <span class="yes">Y</span></td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">연체여부</th>
                                                    <td class="yes">Y</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <ul class="txt-list">
                                        <li>
                                            <span class="tit">대출금액</span>
                                            <span class="txt">4,200만원</span>
                                        </li>
                                        <li>
                                            <span class="tit">적용금리</span>
                                            <span class="txt">6.0%</span>
                                        </li>
                                        <li>
                                            <span class="tit">납부회차</span>
                                            <span class="txt">3회차 / 3개월</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="txt-detail-area result">
                                    <div class="txt-detail-header">
                                        <p><span class="tit">234나 5678</span></p>
                                        <span class="flag style1">연장</span>
                                    </div>
                                    <div class="txt-detail-header no-line">
                                        <p>벤틀리 플라잉스퍼 3세대 4.0<br>
                                            2023년형</p>
                                    </div>
                                    <div class="table-type table-col table-scroll">
                                        <table>
                                            <caption>신용조회 동의 완료 고객 선택 테이블</caption>
                                            <colgroup>
                                                <col width="40%">
                                                <col width="*">
                                            </colgroup>
                                        
                                            <tbody>
                                                <tr>
                                                    <th scope="col">당월만기</th>
                                                    <td class="tit">(연장가능) <span class="yes">Y</span></td>
                                                </tr>
                                                <tr>
                                                    <th scope="col">연체여부</th>
                                                    <td class="no">N</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <ul class="txt-list">
                                        <li>
                                            <span class="tit">대출금액</span>
                                            <span class="txt">5,000만원</span>
                                        </li>
                                        <li>
                                            <span class="tit">적용금리</span>
                                            <span class="txt">6.0%</span>
                                        </li>
                                        <li>
                                            <span class="tit">납부회차</span>
                                            <span class="txt">4회차 / 5개월</span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="result-area nodata"><!--[D]:조회 결과가 없을 경우-->
                                    <div class="txt-wrap">
                                        <p class="tit">조회결과가 없습니다</p>
                                    </div>
                                    <div class="btn-cont-wrap center">
                                        <a href="#none" type="button" class="btn reset">초기화</a>
                                    </div><!-- [퍼블]: 1/31 버튼 추가-->
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!--contents-wrap//-->
            <div class="fixed-btn-wrap">
                <div class="btn-wrap">
                    <button type="button" class="btn btn-close">간편시세조회</button>
                    <button type="button" class="btn btn-primary">대출신청</button>
                </div>
            </div>
        </form>
    </div>
    <!--wrap//-->
</body>
</html>
